#cover{width:100%;height:512px;background-size:cover;position:absolute;top:32px;left:0;z-index:0}
#summary{height:512px;margin-top:-16px;color:#fcfaf2;background-color:rgba(32,32,32,0.6);position:relative;z-index:100}#summary>h1{margin-top:8px;margin-bottom:0;text-shadow:0 0 3px rgba(255,255,255,0.6)}
#summary>img#photo{width:100%;height:auto;display:block}
#summary>table{width:86%;color:#fcfaf2}#summary>table td.value{text-align:right}
table a{font-size:130%}
table a._state-1{color:#0f0;background:}
table a._state-2{color:#ffeb00;background:}
table a._state-3{color:#ed784a;background:}
table a._state-4{color:#fcfaf2;background:}
table td._state{text-align:center}
