<!-- <link rel="stylesheet" type="text/css" href="/oj/acct.css"> -->
<!-- exist -->

<style>
    #cover {
        height: 512px;
        background-size: cover;
    }

    #summary {
      height: 512px;
      margin-top: -512px;
      color: #FCFAF2;
      background-color: rgba(32, 32, 32, 0.6);
      position: relative;
      z-index: 100;
    }
    #summary > img#photo {
      width: 100%;
      height: auto;
      display: block;
      border-radius: 10px;
    }
    #summary > h1 {
      margin-top: 8px;
      margin-bottom: 0px;
      text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.6);
    }
    #summary > table {
      width: 86%;
      color: #FCFAF2;
    }
    #summary > table td.value {
      text-align: right;
    }
    #summary > table td.value a {
      color: #0F0;
      font-size: 100%;
    }

    table td._state {
        text-align: center;
    }

    a._state-1 {
	    color:#0F0;
    }
    a._state-2 {
	    color:#ffeb00;
    }
    a._state-3 {
	    color:#ed784a;
    }
</style>

<script id="contjs" type="text/javascript" photo="{{ acct.photo }}" cover="{{ acct.cover }}">
    function init() {
        let photo = $('#contjs').attr('photo');
        let cover = $('#contjs').attr('cover');

        if (photo == '') {
            photo = 'https://www.gravatar.com/avatar/{{ acct.acct_id }}?d=identicon&f=y&s=480;'
        }
        if (cover == '') {
            cover = 'https://i.imgur.com/D5IKr7d.jpg';
        }

        $('#photo').attr('src', photo);
        $('#cover').css('background-image','url(' + cover + ')');
    }
</script>

<div class="row">
    <div id="cover"></div>
    <div class="row">
        <div id="summary" class="col-lg-3 col-sm-4">
            <h1>{{ acct.name }}</h1>
            <img id="photo">
        </div>
    </div>
</div>

<div class="row mt-lg-3">
    <div class="col-lg-3">
        <form id="profile">
            <h1>人物簡介</h1>

            <h3>Motto</h3>
            <p>{{ acct.motto }}</p>

            <h3>基本情報</h3>

            <table class="table">
                <tbody>
                    <tr>
                        <td>Score</td>
                        <td style="text-align: right;">{{ rate['rate'] }}</td>
                    </tr>
                    <tr>
                        <td>Accepted</td>
                        <td style="text-align: right;">{{ rate['ac_pro_cnt'] }}</td>
                    </tr>
                    <tr>
                        <td>AC Ratio</td>
                        <td style="text-align: right;">
                            {% if rate['all_cnt'] == 0 %}
                                0.0%
                            {% else %}
                                {{ round(((rate['ac_cnt'] / rate['all_cnt']) * 100), 1) }}%
                            {% end %}
                            (
                            <a style="color: #0F0;" href="/oj/chal/?acctid={{ acct.acct_id }}&state=1">{{ rate['ac_cnt'] }}</a>
                            /
                            <a style="color: #0F0" href="/oj/chal/?acctid={{ acct.acct_id }}">{{ rate['all_cnt'] }}</a>
                            )
                        </td>
                    </tr>
                </tbody>
            </table>
            {% if acct.acct_id == acct_id %}
                <a class="btn btn-primary" href="/oj/acctedit/{{ acct.acct_id }}/">Edit My Account</a>
            {% elif isadmin %}
                <a class="btn btn-primary" href="/oj/acctedit/{{ acct.acct_id }}/">Edit Account Password</a>
            {% end %}
        </form>
    </div>
    <div class="col-lg-9">
        <table class="table" style="font-size: 130%;" border="1px" bordercolor="gray">
            <tbody>
                {% set count = 0 %}
                {% for pro in prolist%}
                    {% if count == 10 %}
                    </tr>
                    {% set count = 0 %}
                    {% end %}
                    {% if count == 0 %}
                    <tr>
                    {% end %}
                    {% if pro['score'] == 100 %}
                    <td class="_state"><a class="_state-1" href="/oj/pro/{{pro['pro_id']}}/">{{pro['pro_id']}}</a></td>
                    {% elif pro['score'] == -1 %}
                    <td class="_state"><a class="_state-4" href="/oj/pro/{{pro['pro_id']}}/">{{pro['pro_id']}}</a></td>
                    {% elif pro['score'] >= 50 %}
                    <td class="_state"><a class="_state-2" href="/oj/pro/{{pro['pro_id']}}/">{{pro['pro_id']}}</a></td>
                    {% else %}
                    <td class="_state"><a class="_state-3" href="/oj/pro/{{pro['pro_id']}}/">{{pro['pro_id']}}</a></td>
                    {% end %}
                {% set count = count + 1 %}
                {% end %}
                {%if count != 10%}
                {% while count != 10 %}
                    <td></td>
                    {% set count = count + 1 %}
                {% end %}
                </tr>
                {% end %}
	        </tbody>
       </table>
    </div>
</div>
