{% import math %}
{% from services.chal import ChalConst %}
{% from services.board import BoardConst %}
<style>
  /* from https://www.astralweb.com.tw/pure-css-implementation-table-headers-columns-fixed/ */
  /* freeze table head like excel */
  table {
    table-layout: fixed;
    border-collapse: separate !important;
    border-spacing: 0 !important;
    border-left: 1px solid #444;
    border-top: 1px solid #444;
  }

  table th, table td {
    border-right: 1px solid #444 !important;
    border-bottom: 1px solid #444 !important;
    box-sizing: border-box;
  }
  table thead tr th {
    position: sticky;
    top: 0;
    z-index: 3;
  }

  @media only screen and (min-width: 992px) {
    td._rank, th._rank {
      position: sticky;
      left: 0;
      z-index: 3;
    }

    td._acct, tr th._acct {
      position: sticky;
      left: 64px;
      z-index: 3;
    }

    td._score, tr th._score {
      position: sticky;
      left: 214px;
      z-index: 3;
    }
  }

  table thead th._rank,
  table thead th._acct,
  table thead th._score {
    z-index: 5;
  }

  table th._rank, table td._rank {
    width: 64px;
    text-align: center;
  }

  table th._acct, table td._acct {
    width: 150px;
    text-align: center;
  }

  table th._score, table td._score {
    width: 112px;
    text-align: center;
  }

  table th._pro, table td._pro {
    width: 96px;
    text-align: center;
  }

  table td._acct {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  table tr._summary td._rank{
    border-right: none !important;
  }

  table tr._summary td._acct{
    border-left: none !important;
    border-right: none !important;
  }

  table tr._summary td._score{
    border-left: none !important;
  }

  table td._state-0 a {
    color: #DC0000;
  }
  table td._state-1 a {
    color: #DC2000;
  }
  table td._state-2 a {
    color: #DC5800;
  }
  table td._state-3 a {
    color: #DC8400;
  }
  table td._state-4 a {
    color: #DEB000;
  }
  table td._state-5 a {
    color: #DCDC00;
  }
  table td._state-6 a {
    color: #CADC00;
  }
  table td._state-7 a {
    color: #C0DC00;
  }
  table td._state-8 a {
    color: #B0DC00;
  }
  table td._state-9 a {
    color: #8DDC00;
  }
  table td._state-10 a {
    color: #00dc00;
    font-weight: bolder;
  }
  tr {
    line-height: 32px;
  }
  thead > tr {
    line-height: 48px;
  }
</style>

<script type="text/javascript" id="contjs">
  var board = document.getElementById('board');
  // board.style.scrollBehavior = 'smooth'
  board.addEventListener('scroll', () => {
    window.localStorage.setItem('board_scoll_left', board.scrollLeft)
  }, false)

  $("#topScrollBar").scroll(function() {
    $("#board").scrollLeft($(this).scrollLeft());
  });
  $("#board").scroll(function() {
    $("#topScrollBar").scrollLeft($(this).scrollLeft());
  });

  $("#showSelf").on('change', function (e) {
    let clicked = $(this).is(":checked");
    $("tbody > tr").each((idx, el) => {
      el = $(el);
      if (!el.hasClass("_self")) {
        if (clicked) el.hide();
        else el.show();
      }
    });
  });

  setTimeout(() => {
    var board = document.getElementById('board');
    if (window.localStorage.getItem('board_scoll_left')) {
      const board_old_scroll_left = parseInt(window.localStorage.getItem('board_scoll_left'))
      board.scrollLeft = board_old_scroll_left
    }
  }, 50);
  var end = new Date('{{ end }}').getTime();
  var j_contest = $('#contest');

  function GetCount() {
    var j_count = $('#count');

    let now = new Date().getTime();
    let secs = Math.floor((end - now) / 1000);
    let ss = 0, mm = 0, hh = 0, dd = 0;
    ss = Math.floor(secs % 60);
    if (secs > 0) {
      dd = Math.floor(secs / 86400);
      secs %= 86400;
      hh = Math.floor(secs / 3600);
      secs %= 3600;
      mm = Math.floor(secs / 60) % 60;

      const getS = (number) => {
        return number > 1 ? 's': '';
      };
      j_count.text(`${dd} Day${getS(dd)} ${hh} Hour${getS(hh)} ${mm} Minute${getS(mm)} ${ss} Second${getS(ss)} Left`);
      setTimeout(() => GetCount(), 1000);
    } else {
      j_count.text('Over');
    }
  }

  function init() {
    GetCount();
  }
  j_contest.find('#cont').on('change', function(e) {
    var board_id = $(this).val();
    index.go(`{{ url('/board/${board_id}/') }}`);
  });
</script>

<div class="col-lg-12">
  <div class="d-grid gap-2 mb-2">
    <div id="contest" class="d-grid gap-2">
      <strong>Standings</strong>
      <select class="form-select" id="cont">
        {% for board in board_list %}
          {% if not user.is_kernel() and board['status'] != BoardConst.STATUS_ONLINE %}
            {% continue %}
          {% end %}
          <option value="{{ board['board_id'] }}" {% if board['name'] == name %}selected{% end %}>{{ board['name'] }}</option>
        {% end %}
      </select>
    </div>
    <h3 id="count"></h3>
    <div>
      <input type="checkbox" id="showSelf" class="form-check-input">
      <label class="form-check-label" for="showSelf">Only Show Myself</label>
    </div>
  </div>
  <div style="overflow-x: scroll; overflow-y: hidden;" id="topScrollBar">
    <div style="height: 8px; width:{{9+64+150+112+len(prolist)*96}}px;"></div>
  </div>
  <div class="col-lg-12" id="board" style="overflow-x: scroll; max-height: 100vh;">
    <table class="table table-hover table-sm table-bordered table-responsive-sm col" style="width:{{9+64+150+112+len(prolist)*96}}px;">
      <thead>
        <tr>
          <th class="_rank">Rank</th>
          <th class="_acct">User</th>
          <th class="_score">Score</th>
          {% for pro in prolist %}
            <th class="_pro"><a href="{{ url(f'/pro/{ pro.pro_id }/') }}">{{ pro.pro_id }}</a></th>
          {% end %}
        </tr>
      </thead>
      <tbody>
        {% for acct in acctlist %}
        {% set acct_id = acct.acct_id %}
        <tr {% if acct_id == user.acct_id %} style="--bs-table-bg: #123456;" class="_self" {% end %}>
          <td class="_rank">{{ acct.rank }}</td>
          <td class="_acct"><a href="{{ url(f'/acct/{ acct_id }/') }}">{{ acct.name }}</a></td>
          <td class="_score"><a href="{{ url(f'/chal/?acct_id={ acct_id }') }}">{{ acct.rate }} / {{ acct_submit[acct_id] }}</a></td>
          {% for pro in prolist %}
            {% set pro_id = pro.pro_id %}
            {% if acct_id in ratemap and pro_id in ratemap[acct_id] %}
              {% set rate = ratemap[acct_id][pro_id] %}
              {% set sc = math.floor(rate['rate'] / 10) %}
              {% if rate['state'] == ChalConst.STATE_AC %}
                {% set sc = 10 %}
              {% end %}

              <td class="_pro _state-{{ sc }} _state"><a href="{{ url(f'/chal/?acct_id={ acct_id }&pro_id={ pro_id }&state=0') }}">{{ rate['rate'] }} / {{ rate['count'] }}</a></td>
            {% else %}
              <td class="_pro _state">&nbsp;</td>
            {% end %}
          {% end %}
        </tr>
        {% end %}
        <tr class="_summary">
            <td class="_rank">&nbsp;</td>
            <td class="_acct" style="text-align: right;">score / submit</td>
            <td class="_score">&nbsp;</td>
            {% for pro in prolist %}
            {% set pro_id = pro.pro_id %}
                <td class="_pro _state">{{pro_sc_sub[pro_id][0]}} / {{pro_sc_sub[pro_id][1]}}</td>
            {% end %}
        </tr>
      </tbody>
    </table>
  </div>
</div>
