{% from services.chal import ChalService %}

<link rel="stylesheet" type="text/css" href="/oj/chal.css">
<!-- <link rel="stylesheet" type="text/css" href="/oj/pygments.css"> -->
<link rel="stylesheet" href="/oj/third/prism.css">
<script src="/oj/third/prism.js"></script>

<script type="text/javascript">
    var ws;
    var state_map = {
        1: 'Accepted',
        2: 'Wrong Answer',
        3: 'Runtime Error',
        4: 'Time Limit Exceed',
        5: 'Memory Limit Exceed',
        6: 'Compile Error',
        7: 'Internal Error',
        100: 'Challenging',
        101: 'Not Started'
    };

    function init() {
        const chal_id = {{ chal['chal_id'] }};
        let ws_link = '';
        if (location.protocol !== 'https:') {
            ws_link = `ws://${location.hostname}/oj/be/chalstatesub`;
        } else {
            ws_link = `wss://${location.hostname}/oj/be/chalstatesub`;
        }
	    ws = new WebSocket(ws_link);

        if ((document.querySelectorAll('td.state-100').length == 0 && document.querySelectorAll('td.state-101') == 0)) {
        } else {
            function update_state_data(chal_state_data) {
                var states = document.querySelectorAll('tr.states');
                let print = document.querySelector('div.print');
                states.forEach(function(element, idx, arr) {
                    let state = element.querySelector('td.state');
                    state.innerHTML = state_map[chal_state_data[idx]['state']];
                    state.className = `state state-${chal_state_data[idx]['state']}`;
                    element.querySelector('td.runtime').innerHTML = chal_state_data[idx]['runtime'];
                    element.querySelector('td.memory').innerHTML = Math.round((chal_state_data[idx]['memory'] / 1024));
                });
                index.reload();
            };

            ws.onopen = function(e) {
                ws.send(chal_id);
            };

            ws.onmessage = function(e) {
                var chal_state_data = JSON.parse(e['data']);
                update_state_data(chal_state_data);
            };
        }

        {% if rechal == True %}
        $('#rechal').on('click', function(e) {
            $.post('/oj/be/submit', {
                'reqtype': 'rechal',
                'chal_id': {{ chal['chal_id'] }},
            }, function(res) {
                if (res[0] == 'E') {
                    if (res == 'Ejudge') {
                        $("div.print").print('All Judge Server Offline');
                    }
                } else {
                    index.reload();
                }
            });
        });
        {% end %}

        {% if chal['code'] == True %}

        let code_txt = '';
	    $.post('/oj/be/code', {
	        'chal_id': {{chal['chal_id']}},
	    }, function(res) {
            res = JSON.parse(res);
            let code = $("#code");
            code.attr("data-language", res.comp_type);
            code.find("code").addClass(`language-${res.comp_type}`);
            code.find("code").html(res.code);

            $.getScript('/oj/third/prism.js');
	    });

        $('#report_pro_button').on('click', function(e) {
            index.go('/oj/report/?chal_id={{ chal['chal_id'] }}');
        });

        {% end %}
    }

    function destroy() {
        ws.close();
    }
</script>

<div class="row">
    <div class="col-lg-4">
        <table id="info" class="table">
            <thead>
                <tr>
                    <th>Key</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Challenge</td>
                    <td>{{ chal['chal_id'] }}</td>
                </tr>
                <tr>
                    <td>Problem</td>
                    <td><a href="/oj/pro/{{ pro['pro_id'] }}/">{{ pro['pro_id'] }} / {{ pro['name'] }}</a> (<a href="/oj/chal/?proid={{ pro['pro_id'] }}">chals</a>)</td>
                </tr>
                <tr>
                    <td>Compiler</td>
                    <td>{{ chal['comp_type'] }}</td>
                </tr>
                <tr>
                    <td>Account</td>
                    <td><a href="/oj/acct/{{ chal['acct_id'] }}/">{{ chal['acct_name'] }}</a> (<a href="/oj/chal/?acctid={{ chal['acct_id'] }}">chals</a>)</td>
                </tr>
                <tr>
                    <td>Timestamp</td>
                    <td class="time">{{ chal['timestamp'].strftime('%Y-%m-%d %H:%M:%S') }}</td>
                </tr>
            </tbody>
        </table>

    {% if rechal == True and chal['code'] == True %}
        <button id="rechal" class="btn btn-warning">Rechallenge</button>
        <!-- <button id="compile_info_button" class="btn btn-primary">Hidden Compile Info</button> -->
        <div class="print"></div>
    {% elif chal['code'] == True %}
        <!-- <button id="compile_info_button" class="btn btn-primary">Hidden Compile Info</button> -->
        <button id="report_pro_button" class="btn btn-warning">Report Problem</button>
        <div class="print"></div>
    {% end %}
    </div>

    <div class="col-lg-8">
        <table id="test" class="table">
            <thead>
                <tr>
                    <th>Test</th>
                    <th>State</th>
                    <th>Runtime</th>
                    <th>Memory</th>
                </tr>
            </thead>
            <tbody>
            {% for test in chal['testl'] %}
                <tr class="states">
                    <td class="idx">{{ '%04d'%(test['test_idx'] + 1) }}</td>
                    <td class="state state-{{ test['state'] }}">{{ ChalService.STATE_STR[test['state']] }}</td>
                    <td class="runtime">{{ test['runtime'] }}</td>
                    <td class="memory">{{ round(test['memory'] / 1024) }}</td>
                </tr>
            {% end %}
            </tbody>
        </table>
    </div>
</div>

{% if chal['code'] == True %}

{% if chal['response'] != '' %}
    <div class="panel panel-default mt-3">
        <div class="panel-heading">
            <span>Compilation Error Message</span>
            <span class="material-symbols-outlined ms-auto" data-bs-toggle="collapse" data-bs-target="#compileInfo" aria-expanded="false" aria-controls="compileInfo">
                expand_more
            </span>
        </div>
        <div class="panel-body">
            <pre class="collapse show" id="compileInfo" style="margin-top: 32px;">
                {{ chal['response'] }}
            </pre>
        </div>
    </div>
{% end %}

<!-- <div class="g-r" style="margin-top:32px;">
    <div id="_code"></div>
</div>
-->

<pre id="code" class="line-numbers" data-language="" data-prismjs-copy="Copy Code" data-prismjs-copy-error="Copy Failed!!!" data-prismjs-copy-success="Copy Success!!!"><code class=""></code></pre>
{% end %}

