{% import math %}
{% from services.chal import ChalService %}

<link rel="stylesheet" type="text/css" href="/oj/challist.css">

<script type="text/javascript">
    var ws;
    var chalsub_count;
    var re = /[^0-9,\ ]/

    function init() {
        var j_filter = $('#filter');
        var j_chalsub = $('#chalsub');
	    j_filter.find('input, select').keypress(function(e) {

	        if (e.keyCode == 13) {
                //KeyCode 13 means Enter
		        var proid = j_filter.find('input.proid').val();
		        var acctid = j_filter.find('input.acctid').val();
		        var stat = j_filter.find('select.state').val();
		        var url = '/oj/chal/';

                if (re.test(proid) || re.test(acctid)) {
                    alert('請輸入數字、逗號與空白做查詢，範例：1, 2, 3')
                    j_filter.find('input.proid').val('')
                    j_filter.find('input.acctid').val('')
                    return
                }

		        if (proid != '') {
		            url += '?proid=' + proid;
		            if (acctid != '') {
		        	    url += '&acctid=' + acctid;
		            }
		            url += '&state=' + stat;
		        } else if (acctid != '') {
		            url += '?acctid=' + acctid;
		            url += '&state=' + stat;
		        } else {
		            url += '?state=' + stat;
		        }
		        index.go(url);
            }
	    });

        j_filter.find('button.submit').on('click', function(e) {
            var proid = j_filter.find('input.proid').val();
            var acctid = j_filter.find('input.acctid').val();
	        var stat = j_filter.find('select.state').val();
            var url = '/oj/chal/';

            if (re.test(proid) || re.test(acctid)) {
                alert('請輸入數字、逗號與空白做查詢，範例：1, 2, 3')
                j_filter.find('input.proid').val('')
                j_filter.find('input.acctid').val('')
                return
            }

            if(proid != '') {
                url += '?proid=' + proid;
                if(acctid != '') {
                    url += '&acctid=' + acctid;
                }
		        url += '&state=' + stat;
            } else if (acctid != '') {
                url += '?acctid=' + acctid;
		        url += '&state=' + stat;
	        } else {
		        url += '?state=' + stat;
	        }

            index.go(url);
        });

        j_chalsub.on('click', function(e) {
            index.reload();
        });

        chalsub_count = 0;

        let ws_link = '';
        if (location.protocol !== 'https:') {
            ws_link = `ws://${location.hostname}/oj/be/chalsub`;
        } else {
            ws_link = `wss://${location.hostname}/oj/be/chalsub`;
        }
	    ws = new WebSocket(ws_link);

	    ws.onopen = function(e) {

	    };

	    ws.onmessage = function(e) {
            chalsub_count += 1;
            j_chalsub.find('a').text(chalsub_count + ' new challenges');
            j_chalsub.show();
        };

        var chalids = {{ chalids }};
        $('#rechalall').on('click', function(e) {
            chalids.forEach(function(chalid) {
                $.post('/oj/be/submit', {
                    'reqtype': 'rechal',
                    'chal_id': chalid,
                });
            });
            index.reload();
        });
    }

    function destroy() {
        ws.close();
    }
</script>

<div class="g-lg-2">
    <table id="filter">
        <thead>
            <tr>
                <th colspan=2>過濾器</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan=2><input class="proid" type="text" value="{% if flt['pro_id'] != None %}{{ ppro_id }}{% end %}" placeholder="Problem ID"></td>
            </tr>
            <tr>
		<td colspan=2><input class="acctid" type="text" value="{% if flt['acct_id'] != None %}{{ pacct_id }}{% end %}" placeholder="Account ID"></td>
	    </tr>
	    <tr>
		<td>
		    <label>Your ID : {{acct['acct_id']}}</label>
		</td>
	    </tr>
	    <tr>
		<td colspan=2>
		    <select class="state">
			    <option value=0 {% if flt['state'] == 0 %}selected{% end %}>All</option>
			    <option value=1 {% if flt['state'] == 1 %}selected{% end %}>AC</option>
			    <option value=2 {% if flt['state'] == 2 %}selected{% end %}>WA</option>
			    <option value=3 {% if flt['state'] == 3 %}selected{% end %}>RE</option>
			    <option value=4 {% if flt['state'] == 4 %}selected{% end %}>TLE</option>
			    <option value=5 {% if flt['state'] == 5 %}selected{% end %}>MLE</option>
			    <option value=6 {% if flt['state'] == 6 %}selected{% end %}>CE</option>
			    <option value=7 {% if flt['state'] == 7 %}selected{% end %}>IE</option>
			    <option value=100 {% if flt['state'] == 100 %}selected{% end %}>Challenging</option>
			    <option value=101 {% if flt['state'] == 101 %}selected{% end %}>Not started</option>
		    </select>
		</td>
	    </tr>
            </tr>
	    </td></tr>
	    <tr>
            <td colspan=2>
                <button class="btn-con btn-sm submit">go</button><br>
            </td>
        </tr>
        {% if (flt['state'] == 100 or flt['state'] == 101) and isadmin %}
	    <tr>
            <td colspan=2>
                <button id="rechalall" class="btn-wrn btn-sm">Rechallenge all</button>
            </td>
        </tr>
        {% end %}

        </tbody>
    </table>
</div>
<div class="g-lg-10">
    <table id="challist">
        <thead>
            <tr>
                <th>#</th>
                <th>Problem</th>
                <th>Account</th>
                <th>State</th>
                <th>Runtime</th>
                <th>Memory</th>
                <th>Compiler</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            <tr id="chalsub" style="cursor:pointer; display:none;">
                <td colspan=3></td>
                <td colspan=4><a href="" style="color:#58B2DC"></a></td>
            </tr>
        {% for chal in challist %}
            <tr>
                <td><a href="/oj/chal/{{ chal['chal_id'] }}/">{{ chal['chal_id'] }}</a></td>
                <td><a href="/oj/pro/{{ chal['pro_id'] }}/">{{ chal['pro_id'] }}</a></td>
                <td><a href="/oj/acct/{{ chal['acct_id'] }}/">{{ chal['acct_name'] }}</a></td>
                <td class="state-{{ chal['state'] }}">{{ ChalService.STATE_STR[chal['state']] }}</td>
                <td>{{ chal['runtime'] }}</td>
                <td>{{ round(chal['memory'] / 1024) }}</td>
                <td>{{ chal['comp_type'] }}</td>
                <td class="time">{{ chal['timestamp'].strftime('%Y-%m-%d %H:%M:%S') }}</td>
            </tr>
        {% end %}
        </tbody>
    </table>
    <ul class="pagin">

    {% set postfix = '' %}
    {% if flt['pro_id'] != None %}
        {% set postfix = postfix + '&proid=%s'%ppro_id %}
    {% end %}
    {% if flt['acct_id'] != None %}
        {% set postfix = postfix + '&acctid=%s'%pacct_id %}
    {% end %}
    {% if flt['state'] != 0 %}
        {% set postfix = postfix + '&state=%s'%flt['state']%}
    {% end %}
        <li><a href="?off=0{{ postfix }}">&#x21e4;</a></li>
    {% set ct = math.floor(pageoff / 20) %}
    {% set st = min(max(0,ct - 9),
        max(0,math.ceil(chalstat['total_chal'] / 20) - 19))%}
    {% for i,off in enumerate(range(st * 20,
        min(chalstat['total_chal'],st * 20 + 380),20)) %}
        <li{% if ct == (i + st) %} class="active"{% end %}><a href="?off={{ str(off) + postfix }}">{{ i + 1 + st }}</a></li>
    {% end %}
    </ul>
</div>
