{% from services.chal import ChalConst %}
<link rel="stylesheet" href="/oj/third/prism.css">

<script type="text/javascript">
    var ws;
    var state_map = {
        {% for state, desc in ChalConst.STATE_LONG_STR.items() %}
            {% raw f"{state}: '{desc}'," %}
        {% end %}
    };

    function init() {
        const chal_id = "{{ chal['chal_id'] }}";
        const contest_id = "{{ chal['contest_id'] }}";
        ws = index.get_ws("chalnewstatesub");

        if ((document.querySelectorAll('td.state-{{ ChalConst.STATE_JUDGE }}').length == 0 && document.querySelectorAll('td.state-{{ ChalConst.STATE_NOTSTARTED }}') == 0)) {
        } else {
            function update_state_data(chal_state_data) {
                var states = document.querySelectorAll('tr.states');
                states.forEach(function(element, idx, arr) {
                    let state = element.querySelector('td.state');
                    state.innerHTML = state_map[chal_state_data[idx]['state']];
                    state.className = `state state-${chal_state_data[idx]['state']}`;
                    element.querySelector('td.runtime').innerHTML = chal_state_data[idx]['runtime'];
                    element.querySelector('td.memory').innerHTML = Math.round((chal_state_data[idx]['memory'] / 1024));
                    element.querySelector('td.score').innerHTML = chal_state_data[idx]['rate'];
                });
                index.reload();
            };

            ws.onopen = function(e) {
                ws.send(chal_id);
            };

            ws.onmessage = function(e) {
                var chal_state_data = JSON.parse(e['data']);
                update_state_data(chal_state_data);
            };
        }

        {% if rechal == True %}
        $('#rechal').on('click', function(e) {
            let url = '';
            {% if chal['contest_id'] == 0 %}
                url = '/oj/be/submit';
            {% else %}
                url = '/oj/be/contests/{{ chal['contest_id'] }}/submit';
            {% end %}
            $.post(url, {
                'reqtype': 'rechal',
                'chal_id': chal_id,
            }, function(res) {
                if (res[0] == 'E') {
                    if (res == 'Ejudge') {
                        index.show_notify_dialog('All Judge Server Offline!!!', index.DIALOG_TYPE.warning);
                    }
                } else {
                    index.reload();
                }
            });
        });
        {% end %}

        let code_txt = '';
	    $.post('/oj/be/code', {
	        'chal_id': chal_id,
	    }, function(res) {
            if (res == 'Eacces') {
                return;

            }

            res = JSON.parse(res);
            let code = $("#code");
            code.attr("data-language", res.comp_type);
            code.find("code").addClass(`language-${res.comp_type}`);
            code.find("code").html(res.code);

            $.getScript('/oj/third/prism.js');
	    });

        {% if user.acct_id == chal['acct_id'] %}
        $('#report_pro_button').on('click', function(e) {
            index.go(`/oj/report/?chal_id=${chal_id}`);
        });

        {% end %}
    }

    function destroy() {
        ws.close();
    }
</script>

<div class="row">
    <div class="col-lg-4">
        <table id="info" class="table">
            <thead>
                <tr>
                    <th>Key</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Challenge</td>
                    <td>{{ chal['chal_id'] }}</td>
                </tr>
                <tr>
                    <td>Problem</td>
                    {% if chal['contest_id'] == 0 %}
                    <td>
                        <a href="/oj/pro/{{ pro['pro_id'] }}/">{{ pro['pro_id'] }} / {{ pro['name'] }}</a> (<a href="/oj/chal/?proid={{ pro['pro_id'] }}">chals</a>)
                    </td>
                    {% else %}
                    <td>
                        <a href="/oj/contests/{{ chal['contest_id']}}/pro/{{ pro['pro_id'] }}/">{{ pro['pro_id'] }} / {{ pro['name'] }}</a> (<a href="/oj/contests/{{ chal['contest_id'] }}/chal/?proid={{ pro['pro_id'] }}">chals</a>)
                    </td>
                    {% end %}
                </tr>
                <tr>
                    <td>Compiler</td>
                    <td>{{ chal['comp_type'] }}</td>
                </tr>
                <tr>
                    <td>Account</td>
                    {% if chal['contest_id'] == 0 %}
                    <td>
                        <a href="/oj/acct/{{ chal['acct_id'] }}/">{{ chal['acct_name'] }}</a> (<a href="/oj/chal/?acctid={{ chal['acct_id'] }}">chals</a>)
                    </td>
                    {% else %}
                    <td>
                        <a href="/oj/acct/{{ chal['acct_id'] }}/">{{ chal['acct_name'] }}</a> (<a href="/oj/contests/{{ chal['contest_id'] }}/chal/?acctid={{ chal['acct_id'] }}">chals</a>)
                    </td>
                    {% end %}
                </tr>
                <tr>
                    <td>Timestamp</td>
                    <td class="time">{{ chal['timestamp'].strftime('%Y-%m-%d %H:%M:%S') }}</td>
                </tr>
            </tbody>
        </table>

    {% if rechal == True %}
        <button id="rechal" class="btn btn-warning">Rechallenge</button>
    {% end %}
    {% if chal['acct_id'] == user.acct_id %}
        <button id="report_pro_button" class="btn btn-warning">Report Problem</button>
    {% end %}
    </div>

    <div class="col-lg-8">
        <table id="test" class="table">
            <thead>
                <tr>
                    <th>Test</th>
                    <th>State</th>
                    <th>Runtime(ms)</th>
                    <th>Memory(KB)</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
            {% for test in chal['testl'] %}
                <tr class="states">
                    <td class="idx">{{ '%04d'%(test['test_idx'] + 1) }}</td>
                    <td class="state state-{{ test['state'] }}">{{ ChalConst.STATE_LONG_STR[test['state']] }}</td>
                    <td class="runtime">{{ test['runtime'] }}</td>
                    <td class="memory">{{ round(test['memory'] / 1024) }}</td>
                    <td class="score">{{ test['rate'] }}</td>
                </tr>
            {% end %}
            </tbody>
        </table>
    </div>
</div>


{% if chal['response'] != '' %}
    <div class="panel panel-default mt-3" id="response">
        <div class="panel-heading">
            <span>Compilation Error Message</span>
            <span class="material-symbols-outlined ms-auto" data-bs-toggle="collapse" data-bs-target="#compileInfo" aria-expanded="false" aria-controls="compileInfo">
                expand_more
            </span>
        </div>
        <div class="panel-body">
            <pre class="collapse show" id="compileInfo" style="margin-top: 32px;">
                {{ chal['response'] }}
            </pre>
        </div>
    </div>
{% end %}

<pre id="code" class="line-numbers"
    data-language=""
    data-prismjs-copy="複製" data-prismjs-copy-error="Copy Failed!!!" data-prismjs-copy-success="Copy Success!!!">
    <code class=""></code>
</pre>

