<link rel="stylesheet" type="text/css" href="/oj/info.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<style>

</style>

<script type="text/javascript">
function init() {

}
</script>
<div class="container">
  <div class="row g-lg-12">
    <h1>NTOJ Devlog</h1>

    <div class="release">
      <div class="row">
        <h3 class="col-3">v2.0.0</h3>
        <h5 class="col-3 offset-2"></h5>
      </div>
      <br>
    </div>

    <div class="row">
      <h4 class="col-3">After v2.0</h4>
      <h4 class="col-8">Made by Moon and tobiichi3227</h4>
    </div>
    <hr>

    <div class="release">
      <div class="row">
        <h3 class="col-3">v1.4.0</h3>
        <h5 class="col-3 offset-2">19 Jul 2023</h5>
      </div>
      <br>
      <div class="row">
        <h5 class="col-3">Improvements</h5>
        <div>
          - <b>time zone:</b> Change to UTC+08:00
        </div>
      </div>
      <br><br>
    </div>

    <div class="release">
      <div class="row">
        <h3 class="col-3">v1.3.0</h3> 
        <h5 class="col-3 offset-2">16 May 2023</h5>
      </div>
      <br>
      <div class="row">
        <h5 class="col-3">Features</h5>
        <div>
          - <b>language:</b> 新增Python3與Rust支持 (python3較不穩定)
        </div> 
      </div>
      <br><br>
    </div>
    
    <div class="release">
      <div class="row">
        <h3 class="col-3">v1.2.10</h3>
        <h5 class="col-3 offset-2">21 Apr 2023</h5>
      </div>
      <br>
      <div class="row">
        <h5 class="col-3">Features</h5>
        <div>
          - <b>navbar:</b> add Dev Info</pre>
        </div>
      </div>
      <br>
      <div class="row g-2">
        <h5 class="col-3">Improvements</h5>
        <div>
          - <b>challenges:</b> show compile error UI
        </div>
      </div>
      <br><br>
    </div>

    <div class="release">      
      <div class="row">
        <h3 class="col-3">v1.2.9</h3>
        <h5 class="col-3 offset-2">02 Mar 2023</h5>
      </div>
      <div class="row">
        <h5 class="col-3">Features</h5>
        <br>
        <div>
          - add api function 
        </div>
      </div>
      <br>
      <div class="row">
        <h5 class="col-3">Fixes</h5>
        <br>
        <div>
          - list_pro() bug
        </div>
      </div>
      <br><br>
    </div>

    <div class="release">
      <div class="row">
        <h3 class="col-3">v1.2.8</h3>
        <h5 class="col-3 offset-2">17 Feb 2023</h5>
      </div>
      <div class="row">
        <h5 class="col-3">Features</h5>
        <br>
        <div>
          - <b>judge: </b> offline announcement
        </div>
      </div>
      <br>
      <div class="row">
        <h5 class="col-3">Improvements</h5>
        <br>
        <div>
          - <b>judge:</b> 優化心跳偵測
        </div>
      </div>
      <br>
      <div class="row">
        <h5 class="col-3">Fixes</h5>
        <br>
        <div>
          - <b>judge:</b> infinite loop bug
        </div>
      </div>
      <br><br>
    </div>

    <div class="release">
      <div class="row">
        <h3 class="col-3">v1.2.7</h3>
        <h5 class="col-3 offset-2">08 Feb 2023</h5>
      </div>
      <div class="row">
        <h5 class="col-3">Improvements</h5>
        <br>
        <div>
          - <b>challenges filter:</b> prevent user using incorrect searching format <br>
          - <b>problemset filter:</b> prevent user using incorrect searching format
        </div>
      </div>
      <br><br>
    </div>
    
    <h3 class="col-3">v1.2.6</h3>
    <h5 class="col-3 offset-2">07 Feb 2023</h5>
    <pre>
      現在可以重新初始化題目了 (過往只要第一次上傳錯誤，該題就不能用了)
      題目更新頁面新增JSON線上編輯器，可以直接修改題目設定檔 (xiplus的建議)
    </pre>
    
    <h3 class="col-3">v1.2.5</h3>
    <h5 class="col-3 offset-2">01 Feb 2023</h5>
    <pre>
      修正了無法修改密碼的錯誤
  </pre>
  
  <h3 class="col-3">v1.2.4</h3>
  <h5 class="col-3 offset-2">30 Jan 2023</h5>
  <pre>
    修正了loglist頁面的小錯誤
  </pre>
  
  <h3 class="col-3">v1.2.3</h3>
  <h5 class="col-3 offset-2">13 Jan 2023</h5>
  <p>
    challenge page show CE reason
    board頁面現在會紀錄上次滾動位置
    同時平滑的滾動過去 (覺得醜可以改掉，前提是你們有看到)
    
    註：久違的NTOJ更新
  </p>
  
  <h3 class="col-3">v1.2.2</h3>
  <div class="col-2 offset-2">12 Nov 2022</div>
  <pre>
    fix upload problem bug, https://github.com/tobiichi3227/NTOJ/issues/1
    fix cannot rechallenge all
    fix websocket connect error
    fix cannot save problem file
    clean up code
  </pre>
  
  <h3 class="col-3">v1.2.1</h3>
  <div class="col-2 offset-2">07 Nov 2022</div>
  <pre>
    rank page fix (原code中的/oj/rank.css根本就沒有，然後舊版居然能跑???
  </pre>

  <h3 class="col-3">v1.2.0</h3>
  <div class="col-2 offset-2">17 Oct 2022</div>
  <pre>
    Judge與Chal分離
    實現多路Judge
    重寫Judge心跳服務
    更新了Manage-Judge界面
    優化list_pro的SQL Query
    正確關閉部份redis, websocket, postgresql連線
    challenge page show information
  </pre>
  <div class="col-2 offset-2">19 Oct 2022</div>
  <pre>
    Log紀錄加上log type
    Log頁面可以由type分類
      把我亂改的arrow function改回來
    </pre>
    <div class="col-2 offset-2">22 Oct 2022</div>
    <pre>
      優化AC Ratio query
      config.py可以寫server_name了
      JudgeService優化
    </pre>
    <div class="col-2 offset-2">26 Oct 2022</div>
    <pre>
      fix show tags when problem didn't accepted
      fix not show tags when admin
      optimized pro tags
      fix get user ac ratio bug (didn't unpackb data)
    </pre>
    <div class="col-2 offset-2">27 Oct 2022</div>
    <pre>
      Record group operation to log
    </pre>
    <div class="col-2 offset-2">31 Oct 2022</div>
    <pre>
      change manage-judge log record message
      fix manage-judge bug (twice finish)
    </pre>
    <div class="col-2 offset-2">01 Nov 2022</div>
    <pre>
      fix can't submit question bug
    </pre>
    <div class="col-2 offset-2">02 Nov 2022</div>
    <pre>
      clean code
      remove some unnecessary redis cache del operation
    </pre>
    <div class="col-2 offset-2">04 Nov 2022</div>
    <pre>
      unload some unnecessary js code (such as pdf.js ...)
    </pre> 

  <h3 class="col-3">v1.1.0 changelog</h3>
  <div class="col-2 offset-2">16 Oct 2022</div>
  <pre>
    SQL連線全部改成Connection Pool模式
    redis模塊改成aioredis，全部使用async/await
    部份SQL query優化
    部份函數優化 (使用redis做cache
    ChalSub與InformSub實現完成
    Challenge的state改用WebSocket實現 (ChalstateSub)
    Challenge page code get once
    可以自訂Inform文字的顏色
    JS Code排版
    在acct頁面新增用戶的User AC Ratio (參考TIOJ)
    修正了登入跳轉不會正確顯示帳號名稱的問題
    JudgeServer下線時不顯示submit頁面，直接用JudgeServer Offline
  </pre>
    
  <h3 class="col-3">v1.1.0</h3>
    <div class="col-2 offset-2">14 Nov 2022</div>
    <pre>
      SQL全部用connection pool替代
      redis也全部使用aioredis替代
      chalsub跟informsub實現完成
    </pre>
    <div class="col-2 offset-2">15 Nov 2022</div>
    <pre>
      Challenge頁面不會閃了 (改用WebSocket實現)
      Customize Inform Text Color
      JS Code Lint
      User AC Ratio
    </pre>
    
    
    <h3 class="col-3">v1.0.0</h3>
    <div class="col-2 offset-2">05 Oct 2022</div>
    <pre>
      以tornado 6.2 及 asyncpg重構完成
      部分SQL query優化
      部分函數優化
      Tags必須要AC後才顯示
      登入後跳回原本頁面
      Challenge頁面一鍵複製code
      前端可以手動重連後端(可能不穩定
      後端斷線題目不能submit
    </pre>

  <div class="row">
    <h4 class="col-3">Before v2.0</h4>
    <h4 class="col-5">made by tobiichi3227</h4>
    <h4 class="col-4">refactor by Moon</h4>
  </div>
  </div>
</div>
