<link rel="stylesheet" type="text/css" href="/oj/info.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<style>
.version {
  color: rgb(60, 60, 240);
} 

.date {
  color: #3c3cf0;
}
</style>

<script type="text/javascript">
function init() {

}
</script>

<body>
  <div class="container">
    <div class="row g-lg-12">
      <h1>NTOJ Devlog</h1>
      
      <div class="release">
        <div class="row">
          <h3 class="col-3 version">v2.0.0</h3>
          <h5 class="col-3 offset-2 date"></h5>
        </div>
        <br>
      </div>
      
      <div class="row">
        <h4 class="col-3">After v2.0</h4>
        <h4 class="col-8">Made by Moon and tobiichi3227</h4>
      </div>
      <hr>
      
      <div class="release">
        <div class="row">
          <h3 class="col-3 version">v1.4.0</h3>
          <h5 class="col-3 offset-2 date">19 Jul 2023</h5>
        </div>
        <br>
        <div class="row">
          <h5 class="col-3">Improvements</h5>
          <div>
            - <b>time zone:</b> Change to UTC+08:00
          </div>
        </div>
        <br><br>
      </div>

      <div class="release">
        <div class="row">
          <h3 class="col-3 version">v1.3.0</h3> 
          <h5 class="col-3 offset-2 date">16 May 2023</h5>
        </div>
        <br>
        <div class="row">
          <h5 class="col-3">Features</h5>
          <div>
            - <b>language:</b> 新增Python3與Rust支持 (python3較不穩定)
          </div> 
        </div>
        <br><br>
      </div>

      <div class="release">
        <div class="row">
          <h3 class="col-3 version">v1.2.13</h3>
          <h5 class="col-3 offset-2 date">21 Apr 2023</h5>
        </div>
        <br>
        <div class="row">
          <h5 class="col-3">Features</h5>
          <div>
            - <b>navbar:</b> add Dev Info</pre>
          </div>
        </div>
        <br>
        <div class="row g-2">
          <h5 class="col-3">Improvements</h5>
          <div>
            - <b>challenges:</b> show compile error UI
          </div>
        </div>
        <br><br>
      </div>

      <div class="release">      
        <div class="row">
          <h3 class="col-3 version">v1.2.12</h3>
          <h5 class="col-3 offset-2 date">02 Mar 2023</h5>
        </div>
        <div class="row">
          <h5 class="col-3">Features</h5>
          <br>
          <div>
            - add api function 
          </div>
        </div>
        <br>
        <div class="row">
          <h5 class="col-3">Fixes</h5>
          <br>
          <div>
            - list_pro() bug
          </div>
        </div>
        <br><br>
      </div>

      <div class="release">
        <div class="row">
          <h3 class="col-3 version">v1.2.11</h3>
          <h5 class="col-3 offset-2 date">17 Feb 2023</h5>
        </div>
        <div class="row">
          <h5 class="col-3">Features</h5>
          <br>
          <div>
            - <b>judge: </b> offline announcement
          </div>
        </div>
        <br>
        <div class="row">
          <h5 class="col-3">Improvements</h5>
          <br>
          <div>
            - <b>judge:</b> 優化心跳偵測
          </div>
        </div>
        <br>
        <div class="row">
          <h5 class="col-3">Fixes</h5>
          <br>
          <div>
            - <b>judge:</b> infinite loop bug
          </div>
        </div>
        <br><br>
      </div>

      <div class="release">
        <div class="row">
          <h3 class="col-3 version">v1.2.10</h3>
          <h5 class="col-3 offset-2 date">08 Feb 2023</h5>
        </div>
        <div class="row">
          <h5 class="col-3">Improvements</h5>
          <br>
          <div>
            - <b>challenges filter:</b> prevent user using incorrect searching format <br>
            - <b>problemset filter:</b> prevent user using incorrect searching format
          </div>
        </div>
        <br><br>
      </div>

      <div class="release">
        <div class="row">
          <h3 class="col-3 version">v1.2.9</h3>
          <h5 class="col-3 offset-2 date">07 Feb 2023</h5>
        </div>
        <div class="row">
          <h5 class="col-3">Improvements</h5>
          <br>
          <div>
            - <b>problems:</b> now you can reinitialize the problems (in the past, as long as the first upload error occurred, the problem could no longer be used) <br>
            - 題目更新頁面新增JSON線上編輯器，可以直接修改題目設定檔 (suggestion from xiplus)
          </div>
        </div>
        <br><br>
      </div>

      <div class="release">
        <div class="row">
          <h3 class="col-3 version">v1.2.8</h3>
          <h5 class="col-3 offset-2 date">30 Jan 2023</h5>
        </div>
        <div class="row">
          <h5 class="col-3">Fixes</h5>
          <br>
          <div>
            - loglist page bug <br>
            - can't change password bug
          </div>
        </div>
        <br><br>
      </div>

      <div class="release">
        <div class="row">
          <h3 class="col-3 version">v1.2.7</h3>
          <h5 class="col-3 offset-2 date">13 Jan 2023</h5>
        </div>
        <div>
          <h6>
            It's been a while since last release.
          </h6> 
        </div>
        <br>
        <div class="row">
          <h5 class="col-3">Features</h5>
          <br>
          <div>
            - <b>challenges:</b> show CE reason board will now record last scroll position, and scroll smoothly past it. (If you think it's ugly, you can change it, but only if you see it.)
          </div>
        </div>
        <br><br>
      </div>

      <div class="release">
        <div class="row">
          <h3 class="col-3 version">v1.2.6</h3>
          <h5 class="col-3 offset-2 date">12 Nov 2022</h5>
        </div>
        <div class="row">
          <h5 class="col-3">Improvements</h5>
          <br>
          <div>
            - clean up codes
          </div>
        </div>
        <br>
        <div class="row">
          <h5 class="col-3">Fixes</h5>
          <br>
          <div>
            - websocket connect error <br>
            - can't rechallenge available <br>
            - cannot save problem files <br>
            - upload problem bug (https://github.com/tobiichi3227/NTOJ/issues/1)
          </div>
        </div>
        <br><br>
      </div>

      <div class="release">
        <div class="row">
          <h3 class="col-3 version">v1.2.5</h3>
          <h5 class="col-3 offset-2 date">07 Nov 2022</h5>
        </div>
        <div class="row">
          <h5 class="col-3">Fixes</h5>
          <br>
          <div>
            - <b>rank page:</b> fix bugs like /oj/rank.css file missing, but still available to run
          </div>
        </div>
        <br><br>
      </div>

      <div class="release">
        <div class="row">
          <h3 class="col-3 version">v1.2.4</h3>
          <h5 class="col-3 offset-2 date">31 Oct 2022</h5>
        </div>
        <div class="row">
          <h5 class="col-3">Improvements</h5>
          <br>
          <div>
            - change manage-judge log record message <br>
            - remove some unnecessary redis cache <br>
            - unload some unnecessary js code (such as pdf.js...)
          </div>
        </div>
        <br>
        <div class="row">
          <h5 class="col-3">Fixes</h5>
          <br>
          <div>
            - <b>question:</b> can't sumbit bug <br>
            - manage-judge bug
          </div>
        </div>
        <br><br>
      </div>

      <div class="release">
        <div class="row">
          <h3 class="col-3 version">v1.2.3</h3>
          <h5 class="col-3 offset-2 date">26 Oct 2022</h5>
        </div>
        <div class="row">
          <h5 class="col-3">Improvements</h5>
          <br>
          <div>
            - <b>problemset:</b> optimize tags <br>
            - record group operation to log 
          </div>
        </div>
        <br>
        <div class="row">
          <h5 class="col-3">Fixes</h5>
          <br>
          <div>
            - show tags when problem isn't accepted bug <br>
            - not showing tags when the user is an admin account <br>
            - get user AC ratio bug
          </div>
        </div>
        <br><br>
      </div>

      <div class="release">
        <div class="row">
          <h3 class="col-3 version">v1.2.2</h3>
          <h5 class="col-3 offset-2 date">22 Oct 2022</h5>
        </div>
        <div class="row">
          <h5 class="col-3">Improvements</h5>
          <br>
          <div>
            - AC ratio query <br>
            - judge service optimization
          </div>
        </div>
        <br>
        <div class="row">
          <h5 class="col-3">Fixes</h5>
          <br>
          <div>
            - config.py可以寫server_name了
          </div>
        </div>
        <br><br>
      </div>

      <div class="release">
        <div class="row">
          <h3 class="col-3 version">v1.2.1</h3>
          <h5 class="col-3 offset-2 date">19 Oct 2022</h5>
        </div>
        <div class="row">
          <h5 class="col-3">Improvements</h5>
          <br>
          <div>
            - <b>log record:</b> add log type <br>
            - <b>log page:</b> using the log type to make classification
          </div>
        </div>
        <br>
        <div class="row">
          <h5 class="col-3">Fixes</h5>
          <br>
          <div>
            - change arrow function back to the previous version
          </div>
        </div>
        <br><br>
      </div>

      <div class="release">
        <div class="row">
          <h3 class="col-3 version">v1.2.0</h3>
          <h5 class="col-3 offset-2 date">17 Oct 2022</h5>
        </div>
        <div class="row">
          <h5 class="col-3">Features</h5>
          <br>
          <div>
            - <b>challenges:</b> show information
          </div>
        </div>
        <br>
        <div class="row">
          <h5 class="col-3">Improvements</h5>
          <br>
          <div>
            - <b>judge:</b> rewrite judge pulse monitor <br>
            - <b>judge:</b> implement judge cluster <br>
            - update manage-judge interface <br>
            - optimize list_pro SQL query <br>
            - 正確關閉部份redis, websocket, postgresql連線 
          </div>
        </div>
        <br><br>
      </div>

      <div class="release">
        <div class="row">
          <h3 class="col-3 version">v1.1.1</h3>
          <h5 class="col-3 offset-2 date">15 Oct 2022</h5>
        </div>
        <div class="row">
          <h5 class="col-3">Features</h5>
          <br>
          <div>
            - <b>problemset:</b> user AC ratio <br>
            - customize inform test Color <br>
            - JS code lint
          </div>
        </div>
        <br>
        <div class="row">
          <h5 class="col-3">Improvements</h5>
          <br>
          <div>
            - <b>challenges:</b> using WebSocket to prevent screen flashing
          </div>
        </div>
        <br><br>
      </div>

      <div class="release">
        <div class="row">
          <h3 class="col-3 version">v1.1.0</h3>
          <h5 class="col-3 offset-2 date">14 Oct 2022</h5>
        </div>
        <div class="row">
          <h5 class="col-3">Features</h5>
          <br>
          <div>
            - chalsub跟informsub實現完成
          </div>
        </div>
        <br>
        <div class="row">
          <h5 class="col-3">Improvements</h5>
          <br>
          <div>
            - <b>SQL:</b> replace by connection pool <br>
            - <b>redis:</b> replace by aioredis using async / await <br>
          </div>
        </div>
        <br><br>
      </div>
    
      <div class="release">
        <div class="row">
          <h3 class="col-3 version">v1.0.0</h3>
          <h5 class="col-3 offset-2 date">05 Oct 2022</h5>
        </div>
        <div class="row">
          <h5 class="col-3">Features</h5>
          <br>
          <div>
            - <b>challenges:</b> 一鍵複製code <br> 
            - <b>tags:</b> only show after AC <br>
            - jump back to the page you last visited after logging in again. <br>
            - 前端可以手動重連後端 (可能不穩定) ，且後端斷線時題目不能submit <br>
            - when the judge server is down, submit page will be invisible, and there will be an announcement on the home page
          </div>
        </div>
        <br>
        <div class="row">
          <h5 class="col-3">Improvements</h5>
          <br>
          <div>
            - <b>framework:</b> refactored with tornado 6.2 <br>
            - <b>database:</b> refactored with asyncpg <br>
            - 部分 SQL query 優化 <br>
            - 部分 function 優化
          </div>
        </div>
        <br><br>
      </div>
    
      <div class="row">
        <h4 class="col-3">Before v2.0</h4>
        <h4 class="col-5">made by tobiichi3227</h4>
        <h4 class="col-4">refactor by Moon</h4>
      </div>
    </div>
  </div>
</body>
