<!DOCTYPE>
<html>

<head>
  <title>New TNFSH Online Judge</title>

  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <meta name="language" content="tw">
  <link rel="stylesheet" href="/oj/index.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css"
    integrity="sha512-b2QcS5SsA8tZodcDtGRELiGv5SaKSk1vDHDaQRda0htPYWZ6046lr3kJ5bAAQdpV2mmA/4v0wQF9MyU6/pDIAg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
    integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="/oj/index.js"></script>
  <script src="/oj/pack.js"></script>
  <script src="/oj/third/pdf.min.js" defer=""></script>

  <script id="indexjs" type="text/javascript" acct_id="{{ acct_id }}" contest_id="{{ contest_id }}">
    $(document).ready(function () {
      index.init();
      var j_index = $('#index-navlist');

      var msg_ws = index.get_ws("informsub");

      var inform_count = 0;
      var on = false;
      msg_ws.onopen = function (e) {
      };

      msg_ws.onmessage = function (e) {
        inform_count += 1;
        j_index.find('a.message').text('公告 *' + inform_count);
        j_index.find('a.message').show();
        on = true;
        setInterval(function () {if (on == true) {j_index.find('a.message').fadeOut(500).fadeIn(500);} }, 1000);
      };
      j_index.find('a.message').on('click', function (e) {
        j_index.find('a.message').hide();
        inform_count = 0;
        on = false;
        index.go('/oj/info/');
      });
    });
  </script>
</head>
<!-- #eaf1ff #314783  -->

<body data-bs-theme="dark">
  <!-- style="background-color: #314783;" -->
  <nav class="navbar navbar-expand-lg">
    <div id="index-navlist" class="container-fluid">
      {% if is_in_contest %}  
        <a class="navbar-brand" href="/oj/contests/{{ contest_id }}/info/">NTOJ</a>
      {% else %}
        <a class="navbar-brand" href="/oj/info/">NTOJ</a>
      {% end %}

      <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
        class="navbar-toggler" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
      </button>


      <div class="navbar-collapse collapse" id="navbarSupportedContent">
        {% if is_in_contest %}
        <ul class="navbar-nav me-auto">
          <li class="nav-item info"><a class="nav-link" href="/oj/contests/{{ contest_id  }}/info/">Info</a></li>
          <li class="nav-item proset"><a class="nav-link" href="/oj/contests/{{ contest_id }}/proset/">ProblemSet</a></li>
          <li class="nav-item chal"><a class="nav-link" href="/oj/contests/{{ contest_id }}/chal/">Challenges</a></li>
          <li class="nav-item scoreboard"><a class="nav-link" href="/oj/contests/{{ contest_id }}/scoreboard/">Scoreboard</a></li>
          <li class="nav-item question"></li><a class="nav-link" href="/oj/contests/{{ contest_id }}/question/">Q & A</a></li>

          {% if contest_manage %}
            <li class="nav-item manage"><a class="nav-link" href="/oj/contests/{{ contest_id }}/manage/">Manage</a></li>
          {% end %}
        </ul>
        {% else %}

        <ul class="navbar-nav me-auto">
          <li class="nav-item info"><a class="nav-link" href="/oj/info/">Info</a></li>
          <li class="nav-item board"><a class="nav-link" href="/oj/board/">Board</a></li>
          <li class="nav-item chal"><a class="nav-link" href="/oj/chal/">Challenges</a></li>
          <li class="nav-item proset"><a class="nav-link" href="/oj/proset/">ProblemSet</a></li>
          <li class="nav-item contests"><a class="nav-link" href="/oj/contests/">Contests</a></li>
          <li class="nav-item users"><a class="nav-link" href="/oj/users/">Rank</a></li>

          {% if manage != True %}
          <li class="nav-item question"><a class="nav-link" href="/oj/question/">Question</a></li>
          {% end %}

          {% if manage == True and ask_cnt > 0 %}
          <li class="nav-item ask"><a class="nav-link" style="color: #e74c3c;" href="/oj/manage/question/">get {{
              ask_cnt }} ask</a></li>
          {% end %}

          {% if manage == False and reply == True %}
          <li class="nav-item"><a class="nav-link" style="color: #e74c3c;" href="/oj/question/">get reply</a></li>
          {% end %}

          <li><a class="nav-link" style="display: none;" href="" class="message"></a></li>
          <!-- <li><a class="nav-link" href="http://forum.tfcis.org/forum.php?mod=forumdisplay&fid=40" target="_new">Discuss</a></li> -->
          <li><a class="nav-link" href="https://github.com/TFcis/NTOJ/issues" target="_new">Make A Wish</a></li>
          <li class="nav-item about"><a class="nav-link" href="/oj/about/">About</a></li>
          <li class="dev-info"><a class="nav-link" href="/oj/dev-info/">DevInfo</a></li>
          {% if manage == True %}
          <li class="nav-item manage"><a class="nav-link" href="/oj/manage/dash/">Manage</a></li>
          {% end %}
        </ul>
        {% end %}

        <ul class="navbar-nav ms-auto">
          <li class="nav-link sign" style="display: none;"><a href="/oj/sign/">Reg | Log</a></li>
          <li class="nav-link leave" style="display: none;"><a href="#">Leave</a></li>
          <a class="nav-link" href="/oj/acct/{{ acct_id }}/">{{ name }}</a>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid" id="index-cont" style="min-height:100%;">
  </div>

  <footer class="text-muted py-3 me-3 float-end">
    <small>New TNFSH Online Judge - Go-Judge</small>
  </footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js"
    integrity="sha512-TPh2Oxlg1zp+kz3nFA0C5vVC6leG/6mm1z9+mA81MI5eaUVqasPLO8Cuk4gMF4gUfP5etR73rgU/8PNMsSesoQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.min.js"
    integrity="sha512-WW8/jxkELe2CAiE4LvQfwm1rajOS8PHasCCx+knHG0gBHt8EXxS6T6tJRTGuDQVnluuAvMxWF4j8SNFDKceLFg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>

</html>
