<!DOCTYPE>
<html>
<head>
<title>New TNFSH Online Judge</title>

<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
<!-- <link rel="stylesheet" type="text/css" href="/oj/blk.css"> -->
<link rel="stylesheet" href="/oj/index.css">

<link rel="stylesheet" href="/oj/bootstrap.css">
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" rel="stylesheet"/>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/oj/third/pdf.min.js"></script>
<script src="/oj/index.js"></script>
<script src="/oj/pack.js"></script>

<script id="indexjs" type="text/javascript" acct_id="{{ acct_id }}">
    $(document).ready(function() {
        index.init();
		var j_index = $('#index-navlist');

        let ws_link = '';
        if (location.protocol !== 'https:') {
            ws_link = `ws://${location.hostname}/oj/be/informsub`;
        } else {
            ws_link = `wss://${location.hostname}/oj/be/informsub`;
        }
	    var msg_ws = new WebSocket(ws_link);

		var inform_count = 0;
		var on = false;
		msg_ws.onopen = function(e) {
		};

		msg_ws.onmessage = function(e) {
		    inform_count += 1;
		    j_index.find('a.message').text('公告 *'+inform_count);
		    j_index.find('a.message').show();
		    on = true;
		    setInterval(function(){if(on == true){j_index.find('a.message').fadeOut(500).fadeIn(500);}},1000);
		};
		j_index.find('a.message').on('click',function(e) {
		    j_index.find('a.message').hide();
		    inform_count = 0;
		    on = false;
		    index.go('/oj/info/');
		});
    });
</script>
</head>

<!--
海に生き，海を守り，海を行く，それがブルーマーメード
-->

<body data-bs-theme="TOJ">
<nav class="navbar navbar-expand-lg">
    <div id="index-navlist" class="container-fluid">
        <a class="navbar-brand" href="/oj/info/">NTOJ</a>

		<button
		    aria-controls="navbarSupportedContent"
		    aria-expanded="false"
		    aria-label="Toggle navigation"
		    class="navbar-toggler"
		    data-bs-target="#navbarSupportedContent"
		    data-bs-toggle="collapse"
		    type="button"
        >
            <span class="navbar-toggler-icon"></span>
        </button>


		<div class="navbar-collapse collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto">
				<li class="nav-item info"><a class="nav-link" href="/oj/info/">Info</a></li>
				<li class="nav-item board"><a class="nav-link" href="/oj/board/">Board</a></li>
				<li class="nav-item chal"><a class="nav-link" href="/oj/chal/">Challenges</a></li>
				<li class="nav-item proset"><a class="nav-link" href="/oj/proset/">ProblemSet</a></li>

				{% if manage == True %}
					<li class="nav-item manage"><a class="nav-link" href="/oj/manage/dash/">Manage</a></li>
				{% end %}

				<li class="nav-item about"><a class="nav-link" href="/oj/about/">About</a></li>

				{% if manage != True %}
					<li class="nav-item question"><a class="nav-link" href="/oj/question/">Question</a></li>
				{% end %}

				{% if manage == True and ask_cnt > 0 %}
					<li class="nav-item ask"><a class="nav-link" style="color:red;" href="/oj/manage/question/">get {{ ask_cnt }} ask</a></li>
				{% end %}
				
				{% if manage == False and reply == True %}
					<li class="nav-item"><a class="nav-link" style="color:red;" href="/oj/question/">get reply</a></li>
				{% end %}

				<li><a class="nav-link" style="display:none;" href="" class="message"></a></li>
				<li><a class="nav-link" href="http://forum.tfcis.org/forum.php?mod=forumdisplay&fid=40" target="_new">Discuss</a></li>
				<li><a class="nav-link" href="https://github.com/TFcis/NTOJ/issues" target="_new">Make A Wish</a></li>
				<li class="dev-info"><a class="nav-link" href="/oj/dev-info/">Dev Info</a></li>
			</ul>

			<ul class="navbar-nav ms-auto">
				<li class="nav-link sign" style="display:none;"><a href="/oj/sign/">Reg | Log</a></li>
				<li class="nav-link leave" style="display:none;"><a href="#">Leave</a></li>
				<a class="nav-link" href="/oj/acct/{{ acct_id }}/">{{ name }}</a>
			</ul>
		</div>

			
	</div>
</nav>

<div class="container-fluid" id="index-cont" style="min-height:100%;">
</div>

<footer class="text-muted py-3 me-3 float-end">
	<small>TNFSH Online Judge 13 - HypeXky</small>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.min.js" integrity="sha512-WW8/jxkELe2CAiE4LvQfwm1rajOS8PHasCCx+knHG0gBHt8EXxS6T6tJRTGuDQVnluuAvMxWF4j8SNFDKceLFg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>
