<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" /> 

<style>
.green-row > td {
  color: #01c201; 
  background-color: #ddf0d8;
}

.pink-row > td {
  color: #ca673f; 
  background-color: #e6d8d0;
}

.purple-row > td {
  color: #70649a; 
  background-color: #dbd8e7;
}

.red-row > td {
  color: #961804; 
  background-color: #e4d6d4;
}

.light-blue-row > td {
  color: #1fb0ab; 
  background-color: #d6e7e7;
}

.blue-row > td {
  color: #237ac7;
  background-color: #d3dbe6;
}

.yellow-row > td {
  color: #b1a200; 
  background-color: #e4e3d2;
}

.white-row > td {
  color: #000000;
  background-color: #e6e6e6;
}

/* li {
  font-weight: bold;
} */
</style>

<script type="text/javascript"> 

</script> 

<body>
<div class="g-lg-12"> 
  <h1 style="font-weight: bolder;">公告</h1> 
    {% if judge_server_status == False %} 
	<h1 style="color: #F0F280;">目前NTOJ不能Judge，造成不便之處，敬請見諒</h1>
    {% end %}
  <table border="2" class="table">
    <thead>
      <tr>
        <td style="width:71%;"> 
          <span class="material-symbols-outlined">push_pin</span> 
          Title 
        </td> 
        <td style="width:15%;">Time</td> 
        <td style="width:15%;">Author</td> 
      </tr> 
    </thead> 
    <tbody> 
    {% for bulletin in bulletin_list %} 
      <tr> 
        <td> 
          <a href="/oj/bulletin/{{ bulletin['bulletin_id'] }}/" style="color: {{ bulletin['color'] }}"> 
            <font size=5> 
              {% if bulletin['pinned'] %} 
                <span class="material-symbols-outlined">push_pin</span> 
              {% end %} 
              {{ bulletin['title'] }} 
            </font> 
          </a> 
        </td> 
        <td>
          <font size=4>{{ bulletin['timestamp'].strftime('%Y-%m-%d') }}</font>
        </td> 
        <td>
          <font size=4> 
            <a href="/oj/acct/{{ bulletin['acct_id'] }}/">{{ bulletin['name'] }}</a> 
          </font>
        </td> 
      </tr> 
    {% end %}
    </tbody>
  </table>

  <h1 style="font-weight: bolder;">NTOJ Guide</h1>
  <hr>

  <!-- Verdicts -->
  <div class="row">
    <h3 class="col" style="font-weight: bolder;">Verdicts</h3>
  </div>
  <div class="card border-0">
    <div class="card-body" style="padding-top: 5px;">
      <table class="table table-borderless" style="font-size: 125%;"> 
        <thead> 
          <tr class="verdict-table-head"> 
            <th scope="col-1">Verdict</th>
            <th scope="col-3">Full Name</th>
            <th scope="col-8">Conditions Explanation</th>
          </tr> 
        </thead> 
        <tbody> 
          <tr class="green-row"> 
            <td class="col-1">AC</td> 
            <td class="col-3">Accepted</td> 
            <td class="col-8">
              Your program is correct! <br> 
              It outputs the right answer in reasoneable time and within the limit memory usage. <br>
              <!-- Congratulations!  -->
              你的程式輸出完全正確! <br>
            它在要求的時間和記憶體限制內輸出了正確答案。
            <!-- 恭喜! -->
            </td>
          </tr> 
          <tr class="pink-row"> 
            <td class="col-1">WA</td> 
            <td class="col-3">Wrong Answer</td> 
            <td class="col-8">
              Your program didn't output the correct answer, but it terminated normally. <br> 
              If you truly think your code is correct, contact the administrator through Question page. <br>
              你的程式輸出了錯誤的答案，但有正常結束。<br>
              如果你認為你的程式碼真的正確，可以透過Question頁面聯絡管理員。
            </td>
          </tr> 
          <tr class="purple-row"> 
            <td class="col-1">TLE</td> 
            <td class="col-3">Time Limit Exceeded</td>
            <td class="col-8">
              Your program tried to run for too much time. <br>
              If you are sure that the problem needs more time, please contact the administrator through Question page. <br>
              你的程式嘗試運行的時間太久。 <br>
              如果你認為題目需要更長的時間限制，可以透過Question頁面聯絡管理員。
            </td> 
          </tr>
          <tr class="red-row">
            <td class="col-1">MLE</td>
            <td class="col-3">Memory Limit Exceeded</td>
            <td class="col-8">
              Your program tried to use more memory than the judge allows. <br>
              If you are sure that the problem needs more memory, please contact the administrator through Question page. <br>
              你的程式試圖使用的記憶體超出了題目的允許範圍。 <br>
              如果你認為題目需要更大的記憶體範圍，可以透過Question頁面聯絡管理員。
            </td>
          </tr>
          <tr class="light-blue-row"> 
            <td class="col-1">RE</td> 
            <td class="col-3">Runtime Error</td> 
            <td class="col-8">
              Your program doesn't return a 0 code. <br>
              你的程式退出狀態不為 0。
            </td>
          </tr> 
          <tr class="blue-row">
            <td class="col-1">RE</td> 
            <td class="col-3">Runtime Error(killed by signal)</td> 
            <td class="col-8">
              Your program failed during the execution. <br>
              There are some common reasons for this result: <br>
              <ol>
                <li>SIGSEGV - invalid memory access (segmentation fault)</li>
                <li>SIGFPE - erroneous arithmetic operation such as divide by zero</li>
                <li>SIGABRT - abnormal termination condition</li>
                <ol type="i">
                  <li>double free uninitialized or wrong memory address</li>
                  <li>calling abort function</li>
                  <li>assert</li>
                </ol>
              </ol>
              你的程式在執行過程中失敗了。 <br>
              造成此結果有一些常見的原因: <br>
              <ol>
                <li>SIGSEGV - 無效記憶體存取 (記憶體區段錯誤) </li>
                <li>SIGFPE - 錯誤的算術運算，例如: 除以0 </li>
                <li>SIGABRT - 異常終止條件</li>
                <ol type="i">
                  <li>重複 free 未初始化或錯誤的記憶體位址</li>
                  <li>呼叫 abort() 函數</li>
                  <li>assert</li>
                </ol>
              </ol> 
            </td>
          </tr>
          <tr class="yellow-row"> 
            <td class="col-1">CE</td> 
            <td class="col-3">Compile Error</td> 
            <td class="col-8">
              The compiler fails to compile your program. <br>
              編譯器無法編譯你的程式。
            </td>
          </tr> 
          <tr class="white-row"> 
            <td class="col-1">IE</td> 
            <td class="col-3">Internal Error</td> 
            <td class="col-8">
              The judge is in a state of collapse. <br>
              Please contact the administrator through Question page. <br>
              評測系統處於崩潰狀態。 <br>
              請透過Question頁面聯絡管理員。
            </td>
          </tr> 
          <tr class="white-row">
            <td class="col-1">PE</td>
            <td class="col-3">Presentation Error</td>
            <td class="col-8">
              Your output does not match with the test cases. <br>
              There may be extra blank lines and spaces. <br>
              你的輸出與測試案例不符。<br>
              可能會有多餘的空白行和空格。
            </td>
          </tr>
        </tbody> 
      </table> 
    </div>
  </div>
  
  <!-- Question -->
  <div class="row">
    <h3 class="col" style="font-weight: bolder;">Question Page</h3> 
  </div>
  <div class="card border-0">
    <div class="card-body">
      <ul> 
        <li> 提供使用者與管理員溝通的管道 </li>
        <li> 同時最多10筆發問，超過10筆會刪除最早的一筆發問 </li>
      </ul>
    </div>
  </div>

  <!-- Challenges -->
  <div class="row">
    <h3 class="col" style="font-weight: bolder;">Challenges Filter</h3>
  </div>
  <div class="card border-0">
    <div class="card-body">
      <ul>
        <li> Problem ID: 題號間以 <b>,</b> 分隔, 例如: 1,2,3 </li>
        <li> Account ID: 使用者編號間以 <b>,</b> 隔開，例如: 1,2,3 </li>
      </ul>
    </div>
  </div>

  <!-- Rank -->
  <div class="row">
    <h3 class="col" style="font-weight: bolder;">Rank</h3>
  </div>
  <div class="card border-0">
    <div class="card-body">
      <ul> 
        <li> rank 僅顯示每個user <b>最佳的submission</b> </li>
        <li> 先依照 <b>Runtime</b> 排序再依照 <b>Memory</b> 排序 </li>
      </ul>
    </div>
  </div>

  <!-- Scoreboard -->
  <div class="row">
    <h3 class="col" style="font-weight: bolder;">Scoreboard</h3>
  </div>
  <div class="card border-0">
    <div class="card-body">
      <ul> 
        <li> 記分板分數的顏色根據分數，以10分為一區間遞增 </li>
        <li> 滿分時(即AC)分數會以 <b>粗體</b> 顯示 </li>
        <li> 名次排序方式: 以分數為優先，若分數相同，以 <b>AC submission count</b> 較少者名次較前 </li>
        <li> 若想進入其他板塊，可透過Question頁面向管理員申請 </li>
      </ul>
    </div>
  </div>
</div> 
</body>
