{% import math %}

<link rel="stylesheet" type="text/css" href="/oj/proset.css">

<script type="text/javascript">
    var j_form = $("#form");
    function init() {
        j_form.find("#logtype_list").on('change', function(e) {
            var url = '/oj/log/';
            var logtype = $(this).val();
            if (logtype != 'All Type') {
                url += '?logtype=' + logtype;
            }
            index.go(url);
        });
    }
</script>

<div id="prolist">
    <div id="form" class="row">
        <strong>Type Filter  </strong>
        <select class="form-select" id="logtype_list">
            <option value="All Type" {% if cur_logtype == None %}selected{% end %}>All Type</option>
            {% for logtype in logtype_list %}
                <option value="{{ logtype }}" {% if logtype == cur_logtype %}selected{% end %}>{{ logtype }}</option>
            {% end %}
        </select>
    </div>
    <div class="row">
        <table class="table table-striped table-hover table-sm table-responsive-sm col mx-lg-3">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Message</th>
                    <th scope="col">Timestamp</th>
                </tr>
            </thead>
            <tbody>
            {% for log in loglist %}
                <tr>
                    <td class="id"><a href="/oj/log/{{ log['log_id'] }}/">{{ log['log_id'] }}</a></td>
                    <td>{% raw log['message'] %}</td>
                    <td>{{ log['timestamp'] }}</td>
                </tr>
            {% end %}
            </tbody>
        </table>


        {% set postfix = '' %}
        {% if cur_logtype is not None %}
            {% set postfix = postfix + '&logtype=%s' % cur_logtype %}
        {% end %}

        <div class="row">
            <div class="col-1"></div>
            <div class="col pt-3">
                {% set _p_pageoff = pageoff %}
                {% set _p_pagenum = 50 %}
                {% set _p_total_cnt = lognum %}
                {% set _p_postfix = postfix %}
                {% include "pagination.html" %}
            </div>
        </div>

    </div>
</div>
