<style type="text/css">
.rank-gold > td {
  background-color: #cab03b;
}

.rank-silver > td {
  background-color: #7e7d73;
}

.rank-copper > td {
  background-color: #b67335;
}
</style>

<script type="text/javascript">
  function init() {

  }
</script>
<body>
<div class="col-lg-12">
    <h3>RankList of <a style="font-size:26px;" href="/oj/pro/{{pro_id}}/">{{pro_id}}</a></h3>
    <div class="row">
        <table class="table table-borderless table-striped table-hover table-responsive">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>#</th>
                    <th>Account</th>
                    <th>Runtime(ms)</th>
                    <th>Memory(KB)</th>
                    <th>Time</th>
                </tr>
            </thead>
            <tbody>
                {% set rank_display_class = "" %}
                {% for chal in chal_list %}
                    {% set rank = chal['rank'] %}
                    {% if rank == 1 %}
                        {% set rank_display_class = "rank-gold" %}
                    {% elif rank == 2 %}
                        {% set rank_display_class = "rank-silver" %}
                    {% elif rank == 3 %}
                        {% set rank_display_class = "rank-copper" %}
                    {% else %}
                        {% set rank_display_class = "" %}
                    {% end %}
                    <tr class="{{ rank_display_class }}">
                    <td>{{ rank }}</td>
                    <td><a href="/oj/chal/{{chal['chal_id']}}/">{{ chal['chal_id']}}</a></td>
                    <td><a href="/oj/acct/{{chal['acct_id']}}/">{{ chal['acct_name']}}</a></td>
                    <td>{{ chal['runtime'] }}</td>
                    <td>{{ round(chal['memory'] / 1024) }}</td>
                    <td>{{ chal['timestamp'].strftime('%Y-%m-%d %H:%M:%S') }}</td>
                    </tr>
                {% end %}
            </tbody>
        </table>

        {% set postfix = f'&pagenum={pagenum}' %}

        <div class="row">
            <div class="col"></div>
            <div class="col-6 pt-3">
                {% set _p_pageoff = pageoff %}
                {% set _p_pagenum = pagenum %}
                {% set _p_total_cnt = total_cnt %}
                {% set _p_postfix = postfix %}
                {% include "pagination.html" %}
            </div>
            <div class="col"></div>
        </div>
    </div>
</div>
</body>
