{% from services.chal import COMPILER_INFOS %}
{% from utils.numeric import merge_list_to_str %}
<link rel="stylesheet" type="text/css" href="{{ url('/src/pro.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/4.7.76/pdf_viewer.min.css" integrity="sha512-8LkkqbXJPviYJENC5Z8qC2uKz27x0tNgrZbzsAzt7zkw0/2lXtSdrslVhfrkcR+6LRmxjZxlqniSyWXimoaH5g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script type="text/javascript">
    var pdf_url = '';
    var html_url = '';
    {% if contest %}
        pdf_url = `{{ url(f'/contests/{ contest.contest_id }/pro/{ pro.pro_id }/cont.pdf') }}`;
        html_url = `{{ url(f'/contests/{ contest.contest_id }/pro/{ pro.pro_id }/cont.html') }}`
    {% else %}
        pdf_url = `{{ url(f'/pro/{ pro.pro_id }/cont.pdf') }}`;
        html_url = `{{ url(f'/pro/{ pro.pro_id }/cont.html') }}`;
    {% end %}

    var onResize = null;

    function init() {
        let PDFJS = pdfjsLib;
        PDFJS.GlobalWorkerOptions.workerSrc = 'https://cdnjs.cloudflare.com/ajax/libs/pdf.js/4.7.76/pdf.worker.min.mjs';

        $('#tags').keydown(function(event) {
            if (event.which == 13) // return
                $('#tags').focusout();
        });

        $('#tags').focusout(function(event) {
            var tags = event.target.value;
            if (tags.search(/^[a-zA-Z0-9-_, ]+$/) != -1 || tags.length == 0) {
                // valid
                $('#tags-invalid').hide();
                $.post(`{{ url('/be/set-tags') }}`, {
                    'pro_id': {{ pro.pro_id }},
                    'tags': tags,
                }, function() {
                    $('#tags-done').show();
                });
            } else {
                // invalid
                event.target.focus();
                $('#tags-invalid').show();
            }
        });

        $("#pdfbtn").on('click', function(event) {
            let url = `${pdf_url}?download=1`;
            let downloadLink = document.createElement("a");

            downloadLink.href = url;
            downloadLink.setAttribute("download", "");
            downloadLink.target = 'downloadIframe';
            downloadLink.click();
        });

        let viewer = 1;
        $('#switchviewer').on('click', function() {
            if (viewer == 1) {
                _load_pdf_embed();
                viewer = 2;
            } else {
                _load_pdf_js();
                viewer = 1;
            }
        });

        let resizeRaf = null;
        onResize = function() {
            if (viewer != 2 || resizeRaf)
                return;

            resizeRaf = requestAnimationFrame(function() {
                resizeRaf = null;
                _resize_pdf_embed_viewer();
            });
        };
        $(window).on('resize', onResize);

        let j_cont = $('#cont');
        let j_side = $('#side');

        let currentHeight = 0;
        function _resize_pdf_embed_viewer() {
            const isDesktop = window.matchMedia('(min-width: 992px)').matches;

            if (isDesktop) {
                let top = j_cont[0].getBoundingClientRect().top;
                let footerH = $('footer').outerHeight(true) || 0;

                let targetHeight = Math.max(600, window.innerHeight - top - footerH);

                if (Math.abs(targetHeight - currentHeight) > 10) {
                    currentHeight = targetHeight;
                    j_cont.css('height', `${ currentHeight }px`);
                    j_side.css('height', `${ currentHeight }px`);
                }
            } else {
                let targetHeight = Math.max(500, window.innerHeight * 0.75);

                j_cont.css('height', `${ targetHeight }px`);
                j_side.css('height', `auto`);

                currentHeight = 0;
            }
        }

        function _load_html() {
            j_cont.css('height', 'auto');
            j_side.css('height', `auto`);
            j_cont.load(html_url, function(res, status, xhr) {
                if (status == 'error') {
                    $('#pdfbtn').show();
                    $('#switchviewer').show();

                    if (/iPhone|iPad|iPod|Android/i.test(navigator.userAgent)) {
                        _load_pdf_js();
                    } else {
                        _load_pdf_embed();
                        viewer = 2;
                    }
                } else {
                    try {
                        MathJax.typeset();
                    } catch (e) {
                        console.warn('MathJax typeset error', e);
                    }
                }
            });
        }

        function _load_pdf_js() {
            j_cont.css('height', 'auto');
            j_side.css('height', `auto`);
            PDFJS.getDocument(pdf_url).promise.then(function(pdf) {
                j_cont.empty();
                for (let i = 1; i <= pdf.numPages; i++) {
                    let j_page = $('<div id="pdf-page-' + i + '"></div>');
                    j_cont.append(j_page)
                }

                for (let i = 0; i < pdf.numPages; i++) {
                    pdf.getPage(i + 1).then(function(idx){return function(page) {
                        let j_page = $('#pdf-page-' + idx);
                        let j_canvas = $('<canvas style="width:100%; margin: 0; display:block;"></canvas>');

                        j_page.append(j_canvas);

                        let j_div = $('<div></div>');
                        let ctx = j_canvas[0].getContext('2d');
                        let offset = j_canvas[0].getBoundingClientRect();
                        let viewport;


                        scale = j_canvas.width() / page.getViewport({scale: 1}).width;
                        viewport = page.getViewport({scale: scale});

                        j_canvas.attr('width', viewport.width);
                        j_canvas.attr('height', viewport.height);
                        j_div.addClass('textLayer');
                        j_div.offset({'top': offset.top + window.scrollY, 'left': offset.left + window.scrollX});
                        j_div[0].style.setProperty('--scale-factor', viewport.scale);

                        j_page.append(j_div);

                        page.render({canvasContext: ctx, viewport: viewport}).promise.then(function () {
                            return page.getTextContent();
                        }).then(function (text) {
                            const textLayer = new PDFJS.TextLayer({
                                textContentSource: text,
                                container: j_div[0],
                                viewport: viewport,
                            });
                            textLayer.render();
                        });
                    };}(i + 1));
                }
            });
        }

        function _load_pdf_embed() {
            j_cont.empty();
            _resize_pdf_embed_viewer();
            var embed = $(`<embed width="100%" height="100%" src="${pdf_url}" type="application/pdf">`);
            j_cont.append(embed);
        }
        _load_html();
    }

    function destroy() {
        if (onResize) {
            $(window).off('resize', onResize);
            onResize = null;
        }
    }
</script>
<div class="row">
    <div id="side" class="col-lg-2 col-12 pt-lg-2" style="overflow-y: scroll;">
        <h3>{{ pro.pro_id}} / {{ pro.name }}</h3>
        {% if can_submit and pro.allow_submit %}
            {% if contest and not contest.is_end() %}
                <a class="btn btn-primary btn-lg my-lg-1" href="{{ url(f'/contests/{ contest.contest_id }/submit/{ pro.pro_id }/') }}">Submit</a><br />
            {% else %}
                <a class="btn btn-primary btn-lg my-lg-1" href="{{ url(f'/submit/{ pro.pro_id }/') }}">Submit</a><br />
            {% end %}
        {% else %}
            <a class="btn btn-warning btn-lg my-lg-1">Cannot Submit</a><br />
        {% end %}

        <div class="my-lg-1">
            {% if contest %}
                <a class="btn btn-success" href="{{ url(f'/contests/{ contest.contest_id }/chal/?pro_id={ pro.pro_id }&acct_id={ user.acct_id }') }}">My Status</a>
                <a class="btn btn-secondary" href="{{ url(f'/contests/{ contest.contest_id }/chal/?pro_id={ pro.pro_id }') }}">Status</a>
            {% else %}
                <a class="btn btn-success" href="{{ url(f'/rank/{ pro.pro_id }/') }}">&nbsp;Rank&nbsp;</a>
                <a class="btn btn-secondary" href="{{ url(f'/chal/?pro_id={ pro.pro_id }') }}">Status</a>
            {% end %}

        </div>

        <div class="my-lg-1">
            <a class="btn btn-warning my-lg-1" style="display: none; width: 156px; text-align: center;" id="pdfbtn">Download PDF</a>
            <a class="btn btn-warning my-lg-1" id="switchviewer" style="display: none; width: 156px; text-align: center;">Switch Viewer</a>
        </div>
        {% if user.is_kernel() and not contest %}
            <input id="tags" value="{{ pro.tags }}" style="width: 190px" placeholder="add tags here">
        {% else %}
            <input id="tags" value="{{ pro.tags }}" style="width: 190px" placeholder="no tags" disabled>
        {% end %}
        <div>

        </div>
        <span id="tags-invalid" style="color:#e74c3c; display: none">TAGS INVALID!</span>
        <span id="tags-done" style="color: green; display: none">SET TAGS SUCCESS</span>
        <br>

        {% if not contest %}
            {% if topcoder %}
                <div class="my-lg-1" id="topcoder">
                    <div class="card">
                    <div class="card-header">TopCoder</div>
                    <div class="card-body">
                        {% if topcoder.photo == "" %}
                        {% set topcoder.photo = f"https://www.gravatar.com/avatar/{ topcoder.acct_id }?d=identicon&f=y&s=480;" %}
                        {% end %}
                        <img src="{{ topcoder.photo }}" style="max-width:100px; max-height:100px; position:relative; left:50px; transform:translateX(-50%);" />
                        <div class="card-text-group">
                            <h5 class="card-title"><a href="{{ url(f'/acct/{ topcoder.acct_id }/') }}">{{ topcoder.name }}</a></h5>
                            <p class="card-text">{{ topcoder.motto }}</p>
                        </div>
                    </div>
                    </div>
                </div>
            {% else %}
                <div class="my-lg-1" id="topcoder">
                    <div class="card">
                    <div class="card-header">TopCoder</div>
                    <div class="card-body">
                        <h5 class="card-title">Waiting for you to become the first <span class="state-1">accepted</span>.</h5>
                    </div>
                    </div>
                </div>
            {% end %}
        {% end %}

        <div class="table-responsive">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>Compiler</th>
                        <th>Time(ms)</th>
                        <th>Memory(Kib)</th>
                        <th>Output(Kib)</th>
                    </tr>
                </thead>
                <tbody>
                    {% set default = pro.config.limits.pop('default') %}
                    <tr>
                        <td>default</td>
                        <td>{{ default.time }} </td>
                        <td>{{ default.memory }} </td>
                        <td>{{ default.output }} </td>
                    </tr>

                    {% for compiler, limit in pro.config.limits.items() %}
                    <tr>
                        <td>{{ COMPILER_INFOS[int(compiler)].short_name }}</td>
                        <td>{{ limit.time }} </td>
                        <td>{{ limit.memory }} </td>
                        <td>{{ limit.output }} </td>
                    </tr>
                    {% end %}
                </tbody>
            </table>
        </div>

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Subtask</th>
                        <th>Rate</th>
                        <th>Dependency Subtasks</th>
                    </tr>
                </thead>
                <tbody>
                    {% for subtask_id, subtask_cfg in pro.config.subtask_configs.items() %}
                        <tr>
                            <td>{{ '%04d' % (subtask_id + 1) }}</td>
                            <td>{{ subtask_cfg.rate }}</td>
                            <td>{{ merge_list_to_str(list(map(lambda x: x+1, subtask_cfg.dependency_subtasks))) }}</td>
                        </tr>
                    {% end %}
                </tbody>
            </table>
        </div>
        {% if user.is_kernel() %}
            <a class="btn btn-warning" href="{{ url(f'/manage/pro/update/?pro_id={ pro.pro_id }') }}">Manage</a>
        {% end %}
    </div>

    <div id="cont" class="col-lg-10 col-12">
        <strong>Loading...</strong>
    </div>
</div>
