{% import math %}
{% from services.chal import ChalConst %}
{% from services.pro import ProClassConst %}

<link rel="stylesheet" type="text/css" href="/oj/proset.css">

<script type="text/javascript">
    var re = /[^0-9]/
    function init() {
        let j_proclass = $('#proclass');
        let j_filter = $('#filter');

        function get_goto_url(proclass_id) {
            let order = j_filter.find("#order").val();
            let show = j_filter.find("#show").val();
            if (proclass_id == -1)
                proclass_id = $("#curProclassId").attr("proclass");
            let is_online = j_filter.find("#online").is(":checked");
            let is_reversed = j_filter.find("#reverse").is(":checked");
            let url = '/oj/proset/?';

            if (order != '') {
                url += `&order=${order}`;
            }

            if (show != '') {
                url += `&show=${show}`;
            }

            if (is_online != false) {
                url += `&online=${is_online}`;
            }

            if (is_reversed != false) {
                url += `&reverse=${is_reversed}`;
            }

            if (proclass_id != 'None') {
                url += `&proclass_id=${proclass_id}`;
            }

            return url;
        }

        j_filter.find("#filter_submit").on('click', function(e) {
            index.go(get_goto_url(-1));
        });

        let select_prob = j_filter.find('input.select_prob');
        select_prob.on('keypress', function(e) {
            if (e.keyCode == 13) {
                if (re.test(select_prob.val())) {
                    index.show_notify_dialog('請輸入數字', index.DIALOG_TYPE.info);
                    select_prob.val('');
                    return
                }

                index.go(`/oj/pro/${select_prob.val()}/`);
            }
        });

        {% if cur_proclass %}
            let cur_proclass_desc = `{% raw cur_proclass['desc'].replace('`', '\\`').replace('\\', '\\\\') %}`;
            let info_dialog = document.getElementById('proclassInfoDialog');
            let info_dialog_modal = new bootstrap.Modal(info_dialog);
            $("#infoProClass").on('click', function(e) {
                let body = info_dialog.querySelector('.modal-body');
                body.innerHTML = DOMPurify.sanitize(marked.parse(cur_proclass_desc));
                MathJax.Hub.Queue(["Typeset", MathJax.Hub, body]);
                info_dialog_modal.show();
            });
        {% end %}

        let proclass_cata = null;
        let list_dialog = document.getElementById('proclassListDialog');
        let list_dialog_modal = new bootstrap.Modal(list_dialog);
        let j_list_dialog = $(list_dialog);

        function render_proclass_list(proclass_type) {
            let proclass_table = j_list_dialog.find("tbody");
            let collected = new Set(proclass_cata.collection.map(proclass => proclass.proclass_id));

            proclass_table.html("");
            for (let proclass of proclass_cata[proclass_type]) {
                let tr = $("<tr></tr>")
                tr.append($("<td></td>").text(proclass.proclass_id));
                tr.append($("<td></td>").text(proclass.name));
                if (proclass.acct_id != null) {
                    tr.append($("<td></td>").append($(`<a href="/oj/acct/${proclass.acct_id}/"></a>`).text(proclass.creator_name)));
                } else {
                    tr.append($("<td></td>").text("Official"));
                }

                let collect_td = null;
                if (collected.has(proclass.proclass_id)) {
                    collect_td = $(`<td><button class="btn btn-success" actionType="decollect">Decollect</button></td>`);
                } else {
                    collect_td = $(`<td><button class="btn btn-success" actionType="collect">Collect</button></td>`);
                }
                collect_td.find("button").on('click', function (e) {
                    let action = $(this).attr("actionType");
                    let j_this = $(this);
                    $.post("/oj/be/proset", data={
                        'reqtype': action,
                        'proclass_id': proclass.proclass_id,
                    }, function(res) {
                        if (res[0] == 'E') {
                            // TODO: notify dialog will cover by current dialog, we should make notify dialog on the top
                            let msg = '';
                            if (res == 'Eacces') {
                                msg = 'You should login first';
                            } else if (res == 'Enoext') {
                                msg = 'Proclass not in your collection';
                            } else if (res == 'Eexist') {
                                msg = 'Proclass already in your collection';
                            }
                            index.show_notify_dialog(msg, index.DIALOG_TYPE.error);
                        } else {
                            if (action == "decollect") {
                                j_this.attr("actionType", "collect");
                                j_this.text("Collect");
                            } else {
                                j_this.attr("actionType", 'decollect');
                                j_this.text("Decollect");
                            }
                            proclass_cata = null;
                        }
                    });
                });
                tr.append(collect_td);

                let goto = $(`<td><button class="btn btn-primary">Goto!</button></td>`)
                goto.find("button").on('click', function(e) {
                    list_dialog_modal.hide();
                    index.go(get_goto_url(proclass.proclass_id));
                });
                tr.append(goto);

                proclass_table.append(tr);
            }
        }

        $("#switchProClass").on('click', function(e) {
            document.querySelectorAll('.proclass-tab').forEach(el => el.classList.remove('active'));
            document.querySelector('.proclass-tab[proclassType="official"]').classList.add('active');
            if (proclass_cata == null) {
                $.post("/oj/be/proset", {
                    "reqtype": "listproclass"
                }, function (e) {
                    proclass_cata = JSON.parse(e);
                    render_proclass_list("official");
                });
            } else {
                render_proclass_list("official");
            }

            list_dialog_modal.show();
        });

        document.querySelectorAll('.proclass-tab').forEach(el => {
            el.addEventListener('click', function(e) {
                document.querySelectorAll('.proclass-tab').forEach(el => el.classList.remove('active'));
                el.classList.add('active');
                let proclass_type = el.getAttribute('proclassType');

                if (proclass_cata == null) {
                    $.post("/oj/be/proset", {
                        "reqtype": "listproclass"
                    }, function (e) {
                        proclass_cata = JSON.parse(e);
                        render_proclass_list(proclass_type);
                    });
                } else {
                    render_proclass_list(proclass_type);
                }
            });
        });
    }
</script>

<style>

@media only screen and (min-width: 992px) {
    .pagination {
        justify-content: center;
    }
}

</style>

{% if cur_proclass %}
<div class="modal fade" id="proclassInfoDialog" tabindex="-1" aria-hidden="true">
<div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h2>{{ cur_proclass['name'] }}</h2>
            {% if cur_proclass['acct_id'] %}
                <h2><a href="/oj/acct/{{ cur_proclass['acct_id'] }}/">Created By: {{ cur_proclass['creator_name'] }}</a></h2>
            {% else %}
                <h2>Created By: Official</h2>
            {% end %}
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
    </div>
</div>
</div>
{% end %}

<div class="modal fade" id="proclassListDialog" tabindex="-1" aria-hidden="true">
<div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
        <div class="modal-body">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link proclass-tab" proclassType="official">Official</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link proclass-tab" proclassType="shared">User Shared</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link proclass-tab" proclassType="collection">My Collection</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link proclass-tab" proclassType="own">My Problem Class</a>
                </li>
            </ul>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th>Name</th>
                        <th>Creator</th>
                        <th>Collect</th>
                        <th>Goto!</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
    </div>
</div>
</div>

<div class="row">
    <div class="col-lg-2 col-12">
        <form id="proclass">
            <label class="form-label">Current Problem Class</label>
            {% if cur_proclass %}
                <label class="form-label">{{ cur_proclass['name'] }}</label>
                <div style="display: none;" id="curProclassId" proclass="{{ cur_proclass['proclass_id'] }}"></div>
            {% else %}
                <label class="form-label">NULL</label>
                <div style="display: none;" id="curProclassId" proclass="None"></div>
            {% end %}
            <div>
                <button type="button" class="btn btn-primary" id="switchProClass">Switch</button>
                <button type="button" class="btn btn-success" id="infoProClass">Info</button>
                <a class="btn btn-warning" href="/oj/acct/proclass/{{ user.acct_id }}/">Manage</a>
            </div>
        </form>

        <form id="filter">
            <label class="form-label">過濾器</label>

            <div class="mb-3">
                <label for="order" class="form-label">Sort By</label>
                <select id="order" class="form-select">
                    <option value="None" {% if flt['order'] == None %} selected {% end %}>None</option>
                    <option value="chal" {% if flt['order'] == 'chal' %} selected {% end %}>Submission AC Ratio</option>
                    <option value="user" {% if flt['order'] == 'user' %} selected {% end %}>User AC Ratio</option>
                    <option value="chalcnt" {% if flt['order'] == 'chalcnt' %} selected {% end %}>Submission Count</option>
                    <option value="chalaccnt" {% if flt['order'] == 'chalaccnt' %} selected {% end %}>Submission AC Count</option>
                    <option value="usercnt" {% if flt['order'] == 'usercnt' %} selected {% end %}>User Submission Count</option>
                    <option value="useraccnt" {% if flt['order'] == 'useraccnt' %} selected {% end %}>User Submission AC Count</option>
                </select>

                <label for="reverse" class="form-check-label">Reverse Sort Order</label>
                <input type="checkbox" class="form-check-input" id="reverse" {% if flt['reverse'] %} checked {% end %} />
            </div>

            <div class="mb-1">
                <label for="show">Problem Selector</label>
                <select id="show" class="form-select">
                    <option value="all" {% if flt['problem_show'] == 'all' %} selected {% end %}>All</option>
                    <option value="onlyac" {% if flt['problem_show'] == 'onlyac' %} selected {% end %}>Only AC</option>
                    <option value="notac"{% if flt['problem_show'] == 'notac' %} selected {% end %}>Not AC</option>
                </select>

                {% if isadmin %}
                    <label for="online" class="form-check-label">Show Only Online Problem</label>
                    <input type="checkbox" class="form-check-input" id="online" {% if flt['online'] %} checked {% end %} />
                {% end %}
            </div>

            <div class="mb-1">
                <button id="filter_submit" class="btn btn-primary" type="button">Filter</button>
            </div>

            <div class="mb-1">
                <label class="form-label">Go to Problem</label>
                <input type="text" class="select_prob form-control" placeholder="problem number">
            </div>
        </form>
    </div>

    <div class="col-lg-10 col-12">
        <table id="prolist" class="table table-striped table-hover table-responsive col mx-lg-3">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">State</th>
                    <th scope="col">Problem Name</th>
                    <th scope="col">AC Ratio (User)</th>
                    <th scope="col">AC Ratio (Submission)</th>
                    <th scope="col">Tags</th>
                </tr>
            </thead>
            <tbody>
            {% for pro in prolist %}
                <tr>
                    <td class="id">{{ pro['pro_id'] }}</td>
                    {% if pro['state'] is None %}
                        <td>Todo</td>
                    {% else %}
                        <td class="state-{{ pro['state'] }}">{{ChalConst.STATE_LONG_STR[pro['state']]}}</td>
                    {% end %}
                    <td class="name">
                        <a href="/oj/pro/{{ pro['pro_id'] }}/">{{ pro['name'] }}</a>
                    </td>

                    {% set rate = pro['rate_data'] %}
                    <td>
                        {% if rate['user_ac_chal_cnt'] and rate['user_all_chal_cnt'] %}
                            {{ '%.2f' % (rate['user_ac_chal_cnt'] / rate['user_all_chal_cnt'] * 100) }}%
                        {% else %}
                            {{ '0.00%' }}
                        {% end %}

                        (<a href="/oj/rank/{{ pro['pro_id'] }}/">{{ rate['user_ac_chal_cnt'] }}</a>
                        / {{ rate['user_all_chal_cnt'] }})
                    </td>

                    <td>
                        {% if rate['all_chal_cnt'] and rate['ac_chal_cnt'] %}
                            {{ '%.2f' % (rate['ac_chal_cnt'] / rate['all_chal_cnt'] * 100) }}%
                        {% else %}
                            {{ '0.00%' }}
                        {% end %}
                        (<a href="/oj/chal/?proid={{ pro['pro_id'] }}&state=1">{{ rate['ac_chal_cnt'] }}</a>
                        /
                        <a href="/oj/chal/?proid={{ pro['pro_id'] }}">{{ rate['all_chal_cnt'] }}</a>)
                    </td>

                    <td class="name">{{ pro.get('tags', '') or '' }}</td>
                </tr>
            {% end %}
            </tbody>
        </table>

        <!-- TODO: Sort By & Problem Selector -->
        {% set postfix = '' %}
        {% if cur_proclass != None %}
        {% set postfix = postfix + '&proclass_id=%s' % cur_proclass['proclass_id'] %}
        {% end %}
        {% if flt['problem_show'] != 'all' %}
        {% set postfix = postfix + f"&show={flt['problem_show']}" %}
        {% end %}
        {% if flt['order'] != None %}
        {% set postfix = postfix + f"&order={flt['order']}" %}
        {% end %}
        {% if isadmin and flt['online'] != False %}
        {% set postfix = postfix + f"&online={flt['online']}" %}
        {% end %}
        {% if flt['reverse'] != False %}
        {% set postfix = postfix + f"&reverse={flt['reverse']}" %}
        {% end %}

        <div class="row">
            <div class="col-1"></div>
            <div class="col pt-3">
                {% set _p_pageoff = pageoff %}
                {% set _p_pagenum = 40 %}
                {% set _p_total_cnt = pro_total_cnt %}
                {% set _p_postfix = postfix %}
                {% include "pagination.html" %}
            </div>
        </div>

    </div>
</div>
