{% import math %}
{% from services.chal import ChalConst %}

<link rel="stylesheet" type="text/css" href="/oj/proset.css">

<script type="text/javascript">
    var re = /[^0-9]/
    function init() {
        let j_proclass = $('#proclass');
        let j_filter = $('#filter');

        j_proclass.find('#publicProClass').on('change', function(e) {
            let off = location.href.match(/off=(\d+)/);
            let pubclass_id = $(this).val();
            let order = j_filter.find("#order").val();
            let show = j_filter.find("#show").val();
            let is_online = j_filter.find("#online").is(":checked");
            let is_reversed = j_filter.find("#reverse").is(":checked");
            let url = '/oj/proset/?';

            if (order != '') {
                url += `&order=${order}`;
            }

            if (show != '') {
                url += `&show=${show}`;
            }

            if (is_online != false) {
                url += `&online=${is_online}`;
            }

            if (is_reversed != false) {
                url += `&reverse=${is_reversed}`;
            }

            if (pubclass_id != 'None') {
                url += `&pubclass_id=${pubclass_id}`;
            }

            index.go(url);
        });

        j_filter.find("#filter_submit").on('click', function(e) {
            let order = j_filter.find("#order").val();
            let show = j_filter.find("#show").val();
            let pubclass_id = j_proclass.find("#publicProClass").val();
            let is_online = j_filter.find("#online").is(":checked");
            let is_reversed = j_filter.find("#reverse").is(":checked");
            let url = '/oj/proset/?';

            if (order != '') {
                url += `&order=${order}`;
            }

            if (show != '') {
                url += `&show=${show}`;
            }

            if (is_online != false) {
                url += `&online=${is_online}`;
            }

            if (is_reversed != false) {
                url += `&reverse=${is_reversed}`;
            }

            if (pubclass_id != 'None') {
                url += `&pubclass_id=${pubclass_id}`;
            }

            index.go(url);
        });

        let select_prob = j_filter.find('input.select_prob');
        select_prob.on('keypress', function(e) {
            if (e.keyCode == 13) {
                if (re.test(select_prob.val())) {
                    index.show_notify_dialog('請輸入數字', index.DIALOG_TYPE.info);
                    select_prob.val('');
                    return
                }

                index.go(`/oj/pro/${select_prob.val()}/`);
            }
        });
    }
</script>

<style>

@media only screen and (min-width: 992px) {
    .pagination {
        justify-content: center;
    }
}

</style>

<div class="row">
    <div class="col-lg-2 col-12">
        <form id="proclass">
            <label class="form-label">題單</label>

            <div class="mb-1">
                <label for="" class="form-label">Public Problem Class</label>
                <select id="publicProClass" class="form-select">
                    <option value="None" {% if cur_pubclass is None %}selected{% end %}>None</option>
                    {% for pc in pubclass_list %}
                        <option value="{{ pc['pubclass_id'] }}" {% if cur_pubclass is not None and pc['pubclass_id'] == cur_pubclass['pubclass_id'] %}selected{% end %}>
                            {{ pc['name'] }}
                        </option>
                    {% end %}
                </select>
            </div>

            <div class="mb-1">
                <label for="" class="form-label">Private Problem Class</label>
                <select id="privateProClass" class="form-select">
                    <option value="WIP">None</option> <!-- TODO: Private Problem Set -->
                </select>
            </div>
        </form>

        <form id="filter">
            <label class="form-label">過濾器</label>

            <div class="mb-3">
                <label for="order" class="form-label">Sort By</label>
                <select id="order" class="form-select">
                    <option value="None" {% if flt['order'] == None %} selected {% end %}>None</option>
                    <option value="chal" {% if flt['order'] == 'chal' %} selected {% end %}>Submission AC Ratio</option>
                    <option value="user" {% if flt['order'] == 'user' %} selected {% end %}>User AC Ratio</option>
                    <option value="chalcnt" {% if flt['order'] == 'chalcnt' %} selected {% end %}>Submission Count</option>
                    <option value="chalaccnt" {% if flt['order'] == 'chalaccnt' %} selected {% end %}>Submission AC Count</option>
                    <option value="usercnt" {% if flt['order'] == 'usercnt' %} selected {% end %}>User Submission Count</option>
                    <option value="useraccnt" {% if flt['order'] == 'useraccnt' %} selected {% end %}>User Submission AC Count</option>
                </select>

                <label for="reverse" class="form-check-label">Reverse Sort Order</label>
                <input type="checkbox" class="form-check-input" id="reverse" {% if flt['reverse'] %} checked {% end %} />
            </div>

            <div class="mb-1">
                <label for="show">Problem Selector</label>
                <select id="show" class="form-select">
                    <option value="all" {% if flt['problem_show'] == 'all' %} selected {% end %}>All</option>
                    <option value="onlyac" {% if flt['problem_show'] == 'onlyac' %} selected {% end %}>Only AC</option>
                    <option value="notac"{% if flt['problem_show'] == 'notac' %} selected {% end %}>Not AC</option>
                </select>

                {% if isadmin %}
                    <label for="online" class="form-check-label">Show Only Online Problem</label>
                    <input type="checkbox" class="form-check-input" id="online" {% if flt['online'] %} checked {% end %} />
                {% end %}
            </div>

            <div class="mb-1">
                <button id="filter_submit" class="btn btn-primary" type="button">Filter</button>
            </div>

            <div class="mb-1">
                <label class="form-label">Go to Problem</label>
                <input type="text" class="select_prob form-control" placeholder="problem number">
            </div>
        </form>
    </div>

    <div class="col-lg-10 col-12">
        <table id="prolist" class="table table-striped table-hover table-responsive col mx-lg-3">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">State</th>
                    <th scope="col">Problem Name</th>
                    <th scope="col">AC Ratio (User)</th>
                    <th scope="col">AC Ratio (Submission)</th>
                    <th scope="col">Tags</th>
                </tr>
            </thead>
            <tbody>
            {% for pro in prolist %}
                <tr>
                    <td class="id">{{ pro['pro_id'] }}</td>
                    {% if pro['state'] is None %}
                        <td>Todo</td>
                    {% else %}
                        <td class="state-{{ pro['state'] }}">{{ChalConst.STATE_LONG_STR[pro['state']]}}</td>
                    {% end %}
                    <td class="name">
                        <a href="/oj/pro/{{ pro['pro_id'] }}/">{{ pro['name'] }}</a>
                    </td>

                    {% set rate = pro['rate_data'] %}
                    <td>
                        {% if rate['user_ac_chal_cnt'] and rate['user_all_chal_cnt'] %}
                            {{ '%.2f' % (rate['user_ac_chal_cnt'] / rate['user_all_chal_cnt'] * 100) }}%
                        {% else %}
                            {{ '0.00%' }}
                        {% end %}

                        (<a href="/oj/rank/{{ pro['pro_id'] }}/">{{ rate['user_ac_chal_cnt'] }}</a>
                        / {{ rate['user_all_chal_cnt'] }})
                    </td>

                    <td>
                        {% if rate['all_chal_cnt'] and rate['ac_chal_cnt'] %}
                            {{ '%.2f' % (rate['ac_chal_cnt'] / rate['all_chal_cnt'] * 100) }}%
                        {% else %}
                            {{ '0.00%' }}
                        {% end %}
                        (<a href="/oj/chal/?proid={{ pro['pro_id'] }}&state=1">{{ rate['ac_chal_cnt'] }}</a>
                        /
                        <a href="/oj/chal/?proid={{ pro['pro_id'] }}">{{ rate['all_chal_cnt'] }}</a>)
                    </td>

                    <td class="name">{{ pro.get('tags', '') or '' }}</td>
                </tr>
            {% end %}
            </tbody>
        </table>

        <!-- TODO: Sort By & Problem Selector -->
        {% set postfix = '' %}
        {% if cur_pubclass != None %}
        {% set postfix = postfix + '&pubclass_id=%s' % cur_pubclass['pubclass_id'] %}
        {% end %}
        {% if flt['problem_show'] != 'all' %}
        {% set postfix = postfix + f"&show={flt['problem_show']}" %}
        {% end %}
        {% if flt['order'] != None %}
        {% set postfix = postfix + f"&order={flt['order']}" %}
        {% end %}
        {% if isadmin and flt['online'] != False %}
        {% set postfix = postfix + f"&online={flt['online']}" %}
        {% end %}
        {% if flt['reverse'] != False %}
        {% set postfix = postfix + f"&reverse={flt['reverse']}" %}
        {% end %}

        <div class="row">
            <div class="col-1"></div>
            <div class="col pt-3">
                {% set _p_pageoff = pageoff %}
                {% set _p_pagenum = 40 %}
                {% set _p_total_cnt = pro_total_cnt %}
                {% set _p_postfix = postfix %}
                {% include "pagination.html" %}
            </div>
        </div>

    </div>
</div>
