<script type="text/javascript">
    function init() {
        let j_form = $('#form');
        let acct_id = "{{ acct.acct_id }}";
        j_form.find('button.submit').on('click', function(e) {
            let qtext = j_form.find('textarea.ques').val();
            $.post('/oj/be/question', {
            'reqtype': 'ask',
            'acct_id': acct_id,
            'qtext': qtext,
            }, function(res) {
                let msg = 'Unknown';
                if (res[0] == 'E') {
                    msg = res;
                    if (res == 'Equesempty') {
                        msg = 'Do not submit empty question';
                    }

                    index.show_notify_dialog(msg, index.DIALOG_TYPE.error);
                } else {
                    index.show_notify_dialog('Done', index.DIALOG_TYPE.success);
                    setTimeout(() => index.reload(), 1000);
                }
            });
        });
    }

    function rm_ques(idx) {
        let j_form = $('#form');
        let acct_id = "{{ acct.acct_id }}"

        $.post('/oj/be/question', {
            'reqtype': 'rm_ques',
            'acct_id': acct_id,
            'index': idx,
        }, function(res) {
            msg = 'Unknown';
            if (res[0] == 'E') {
                msg = res;
                index.show_notify_dialog(msg, index.DIALOG_TYPE.error);
            } else {
                index.show_notify_dialog('Done', index.DIALOG_TYPE.success);
                setTimeout(() => index.reload(), 1000);
            }
        });
    }
</script>
<div class="g-lg-12">
  <div>
  Account : {{ acct.name }} {{ acct.acct_id }}
  </div>
  <div id="form">
    {% for count, ques in enumerate(ques_list) %}
    <div id="abc" style="border:2px lavander solid;">
      <h3>Question: </h3>
      <h5>{{ ques['Q'] }}</h5>
      {% if ques['A'] == None %}
      <p style="color:red;">Wait for Reply</p>
      {% else %}
      <h3>Reply:</p>
      <h5>{{ ques['A'] }}</p>
      {% end %}
      <input type="button" id="buttom" value="Remove" onclick="rm_ques({{ count }});">
    </div>
    {% end %}
    <br />
    <textarea class="ques" style="width:100%; height:100px;"></textarea>
    <br />
    <button class="btn btn-success">Ask</button>
  </div>
</div>
