{% extends 'manage.templ' %}
{% block head %}
<link rel="stylesheet" type="text/css" href="/oj/manage-dash.css">

<script type="text/javascript" id="contjs">
    function init(){
    }
</script>
{% end %}
{% block content %}
{% end %}
