{% block head %}{% end %}
<div class="g-lg-2">
    <ul class="nav-stack">
	<li{% if page == 'dash' %} class="active"{% end %}><a href="/oj/moodle/dash/">Dashboard</a></li>
	<li{% if page == 'board' %} class="active"{% end %}><a href="/oj/moodle/board/">Board</a></li>
	{% if manage == True %}
	<li{% if page == 'manage' %} class="active"{% end %}><a href="/oj/moodle/manage/">Manage</a></li>
	{% end %}
    </ul>
</div>
<div class="g-lg-10">
{% block content %}{% end %}
</div>
