<link rel="stylesheet" type="text/css" href="/oj/about.css">

<script type="text/javascript">
</script>

<div class="g-lg-12">
    <p>
	<h2>感謝PZRead大力支持</h2>
    </p>
    <p>
	<h3>開發人員名單:</h3>
    </p>
    <p>
	<strong>PZRead</strong><br>
	allenwhale<br>
	lfswang<br>
    </p>

</div>
