{% import config %}
{% from services.contests import ContestMode %}
<script type="text/javascript" id="contjs">
    function init() {}
</script>

<div class="col-lg-12 ms-lg-2">
    {% for contest_name, contest_list in contest_category %}
        <h4 class="mt-3 d-inline-block">{{ contest_name.capitalize() }} Contests</h4>
        {% if contest_name == "upcoming" and user.is_kernel() %}
            <a class="btn btn-primary d-inline-block" href="{{ url('/contests/manage/add/') }}">&#x271a;</a>
        {% end %}
        <table class="table table-hover table-sm table-responsive-sm col mx-lg-3">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Start Time</th>
                <th scope="col">End Time</th>
                <th scope="col">Length</th>
                <th scope="col">Contest Type</th>
                <th scope="col">Scoreboard</th>
            </tr>
        </thead>
        <tbody>
            {% for contest in contest_list %}
                <tr>
                    <th scope="row"><a href="{{ url(f'/contests/{ contest['contest_id'] }/info/') }}">{{ contest['name'] }}</a></th>
                    <td>{{ contest['contest_start'].astimezone(config.TIMEZONE).strftime("%Y-%m-%d %H:%M") }}</td>
                    <td>{{ contest['contest_end'].astimezone(config.TIMEZONE).strftime("%Y-%m-%d %H:%M") }}</td>
                    <td>{{ contest['contest_end'] - contest['contest_start'] }}</td>
                    <td>{{ ContestMode(int(contest['contest_mode'])).name }}</td>
                    <td>{{ "Yes" if contest['is_public_scoreboard'] else "No" }}</td>
                </tr>
            {% end %}
        </tbody>
        {% if len(contest_list) == 0 %}
            <tr><td colspan="6" class="text-center text-muted">No {{ contest_name }} contests</td></tr>
        {% end %}
        </table>
    {% end %}

    <div class="row">
        <div class="col-1"></div>
        <div class="col pt-3">
            {% set _p_pageoff = pageoff %}
            {% set _p_pagenum = 20 %}
            {% set _p_total_cnt = recent_length %}
            {% set _p_postfix = '' %}
            {% include "../pagination.html" %}
        </div>
    </div>
</div>
