{% import config %}
{% from services.contests import ContestMode, RegMode, UserStatus %}
<script>
    function init() {
        {% if not contest_session.is_started() %}
            let desc_tex = `{{ markdown_escape(contest.desc_before_contest) }}`;
        {% elif contest_session.is_running() %}
            let desc_tex = `{{ markdown_escape(contest.desc_during_contest) }}`;
        {% elif contest_session.is_ended() %}
            let desc_tex = `{{ markdown_escape(contest.desc_after_contest) }}`;
        {% end %}

        let descEle = document.getElementById('desc');
        descEle.innerHTML = DOMPurify.sanitize(marked.parse(index.unescape_html(desc_tex)));
        try {
            MathJax.typeset();
        } catch (e) {
            console.warn('MathJax typeset error', e);
        }
    }
</script>

<div class="row">
    <h1>{{ contest.name }}</h1>
    <div class="row">
        <div class="col-lg-2 col-12">
            <div class="card mb-1">
                <div class="card-header">Start / End</div>
                <div class="card-body">
                    <h5>{{ contest_session.start_time.astimezone(config.TIMEZONE).strftime("%Y-%m-%d %H:%M:%S") }}</h5>
                    <h5>{{ contest_session.end_time.astimezone(config.TIMEZONE).strftime("%Y-%m-%d %H:%M:%S") }}</h5>
                </div>
            </div>

            <div class="card mb-1">
                <div class="card-header">Contest Style</div>
                <div class="card-body">
                    <h5>{{ ContestMode(contest.contest_mode).name }}</h5>

                    {% if contest.is_public_scoreboard %}
                        <h5>Scoreboard</h5>
                    {% else %}
                        <h5>No Scoreboard</h5>
                    {% end %}
                </div>
            </div>

            <div class="card mb-1">
                <div class="card-header">Registration Mode</div>
                <div class="card-body">
                    {% if contest.reg_mode is RegMode.INVITED %}
                        <h5>Invited</h5>
                    {% else %}
                        {% if contest.reg_mode is RegMode.FREE_REG %}
                            <h5>Free Registration, no approval needed</h5>
                        {% elif contest.reg_mode is RegMode.REG_APPROVAL %}
                            <h5>Free Registration, approval needed </h5>
                        {% end %}
                        <h5>{{ contest.reg_end.astimezone(config.TIMEZONE).strftime("%Y-%m-%d %H:%M:%S") }}</h5>
                    {% end %}
                </div>
            </div>

            <div class="card mb-1">
                <div class="card-header">Registration Status</div>

                <div class="card-body">
                    {% if contest_access.is_admin %}
                        <h5>Admin, no registration needed</h5>
                    {% else %}
                        {% set now = datetime.datetime.now(datetime.UTC) %}
                        {% set can_reg = True %}
                        {% if now >= contest.reg_end and contest.reg_mode is not RegMode.INVITED %}
                            {% set can_reg = False %}
                            <h5>Registration Ended</h5>
                        {% end %}

                        {% if contest.reg_mode is RegMode.INVITED %}
                            {% if contest.member_is_status(user, UserStatus.APPROVED) %}
                                <h5>Invited</h5>
                            {% else %}
                                <h5>Not Invited</h5>
                            {% end %}
                        {% elif contest.reg_mode is RegMode.FREE_REG %}
                            {% if contest.member_is_status(user, UserStatus.APPROVED) %}
                                <h5>Registered</h5>
                            {% else %}
                                <h5>Not Registered</h5>
                            {% end %}
                            {% if can_reg %}
                                <a href="{{ url(f'/contests/{ contest.contest_id }/reg/') }}" class="btn btn-primary">Go to Register</a>
                            {% end %}
                        {% else %}
                            {% if contest.member_is_status(user, UserStatus.REQUESTED) %}
                                <h5>Waiting Approval</h5>
                            {% elif contest.member_is_status(user, UserStatus.APPROVED) %}
                                <h5>Registered</h5>
                            {% elif contest.member_is_status(user, UserStatus.REJECTED) %}
                                <h5>Rejected</h5>
                            {% else %}
                                <h5>Not Registered</h5>
                            {% end %}
                            {% if can_reg %}
                                <a href="{{ url(f'/contests/{ contest.contest_id }/reg/') }}" class="btn btn-primary">Go to Register</a>
                            {% end %}
                        {% end %}
                    {% end %}
                </div>

            </div>
        </div>

        <div class="col-lg-10 col-12" id="desc"></div>
    </div>
</div>
