{% import math %}
{% from services.chal import ChalConst %}

<link rel="stylesheet" type="text/css" href="/oj/proset.css">

<script type="text/javascript">
    function init() {
    }
</script>

<style>

@media only screen and (min-width: 992px) {
    .pagination {
        justify-content: center;
    }
}

/* FIXME: index.css also have state-0, we should separate them */
td.score.state-0 {
color: #DC0000 !important;
}
td.score.state-1 {
color: #DC2000 !important;
}
td.score.state-2 {
color: #DC5800 !important;
}
td.score.state-3 {
color: #DC8400 !important;
}
td.score.state-4 {
color: #DEB000 !important;
}
td.score.state-5 {
color: #DCDC00 !important;
}
td.score.state-6 {
color: #CADC00 !important;
}
td.score.state-7 {
color: #C0DC00 !important;
}
td.score.state-8 {
color: #B0DC00 !important;
}
td.score.state-9 {
color: #8DDC00 !important;
}
td.score.state-10 {
color: #00dc00 !important;
font-weight: bolder;
}

</style>

{% set score_color_class_map = ["state-0", "state-1", "state-2", "state-3", "state-4", "state-5", "state-6", "state-7", "state-8", "state-9", "state-10"] %}
{% set is_end = contest.is_end() %}

<div class="row">
    <div class="col-lg-10 col-12">
        <table id="prolist" class="table table-striped table-hover table-responsive col mx-lg-3">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">State</th>
                    <th scope="col">Problem Name</th>
                    <th scope="col">Score</th>
                    {% if show_ac_ratio %}
                        <th scope="col">AC Ratio (User)</th>
                        <th scope="col">AC Ratio (Submission)</th>
                    {% end %}
                </tr>
            </thead>
            <tbody>
            {% for idx, pro in enumerate(prolist) %}
                <tr>
                    <td class="id">{{ pro['pro_id'] }}</td>
                    {% if pro['state'] is None %}
                        <td>Todo</td>
                    {% else %}
                        <td class="state-{{ pro['state'] }}">{{ ChalConst.STATE_LONG_STR[pro['state']] }}</td>
                    {% end %}

                    {% set pro_name = pro['name'] %}
                    {% if f"{chr(65+idx)}." not in pro_name and f"p{chr(65+idx)}" not in pro_name %}
                        {% set pro_name = f"p{chr(65+idx)}. {pro_name}" %}
                    {% end %}

                    {% if is_end and pro['status'] == ProConst.STATUS_ONLINE %}
                        <td class="name">
                            <a href="/oj/pro/{{ pro['pro_id'] }}/">{{ pro_name }}</a>
                        </td>
                    {% else %}
                        <td class="name">
                            <a href="/oj/contests/{{ contest.contest_id }}/pro/{{ pro['pro_id'] }}/">{{ pro_name }}</a>
                        </td>
                    {% end %}

                    {% set state_idx = int(pro['score'] / 10) %}
                    {% if pro['state'] == ChalConst.STATE_AC or state_idx > 10 %}
                        {% set state_idx = 10 %}
                    {% elif state_idx < 0 %}
                        {% set state_idx = 0 %}
                    {% end %}
                    <td class="{{ score_color_class_map[state_idx] }} score">
                        {{ pro['score'] }}
                    </td>

                    {% if show_ac_ratio %}
                        {% set rate = pro['rate_data'] %}
                        <td>
                            {% if rate['user_ac_chal_cnt'] and rate['user_all_chal_cnt'] %}
                                {{ '%.2f' % (rate['user_ac_chal_cnt'] / rate['user_all_chal_cnt'] * 100) }}%
                            {% else %}
                                {{ '0.00%' }}
                            {% end %}
                        </td>

                        <td>
                            {% if rate['all_chal_cnt'] and rate['ac_chal_cnt'] %}
                                {{ '%.2f' % (rate['ac_chal_cnt'] / rate['all_chal_cnt'] * 100) }}%
                            {% else %}
                                {{ '0.00%' }}
                            {% end %}
                            (<a href="/oj/contests/{{ contest.contest_id }}/chal/?proid={{ pro['pro_id'] }}&state={{ ChalConst.STATE_AC }}">{{ rate['ac_chal_cnt'] }}</a>
                            /
                            <a href="/oj/contests/{{ contest.contest_id }}/chal/?proid={{ pro['pro_id'] }}">{{ rate['all_chal_cnt'] }}</a>)
                        </td>
                    {% end %}
                </tr>
            {% end %}
            </tbody>
        </table>

        {% set postfix = '' %}

        <div class="row">
            <div class="col-1"></div>
            <div class="col pt-3">
                {% set _p_pageoff = pageoff %}
                {% set _p_pagenum = 40 %}
                {% set _p_total_cnt = pro_total_cnt %}
                {% set _p_postfix = postfix %}
                {% include "../pagination.html" %}
            </div>
        </div>

    </div>
</div>
