{% import config %}
{% from services.contests import RegMode, UserStatus %}
{% import datetime %}

<script>
    function init() {
        $("button.reg").on('click', e => {
            $.post(`/oj/be/contests/{{ contest.contest_id }}/reg`, {
                'reqtype': 'reg',
            }, res => {
                res = JSON.parse(res);
                if (res.status == 'S') {
                    index.show_notify_dialog('Register Successfully', index.DIALOG_TYPE.success);
                } else {
                    index.show_notify_dialog(res.data, index.DIALOG_TYPE.error);
                }
                index.reload();
            })
        });

        $("button.unreg").on('click', e => {
            $.post(`/oj/be/contests/{{ contest.contest_id }}/reg`, {
                'reqtype': 'unreg',
            }, res => {
                res = JSON.parse(res);
                if (res.status == 'S') {
                    index.show_notify_dialog('Unregister Successfully', index.DIALOG_TYPE.success);
                } else {
                    index.show_notify_dialog(res.data, index.DIALOG_TYPE.error);
                }
                index.reload();
            })
        });
    }
</script>

<!-- TODO: Show reject -->
{% if contest.reg_mode is RegMode.INVITED %}
    {% if user.acct_id in contest.user_list %}
        {% set status = "Invited" %}
    {% else %}
        {% set status = "Not Invited" %}
    {% end %}
{% elif contest.reg_mode is RegMode.FREE_REG %}
    {% if user.acct_id in contest.user_list %}
        {% set status = "Registered" %}
    {% else %}
        {% set status = "Not Registered" %}
    {% end %}
{% else %}
    {% if contest.member_is_status(user, UserStatus.REQUESTED) %}
        {% set status = "Waiting Approval" %}
    {% elif contest.member_is_status(user, UserStatus.APPROVED) %}
        {% set status = "Registered" %}
    {% else %}
        {% set status = "Not Registered" %}
    {% end %}
{% end %}

<h2 class="text-center">{{ contest.name }}</h2>
<div class="row row-cols-1 row-cols-lg-4 justify-content-center align-content-center">
    <div class="col mt-4">
        <div class="mb-1 text-center">
            <label class="form-label">Status: {{ status }}</label>
            <label class="form-label">Registration End: {{ contest.reg_end.astimezone(config.TIMEZONE).strftime("%Y-%m-%d %H:%M:%S") }}</label>

            {% set now = datetime.datetime.now(datetime.UTC) %}
            {% set is_reged = user.acct_id in contest.user_list and contest.user_list[user.acct_id]['status'] in [UserStatus.REQUESTED, UserStatus.APPROVED] %}

            {% if now >= contest.reg_end %}
                <h4 class="form-label">Registration Ended</h4>
            {% end %}

            {% if contest.reg_mode is not RegMode.INVITED %}
                {% if not is_reged and now < contest.reg_end %}
                    <button class="btn btn-primary reg form-control">Register</button>
                {% elif is_reged %}
                    <button class="btn btn-primary unreg form-control">Unregister</button>
                {% end %}
            {% end %}
        </div>

    </div>
</div>

