{% import datetime %}
{% from services.chal import ChalConst %}
{% from services.contests import ContestMode %}
{% from utils.htmlgen import pro_idx_to_pro_alphabet %}

<style>
.rank-gold > td {
    background-color: #cab03b;
}
.rank-silver > td {
    background-color: #7e7d73;
}
.rank-copper > td {
    background-color: #b67335;
}

td.state-0 a {
color: #DC0000;
}
td.state-1 a {
color: #DC2000;
}
td.state-2 a {
color: #DC5800;
}
td.state-3 a {
color: #DC8400;
}
td.state-4 a {
color: #DEB000;
}
td.state-5 a {
color: #DCDC00;
}
td.state-6 a {
color: #CADC00;
}
td.state-7 a {
color: #C0DC00;
}
td.state-8 a {
color: #B0DC00;
}
td.state-9 a {
color: #8DDC00;
}
td.state-10 a {
color: #00dc00;
font-weight: bolder;
}

</style>

<script>
    var contest_id = '{{ contest.contest_id }}';
    var post_url = `{{ url('/be/contests/${contest_id}/scoreboard') }}`;
    var contest_start = new Date("{{ contest.contest_start.replace(tzinfo=datetime.UTC) }}");
    var contest_end = new Date("{{ contest.contest_end.replace(tzinfo=datetime.UTC) }}");
    var contest_length = parseInt((contest_end - contest_start) / 1000);
    var score_color_class_map
        = ["state-0", "state-1", "state-2", "state-3", "state-4", "state-5", "state-6", "state-7", "state-8", "state-9", "state-10"];
    var slider = $("#timestampSlider");
    var display_time_label = $("#displayTime");
    var ws;
    var timer_id = 0;
    var is_in_specific_timestamp = false;

    /**
     * @argument secs { number }
     * @returns { string }
     */
    function secsToText(secs) {
        let ss = 0, mm = 0, hh = 0, dd = 0;
        ss = Math.floor(secs % 60);

        let round = (secs >= 0 ? Math.floor : Math.ceil);
        dd = round(secs / 86400);
        secs %= 86400;
        hh = round(secs / 3600);
        secs %= 3600;
        mm = round(secs / 60) % 60;

        return (dd != 0 ? (dd + ' Day' + (Math.abs(dd) > 1 ? 's ': ' ')) : '')
                + hh + ':' + String(mm).padStart(2, '0') + ':' + String(ss).padStart(2, '0');
    }

    function timer() {
        let cur_time = new Date();
        let diff_sec_from_start = parseInt((cur_time - contest_start) / 1000);
        if (cur_time < contest_end) {
            slider.val(diff_sec_from_start);

            if (diff_sec_from_start < 0) {
                display_time_label.text(secsToText(diff_sec_from_start));
            } else {
                let diff_sec_from_end = parseInt((contest_end - cur_time) / 1000);
                display_time_label.text(`${secsToText(diff_sec_from_start)} / ${secsToText(diff_sec_from_end)}`);
            }
        } else {
            slider.val(contest_length);
            display_time_label.text("Ended");
            clearInterval(timer_id);
        }
    }

    /**
     * @function compare_timestamp
     * @description Compare two timestamp strings in "MM:SS" format
     * @description p > q => return true
     * @description p <= q => return false
     * @argument p { String }
     * @argument q { String }
     * @returns { number }
     */
    function compare_timestamp(p, q) {
        let [p_min, p_sec] = p.split(":");
        let [q_min, q_sec] = q.split(":");
        p_min = parseInt(p_min);
        p_sec = parseInt(p_sec);
        q_min = parseInt(q_min);
        q_sec = parseInt(q_sec);
        q_min = isNaN(q_min) ? 0 : q_min;
        q_sec = isNaN(q_sec) ? 0 : q_sec;

        if (p_min != q_min) return p_min > q_min;
        return p_sec > q_sec;
    }

    // from https://www.explainthis.io/zh-hant/swe/throttle
    function throttle(fn, delay = 500) {
        let timer = null;

        return (...args) => {
            if (timer) return;
            timer = setTimeout(() => {
                fn(...args);
                timer = null;
            }, delay);
        };
    }

    function init() {
        let refresh_button = $("#refresh");
        const refresh_scoreboard = throttle((timestamp) => {
            update_scoreboard(timestamp);
        });

        index.register_ws_callback('contestnewchalsub', function(data) {
            if (data == contest_id) {
                refresh_scoreboard(-1);
            }
        });

        // Initialize with contest_id and setup connection indicator
        index.ws_send('contestnewchalsub_init', contest_id);

        // Update connection indicator when WebSocket opens
        if (index.ws && index.ws.readyState === WebSocket.OPEN) {
            let indicator = $("#connectIndicator");
            indicator.removeClass('bg-danger');
            indicator.addClass('bg-success');
            indicator.text("Online");
        }

        let cur_date = new Date();
        slider.attr('max', contest_length);

        slider.on('input', function(e) {

            let sec = slider.val();
            let cur_length = parseInt((new Date() - contest_start) / 1000);

            if (sec > contest_length) {
                slider.val(contest_length);
                timer();
                refresh_scoreboard(-1);

            } else if (sec >= cur_length) {
                slider.val(cur_length);
                timer();
                refresh_scoreboard(-1);

                clearInterval(timer_id); // make sure only one timer running
                timer_id = setInterval(timer, 1);

            } else {
                clearInterval(timer_id); // stop timer

                let start = new Date(contest_start);
                start.setSeconds(start.getSeconds() + sec);
                timer();
                refresh_scoreboard(start.toISOString());
            }
        });

        refresh_button.on('click', e => {
            refresh_scoreboard(-1);
        });

        update_scoreboard(-1);
        timer_id = setInterval(timer, 1);
    }

    function destroy() {
        index.ws_send('unregister', 'contestnewchalsub');
    }

    /**
     * @argument timestamp { number|string }
     */
    function update_scoreboard(timestamp) {
        let param = {};
        if (timestamp != -1) {
            param.display_time = timestamp;
        }

        $.post(post_url, param, res => {
            res = JSON.parse(res);
            if (res.status == 'Eacces') {
                $("#scoreboard").html("No Scoreboard");
                return;
            }

            /**
             * @type { Array<Object> }
             */
            let scores = res.data;
            {% if contest.contest_mode is ContestMode.IOI %}
                render_ioi_style_scoreboard(scores);
            {% elif contest.contest_mode is ContestMode.RANDOM_SET %}
                render_randomset_style_scoreboard(scores);
            {% end %}
        });
    }

    {% if contest.contest_mode is ContestMode.RANDOM_SET %}

    /**
     * @argument scores_data { Array }
     */
    function render_randomset_style_scoreboard(scores_data) {
        /**
         * A map of problem_id to first kill acct_id
         * @type { Map<number, Object> }
         */
        let first_kill_map = new Map();
        scores_data.forEach(scores => {
            scores.ac_count = Object.values(scores.scores).filter(score => score.state == {{ ChalConst.STATE_AC }}).length;
            scores.fail_count = Object.values(scores.scores).reduce((acc, score) => acc + score.fail_count, 0);
            scores.max_timestamp = Object.values(scores.scores).reduce((max, score) =>
                compare_timestamp(score.timestamp, max) ? score.timestamp : max, '');
            scores.latest_score_changed_timestamp = Object.values(scores.scores)
                .filter(score => score.score !== 0)
                .reduce((latest, score) =>
                    compare_timestamp(score.timestamp, latest) ? score.timestamp : latest, '');

            Object.entries(scores.scores)
                .filter(([_, score]) => score.state === {{ ChalConst.STATE_AC }})
                .forEach(([pro_id, score]) => {
                    const shouldUpdate = !first_kill_map.has(pro_id) ||
                                        compare_timestamp(first_kill_map.get(pro_id).timestamp, score.timestamp);

                    if (shouldUpdate) {
                        first_kill_map.set(pro_id, {
                            acct_id: scores.acct_id,
                            timestamp: score.timestamp
                        });
                    }
                });
        });
        scores_data.forEach(scores => {
            scores.first_kill_count = Object.entries(scores.scores)
                .filter(([_, score]) => score.state === {{ ChalConst.STATE_AC }})
                .filter(([pro_id]) => first_kill_map.get(pro_id).acct_id === scores.acct_id)
                .length;
        });

        scores_data.sort((p, q) => {
            const p_not_have_challenges = Object.keys(p.scores).length === 0;
            const q_not_have_challenges = Object.keys(q.scores).length === 0;
            if (p_not_have_challenges || q_not_have_challenges) return p_not_have_challenges - q_not_have_challenges;

            if (q.total_score != p.total_score) return q.total_score - p.total_score;
            if (q.ac_count != p.ac_count) return q.ac_count - p.ac_count;
            if (q.first_kill_count != p.first_kill_count) return q.first_kill_count - p.first_kill_count;
            if (q.fail_count != p.fail_count) return p.fail_count - q.fail_count;
            return compare_timestamp(p.latest_score_changed_timestamp, q.latest_score_changed_timestamp) ? 1 : -1;
        });

        const pro_list = {{ [*range(len(contest.pro_sets))] }};
        let each_ranks_html = '';
        let cur_rank = 0;
        let cur_total_score = 0;
        for (const [_, scores] of scores_data.entries()) {
            if (scores.total_score != cur_total_score) {
                cur_total_score = scores.total_score;
                cur_rank += 1;
            }

            let each_problems_score_html = '';
            let max_timestamp = scores.max_timestamp;
            for (const pro_order of pro_list) {
                if (!(pro_order in scores.scores)) {
                    each_problems_score_html += `
                    <td>
                        <p class="text-muted">-</p>
                    </td>
                    `;
                } else {
                    let score = scores.scores[pro_order];
                    let score_idx = parseInt(score.score / 10);
                    if (score_idx > 10) score_idx = 10;
                    if (score_idx < 0) score_idx = 0;
                    if (score.state == {{ ChalConst.STATE_AC }}) {
                        score_idx = 10;
                    }
                    let score_color_class_html = score_color_class_map[score_idx];

                    each_problems_score_html += `
                    <td class="${score_color_class_html}">
                        <p class=""><a href="{{ url('/contests/${contest_id}/chal/${score.chal_id}/') }}">${score.score}</a></p>
                        <p class="text-muted">${score.timestamp}</p>
                    </td>
                    `;
                }
            }

            each_ranks_html += `
                <tr>
                    <td>${cur_rank}</td>
                    <td><a href="{{ url('/acct/${scores.acct_id}/') }}">${scores.name}</a></td>
                    ${each_problems_score_html}
                    <td>
                        <p class="">${scores.total_score}</p>
                        <p class="text-muted">${max_timestamp}</p>
                    </td>
                </tr>
            `;
        }

        let scoreboard_html = `
            <table class="table table-sm table-hover table-striped">
                <thead>
                    <tr>
                        <th scope="col">Rank</th>
                        <th scope="col">Username</th>
                        {% if contest.is_admin(user) or not contest.is_member(user) %}
                            {% for i in range(len(contest.pro_sets)) %}
                            <th scope="col">
                                <span>{{ pro_idx_to_pro_alphabet(i) }}</span>
                            </th>
                            {% end %}
                        {% else %}
                            {% for idx, pro_id in enumerate(contest.get_prolist_from_acct_by_ip(user)) %}
                            <th scope="col">
                                <a class="" href="{{ url(f'/contests/{ contest.contest_id }/pro/{ pro_id }/') }}">{{ pro_idx_to_pro_alphabet(idx) }}</a>
                            </th>
                            {% end %}
                        {% end %}
                        <th scope="col">Total</th>
                    </tr>
                </thead>
                <tbody>
                    ${each_ranks_html}
                </tbody>
            </table>
        `;

        $("#scoreboard").html(scoreboard_html);
    }
    {% end %}

    {% if contest.contest_mode is ContestMode.IOI %}

    /**
     * @argument scores_data { Array }
     */
    function render_ioi_style_scoreboard(scores_data) {
        scores_data.forEach(scores => {
            scores.max_timestamp = Object.values(scores.scores).reduce((max, score) =>
                compare_timestamp(score.timestamp, max) ? score.timestamp : max, '');
        });

        scores_data.sort((p, q) => {
            const p_not_have_challenges = Object.keys(p.scores).length === 0;
            const q_not_have_challenges = Object.keys(q.scores).length === 0;
            if (p_not_have_challenges || q_not_have_challenges) return p_not_have_challenges - q_not_have_challenges;

            if (q.total_score != p.total_score) return q.total_score - p.total_score;
            return compare_timestamp(p.max_timestamp, q.max_timestamp) ? 1 : -1;
        });

        let pro_list = {{ [pro_id for pro_id in contest.pro_list.keys()] }};
        let each_ranks_html = '';
        let cur_rank = 0;
        let cur_total_score = 0;
        for (const [_, scores] of scores_data.entries()) {
            if (scores.total_score != cur_total_score) {
                cur_total_score = scores.total_score;
                cur_rank += 1;
            }

            let each_problems_score_html = '';
            let max_timestamp = scores.max_timestamp;
            for (const pro_id of pro_list) {
                if (!(pro_id in scores.scores)) {
                    each_problems_score_html += `
                    <td>
                        <p class="text-muted">-</p>
                    </td>
                    `;
                } else {
                    let score = scores.scores[pro_id];
                    let score_idx = parseInt(score.score / 10);
                    if (score_idx > 10) score_idx = 10;
                    if (score_idx < 0) score_idx = 0;
                    let score_color_class_html = score_color_class_map[score_idx];

                    each_problems_score_html += `
                    <td class="${score_color_class_html}">
                        <p class=""><a href="{{ url('/contests/${contest_id}/chal/${score.chal_id}/') }}">${score.score}</a></p>
                        <p class="text-muted">${score.timestamp}</p>
                    </td>
                    `;
                }
            }

            each_ranks_html += `
                <tr>
                    <td>${cur_rank}</td>
                    <td><a href="{{ url('/acct/${scores.acct_id}/') }}">${scores.name}</a></td>
                    ${each_problems_score_html}
                    <td>
                        <p class="">${scores.total_score}</p>
                        <p class="text-muted">${max_timestamp}</p>
                    </td>
                </tr>
            `;
        }

        let scoreboard_html = `
            <table class="table table-sm table-hover table-striped">
                <thead>
                    <tr>
                        <th scope="col">Rank</th>
                        <th scope="col">Username</th>
                        {% for idx, pro_id in enumerate(contest.pro_list) %}
                        <th scope="col">
                            <a class="" href="{{ url(f'/contests/{ contest.contest_id }/pro/{ pro_id }/') }}">{{ pro_idx_to_pro_alphabet(idx) }}</a>
                        </th>
                        {% end %}
                        <th scope="col">Total</th>
                    </tr>
                </thead>
                <tbody>
                    ${each_ranks_html}
                </tbody>
            </table>
        `;

        $("#scoreboard").html(scoreboard_html);
    }
    {% end %}
</script>

<div class="row">
    <div>
        <h2>
            <span class="text-muted">Scoreboard </span>
            <small>{{ contest.name }}</small>
        </h2>
        <button class="btn btn-primary" id="refresh">Refresh <span class="badge bg-danger" id="connectIndicator">Offline</span></button>
    </div>
    <div class="mb-1 text-center">
        <label for="timestampSlider" class="form-label">
            Display Time: <span id="displayTime">Ended</span>
            {% if (fr := contest.freeze_scoreboard_period) != 0 %}
            <span>(Scoreboard will freeze at {{ fr }} minutes)</span>
            {% end %}
        </label>
        <input type="range" class="form-range" min="0" max="5" step="1" id="timestampSlider">
    </div>
    <div id="scoreboard">
    </div>
</div>
