::selection{
    background:rgba(0,0,255,0.3);
}

::-moz-selection{
    background:rgba(0,0,255,0.3);
}

.textlayer {
    position: absolute !important;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    color: #000;
    font-family: sans-serif;
    overflow: hidden;

    & > span {
        color:transparent;
        position: absolute !important;
        line-height:1;
        white-space:pre;
        cursor:text;
    }

    .highlight {
        margin:-1px;
        padding:1px;
        background-color:rgba(180,0,170,0.2);
        border-radius:4px;
    }

    .highlight.begin {
        border-radius:4px 0px 0px 4px;
    }
    .highlight.end {
        border-radius:0px 4px 4px 0px;
    }

    .highlight.middle {
        border-radius:0px;
    }

    .highlight.selected {
        background-color:rgba(0,100,0,0.2);
    }
}

a {
    border-radius: 10px;
}