{% extends '../manage.html' %}
{% block head %}
<script type="text/javascript" id="contjs">
    function init() {
	    var j_form = $('#form');

	    j_form.find('#upload').on('click', function(e) {
	        let name = j_form.find('#name').val();
	        let status = j_form.find('#status').val();
	        let files = j_form.find('#file')[0].files;

	        if (files.length == 0) {
                index.show_notify_dialog('No file selected', index.DIALOG_TYPE.warning);
	    	    return;
	        }

            pack.get_token().done(function(pack_token) {
				index.create_progress_bar('Uploading...');

                pack.send(pack_token, files[0]).done(function() {
                    $.post('/oj/be/manage/pro/add', {
                        'reqtype': 'addpro',
                        'name': name,
                        'status': status,
                        'pack_token': pack_token
                    }, function(res) {
						index.update_progress_bar_progress(100);
						index.remove_progress_bar();
                        let msg = 'Unknown';

                        if (res[0] == 'E') {
                            if (res == 'Enamemin') {
                                msg = 'Name length < min';
                            } else if (res == 'Enamemax') {
                                msg = 'Name length > max';
                            } else if (res == 'Eparam') {
                                msg = 'Parameter Error';
                            } else if (res == 'Econf') {
                                msg = 'Syntax error';
                            }

                            index.show_notify_dialog(msg, index.DIALOG_TYPE.error);
                        } else {
                            index.go('/oj/manage/pro/');
                        }
                    });
                }).progress(function(prog) {
					index.update_progress_bar_progress(prog * 100);
                });
            });
	    });

	    j_form.find('#cancel').on('click', function(e) {
	        index.go('/oj/manage/pro/');
	    });
    }
</script>
{% end %}
{% block content %}
<div class="col-lg-10 ms-lg-2 mt-lg-2">
    <form id="form">
        <div class="mb-1">
            <label for="#name" class="form-label">Problem Name</label>
            <input type="text" class="form-control" id="name" placeholder="Problem Name">
        </div>

        <div class="mb-1">
            <label for="#status" class="form-label">Status</label>
            <select class="form-select" id="status">
                <option value=0>Online</option>
                <option value=1>Hidden</option>
                <option value=2>Offline</option>
            </select>
        </div>

        <div class="mb-1">
            <input class="form-control" type="file" id="file">
        </div>

        <div class="mb-1">
            <button type="button" class="btn btn-primary" id="upload">Upload</button>
            <button type="button" class="btn btn-secondary" id="cancel">Cancel</button>
        </div>
    </form>

    <br>
    <div>
        給各位TOJ管理員：
        <br>
        如果發生json檔案錯誤，現在可以不用上傳新的題目<br>
        可以直接點選設定出錯的題目，會導向到重新初始化的頁面<br>
        重新上傳即可<br>
        <br>
        By tobiichi3227 (T24)
    </div>
</div>
{% end %}
