{% extends '../manage.html' %}
{% block head %}
<script type="text/javascript" id="contjs">
    function init() {
	    var j_form = $('#form');

	    j_form.find('#submit').on('click', function(e) {
	        let name = j_form.find('#name').val();
	        let status = j_form.find('#status').val();
            let mode = j_form.find("#mode").val();
            let files = null;

            if (mode == "upload") {
                files = j_form.find('#file')[0].files;
            }

            function _update(pack_token) {
                $.post(`{{ url('/be/manage/pro/add') }}`, {
                    'reqtype': 'addpro',
                    'name': name,
                    'status': status,
                    'mode': mode,
                    'pack_token': pack_token,
                }, function(res) {
                    index.remove_progress_bar();
                    res = JSON.parse(res);
                    if (res.status == 'S') {
                        index.show_notify_dialog('Update Successfully', index.DIALOG_TYPE.success);
                        index.go(`{{ url('/manage/pro/update/?proid=${res.data}') }}`);
                    } else {
                        index.show_notify_dialog(res.data, index.DIALOG_TYPE.error);
                    }
                });
            }

            if (mode == "upload") {
                if (files.length == 0) {
                    index.show_notify_dialog('No file selected', index.DIALOG_TYPE.warning);
                    return;
                }
                pack.get_token().done(function(pack_token) {
                    index.create_progress_bar('Uploading...');

                    pack.send(pack_token, files[0]).done(function() {
                        index.update_progress_bar_progress(100);
                        index.update_progress_bar_title('Decompressing...');
                        _update(pack_token);
                    }).progress(function(prog) {
                        index.update_progress_bar_progress(prog * 100);
                    });
                });
            } else if (mode == "manual") {
                _update(null);
            }

	    });

	    j_form.find('#cancel').on('click', function(e) {
	        index.go(`{{ url('/manage/pro/') }}`);
	    });

        j_form.find("#mode").on('change', function(e) {
            if ($(this).val() == "upload") {
                j_form.find("#file-block").show();
            } else {
                j_form.find("#file-block").hide();
            }
        });
    }
</script>
{% end %}
{% block content %}
{% from services.pro import ProConst %}

<div class="col-lg-10 ms-lg-2 mt-lg-2">
    <form id="form">
        <div class="mb-1">
            <label for="#name" class="form-label">Problem Name</label>
            <input type="text" class="form-control" id="name" placeholder="Problem Name">
        </div>

        <div class="mb-1">
            <label for="#status" class="form-label">Status</label>
            <select class="form-select" id="status">
                <option value="{{ ProConst.STATUS_ONLINE }}">Online</option>
                <option value="{{ ProConst.STATUS_CONTEST }}">Contest</option>
                <option value="{{ ProConst.STATUS_HIDDEN }}">Hidden</option>
            </select>
            <label for="#mode" class="form-label">Add Problem Mode</label>
            <select class="form-select" id="mode">
                <option value="upload" selected>Upload problem package</option>
                <option value="manual">Use web ui to setup problem</option>
            </select>
        </div>

        <div class="mb-1" id="file-block">
            <input class="form-control" type="file" id="file">
        </div>

        <div class="mb-1">
            <button type="button" class="btn btn-primary" id="submit">Submit</button>
            <button type="button" class="btn btn-secondary" id="cancel">Cancel</button>
        </div>
    </form>
</div>
{% end %}
