{% extends '../manage.html' %}
{% block head %}
<style>
   #editor { height: 400px; width: 100%; }
   #keybindingSelect {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 10;
        background: #222;
        color: #fff;
        border-radius: 4px;
        padding: 2px 8px;
        border: 1px solid #444;
    }
</style>
<script src="{{ url('/src/third/prism.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url('/src/manage-pro.css') }}">
<link rel="stylesheet" href="{{ url('/src/third/prism.css') }}">
<script src="{{ url('/src/third/ace/ace.js') }}"></script>

<script type="text/javascript" id="contjs">
    function init() {
        let pro_id = "{{ pro_id }}";
        let preview_modal = new bootstrap.Modal(document.getElementById('previewModal'));
        let add_single_file_modal = new bootstrap.Modal(document.getElementById('addSingleFileModal'));
        let aceEditor = null;
        let isEditorModified = false;

        const handleApiResponse = (res, onSuccess, onError) => {
            let msg = '';
            let dialog_type = null;
            res = JSON.parse(res);
            if (res.status == 'S') {
                dialog_type = index.DIALOG_TYPE.success;
                msg = onSuccess ? onSuccess(res) : res.data;
            } else {
                msg = res.data;
                dialog_type = index.DIALOG_TYPE.error;
                if (onError) onError(res);
            }
            index.show_notify_dialog(msg, dialog_type);
        };

        const uploadFile = (file, progressMsg, callback) => {
            pack.get_token().done(function(token) {
                index.create_progress_bar(progressMsg);
                pack.send(token, file).done(function () {
                    index.update_progress_bar_progress(100);
                    callback(token);
                }).progress(function(prog) {
                    index.update_progress_bar_progress(prog * 100);
                });
            });
        };

        document.querySelectorAll('a.preview-file').forEach(el => {
            el.addEventListener('click', function (e) {
                let tr = $(this).parents('tr');
                let path = $(this).parents('.accordion-collapse').attr('path');
                let filename = tr.attr('filename');

                let file_content = '';
                $.post(`{{ url('/be/manage/pro/filemanager') }}`, {
                    'reqtype': 'preview',
                    'pro_id': pro_id,
                    'filename': filename,
                    'path': path,
                }, function (res) {
                    res = JSON.parse(res);
                    file_content = res.data;

                    const ext = filename.split('.').pop();
                    const langMap = {
                        'html': 'html',
                        'htm': 'html',
                        'css': 'css',
                        'js': 'javascript',
                        'json': 'json',
                        'xml': 'xml',
                        'md': 'markdown',
                        'sh': 'sh',
                        'c': 'c_cpp',
                        'cpp': 'c_cpp',
                        'h': 'c_cpp',
                        'py': 'python',
                        'java': 'java',
                        'rs': 'rust',
                        's': 'assembly_x86',
                    };
                    const lang = langMap[ext] || 'text';

                    $('#langList').val(lang);

                    $("#preview-title").text(filename);
                    $("#preview-title").attr("filename", filename);
                    $("#preview-title").attr("path", path);
                    Prism.highlightAll();
                    preview_modal.show();
                    if (!aceEditor) {
                        aceEditor = ace.edit("editor");
                        aceEditor.setTheme("ace/theme/twilight");
                        aceEditor.session.on("change", editorChangeHandler);
                    }
                    aceEditor.session.setMode("ace/mode/" + lang);
                    aceEditor.setValue(file_content, -1);
                    isEditorModified = false;
                });
            });
        });

        $("#previewModal").find("button.download").on('click', function(e) {
            let filename = $("#preview-title").attr("filename");
            let path = $("#preview-title").attr("path");

            let url = "{{ url('/be/manage/pro/filemanager') }}";
            window.open(`${url}?pro_id=${pro_id}&download=1&filename=${filename}&path=${path}`);
        });

        $("#previewModal").find("button.save").on('click', function(e) {
            const filename = $("#preview-title").attr("filename");
            const path = $("#preview-title").attr("path");
            const content = aceEditor.getValue();

            // Create a file-like object
            const file = new File([content], filename, { type: "text/plain" });

            uploadFile(file, 'Saving...', function(token) {
                $.post(`{{ url('/be/manage/pro/filemanager') }}`, {
                    'reqtype': 'updatesinglefile',
                    'pack_token': token,
                    'pro_id': pro_id,
                    'filename': filename,
                    'path': path,
                }, function (res) {
                    index.remove_progress_bar();
                    handleApiResponse(res,
                        (r) => `Save ${filename} successfully.`
                    );
                    resetEditor();
                    isEditorModified = false;
                    preview_modal.hide();
                    index.reload();
                });
            });
        });

        $('#keybindingSelect').on('change', function(e) {
            const kb = $(this).val();
            aceEditor.setKeyboardHandler("ace/keyboard/" + kb);
        });

        $('#langList').on('change', function(e) {
            const lang = $(this).val();
            aceEditor.session.setMode("ace/mode/" + lang);
        });

        const editorChangeHandler = () => {
            isEditorModified = true;
        };

        const resetEditor = () => {
            if (aceEditor) {
                aceEditor.session.getUndoManager().reset();
                aceEditor.clearSelection();
                aceEditor.setValue('', -1);
            }
        };

        document.getElementById('previewModal').addEventListener('hide.bs.modal', function (e) {
            if (isEditorModified) {
                e.preventDefault();
                const confirmed = confirm('There are unsaved changes. Are you sure you want to close?');
                if (confirmed) {
                    isEditorModified = false;
                    resetEditor();
                    preview_modal.hide();
                }
            } else {
                resetEditor();
            }
        });

        document.querySelectorAll('button.rename-single-file').forEach(el => {
            el.addEventListener('click', function (e) {
                let path = $(this).parents('.accordion-collapse').attr('path');
                let old_filename = $(this).parents('tr').attr('filename');
                let new_filename = prompt('New filename', old_filename);

                $.post(`{{ url('/be/manage/pro/filemanager') }}`, {
                    'reqtype': 'renamesinglefile',
                    'pro_id': pro_id,
                    'old_filename': old_filename,
                    'new_filename': new_filename,
                    'path': path,
                }, function (res) {
                    handleApiResponse(res,
                        (r) => `Rename ${old_filename} to ${new_filename} successfully.`
                    );
                    index.reload();
                });
            });
        });

        document.querySelectorAll('button.delete-single-file').forEach(el => {
            el.addEventListener('click', function (e) {
                if (!confirm('Are you sure to delete this file?')) {
                    return;
                }
                let path = $(this).parents('.accordion-collapse').attr('path');
                let filename = $(this).parents('tr').attr('filename');

                $.post(`{{ url('/be/manage/pro/filemanager') }}`, {
                    'reqtype': 'deletesinglefile',
                    'pro_id': pro_id,
                    'filename': filename,
                    'path': path,
                }, function (res) {
                    handleApiResponse(res,
                        (r) => `Delete ${filename} successfully.`
                    );
                    index.reload();
                });
            });
        });

        let j_add_single_file = $("#addSingleFileModal");
        $("button.add-single-file").on('click', function(e) {
            j_add_single_file.attr('path', $(this).attr('path'));
            j_add_single_file.find("input.filename").val("");
            j_add_single_file.find("input.file").val("");
            add_single_file_modal.show();
        });

        j_add_single_file.find("button.cancel").on('click', function(e) {
            add_single_file_modal.hide();
        });

        j_add_single_file.find("button.upload").on('click', function(e) {
            add_single_file_modal.hide();

            let path = j_add_single_file.attr('path');
            let filename = j_add_single_file.find("input.filename").val();
            if (filename.length == 0) {
                index.show_notify_dialog('Filename should not empty', index.DIALOG_TYPE.error);
                return;
            }

            let files = j_add_single_file.find("input.file")[0].files;

            if (files.length == 0) {
                index.show_notify_dialog('File should not empty', index.DIALOG_TYPE.error);
                return;
            }
            let file = files[0];

            uploadFile(file, 'File Uploading...', function(token) {
                $.post(`{{ url('/be/manage/pro/filemanager') }}`, {
                    'reqtype': 'addsinglefile',
                    'pack_token': token,
                    'pro_id': pro_id,
                    'filename': filename,
                    'path': path,
                }, function (res) {
                    index.remove_progress_bar();
                    handleApiResponse(res,
                        (r) => `Upload single file ${filename} successfully`
                    );
                    j_add_single_file.find("input.file").val("");
                    index.reload();
                });
            });
        });

        document.querySelectorAll('button.update-single-file').forEach(el => {
            let j_input = $(el).siblings('input');
            let path = $(el).parents('.accordion-collapse').attr('path');

            el.addEventListener('click', function (e) {
                j_input.click();
                e.preventDefault();
                e.stopPropagation();
            });

            j_input.on('change', function (e) {
                if (e.target.files.length == 0) {
                    return;
                }

                let filename = $(this).parents('tr').attr('filename');
                let file = e.target.files[0];
                uploadFile(file, 'Uploading...', function(token) {
                    $.post(`{{ url('/be/manage/pro/filemanager') }}`, {
                        'reqtype': 'updatesinglefile',
                        'pack_token': token,
                        'pro_id': pro_id,
                        'filename': filename,
                        'path': path,
                    }, function (res) {
                        index.remove_progress_bar();
                        handleApiResponse(res,
                            (r) => `Update ${filename} successfully.`
                        );
                        j_input.val(''); // for the same file upload
                        index.reload();
                    });
                });
            });
        });
    }
</script>
{% end %}

{% block content %}
<div class="modal fade" id="previewModal" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="preview-title">Preview File</h5>
            </div>

            <div class="modal-body">
                <div style="position: relative;">
                    <select id="keybindingSelect">
                        <option value="ace">Default</option>
                        <option value="vim">Vim</option>
                        <option value="emacs">Emacs</option>
                        <option value="sublime">Sublime</option>
                    </select>
                    <div id="editor">place holder</div>
                </div>
                <label for="langList" class="form-label">Language</label>
                <select id="langList" class="form-select">
                    <option value="html">HTML</option>
                    <option value="markdown">Markdown</option>
                    <option value="javascript">JavaScript</option>
                    <option value="css">CSS</option>
                    <option value="xml">XML</option>
                    <option value="json">JSON</option>
                    <option value="c_cpp">C/C++</option>
                    <option value="python">Python</option>
                    <option value="java">Java</option>
                    <option value="rust">Rust</option>
                    <option value="assembly_x86">Assembly</option>
                    <option value="sh">Shell Script</option>
                    <option value="text">Plain Text</option>
                </select>
            </div>

            <div class="modal-footer">
                <button class="btn btn-primary download">Download</button>
                <button class="btn btn-primary save">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addSingleFileModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="preview-title">Add Single File</h5>
            </div>

            <div class="modal-body">
                <form>
                    <label for="" class="form-label">Filename</label>
                    <input class="form-control filename" type="text">
                    <label for="" class="form-label">File</label>
                    <input type="file" class="form-control file">
                </form>
            </div>

            <div class="modal-footer">
                <button class="btn btn-primary upload">Upload</button>
                <button class="btn btn-secondary cancel">Cancel</button>
            </div>
        </div>

    </div>
</div>

<div class="col-lg-10 ms-lg-2 mt-lg-2">
    <div class="accordion" id="dirs">
    {% for dir_idx, dir in enumerate(dirs) %}
        <div class="accordion-item">
            <h2 class="accordion-header">
                    <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapse{{ dir_idx }}"
                        aria-expanded="true"
                        aria-controls="collapseOne"
                    >
                        {{ f"problem/{pro_id}/{dir['path']}" }}
                    </button>
            </h2>
            <div id="collapse{{ dir_idx }}" class="accordion-collapse collapse" data-bs-parent="#tests" path="{{ dir['path'] }}">
                <div class="accordion-body">
                    <button class="btn btn-primary add-single-file" path="{{ dir['path'] }}">Add Single File</button>

                    <table class="table table-hover table-sm table-responsive-sm my-3">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Filename</th>
                                <th scope="col">Operation</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for file_idx, filename in enumerate(dir['files']) %}
                                <tr idx="{{ file_idx }}" filename="{{ filename }}">
                                    <th scope="row">{{ file_idx + 1 }}</th>
                                    <td><a class="preview-file">{{ filename }}</a></td>
                                    <td>
                                        <div class="btn-toolbar">
                                            <input type="file" style="display: none;">
                                            <button class="btn btn-primary me-2 update-single-file">Update</button>
                                            <button class="btn btn-danger me-2 delete-single-file">Delete</button>
                                            <button class="btn btn-secondary me-2 rename-single-file">Rename</button>
                                        </div>
                                    </td>
                                </tr>
                            {% end %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% end %}
    </div>
</div>
{% end %}
