{% extends '../manage.html' %}
{% block head %}
<link rel="stylesheet" type="text/css" href="/oj/manage-pro.css">

<script type="text/javascript" id="contjs">
	function init() {
		let j_prolist = $('#prolist');

		j_prolist.find('button.rechal').on('click', function (e) {
		    let j_control = $(this).parents('td.control');
			let pro_id = j_control.attr('proid');

			$.post('/oj/be/manage/pro', {
				'reqtype': 'rechal',
				'pro_id': pro_id
			}, function (res) {
				let msg = '';
				let dialog_type = null;

				if (res[0] == 'E') {
					dialog_type = index.DIALOG_TYPE.error;
					if (res == 'Ejudge') {
						msg = 'All Judge Server Offline';
					} else {
						msg = 'Unknown';
					}
				} else {
					dialog_type = index.DIALOG_TYPE.info;
					msg = 'Processing...';
				}

				index.show_notify_dialog(msg, dialog_type);
			});
		});

		j_prolist.find('button.rechalall').on('click', function (e) {
			let j_control = $(this).parents('td.control');
			let pro_id = j_control.attr('proid');
			let pwd = prompt('server config password');

			$.post('/oj/be/manage/pro', {
				'reqtype': 'rechalall',
				'pro_id': pro_id,
				'pwd': pwd,
			}, function (res) {
				let msg = '';
				let dialog_type = null;

				if (res[0] == 'E') {
					dialog_type = index.DIALOG_TYPE.error;

					if (res == 'Eacces') {
						msg = 'Password Wrong';
					} else if (res == 'Ejudge') {
						msg = 'All Judge Server Offline';
					} else {
						msg = 'Unknown';
					}
				} else {
					dialog_type = index.DIALOG_TYPE.info;
					msg = 'Processing...';
				}

				index.show_notify_dialog(msg, dialog_type);				
			});
		});
	}
</script>
{% end %}
{% block content %}
<div class="col-lg-10 ms-lg-2 mt-lg-2">
	<table id="prolist" class="table table-hover table-sm table-responsive-sm col mx-lg-3">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Problem Name</th>
				<th scope="col">Status</th>
				<th scope="col">
					<a class="btn btn-primary" href="/oj/manage/pro/add/">&#x271a</a>
				</th>
			</tr>
		</thead>
		<tbody>
			{% for pro in prolist %}
			<tr>
				<th scope="row">{{ pro['pro_id'] }}</th>
				<td><a {% if int(pro['pro_id']) in lock_list%}style="color:red;" {% end %}
						href="/oj/pro/{{ pro['pro_id'] }}/">{{ pro['name'] }}</a></td>

				{% if pro['status'] == 0 %}
				<td class="status-online">Online</td>
				{% elif pro['status'] == 1 %}
				<td class="status-hidden">Hidden</td>
				{% elif pro['status'] == 2 %}
				<td class="status-offline">Offline</td>
				{% end %}

				<td proid={{ pro['pro_id'] }} class="control">
					<a class="btn btn-secondary" href="/oj/manage/pro/update/?proid={{ pro['pro_id'] }}">&#x2699</a>
					<div class="btn-group">
						<button type="button" class="btn btn-warning btn-sm rechal">Rechallenge</button>
						<button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split"
							data-bs-toggle="dropdown" aria-expanded="false">
							<span class="visually-hidden">Toggle Dropdown</span>
						</button>
						<ul class="dropdown-menu">
							<li><button type="button" class="dropdown-item btn btn-danger rechalall">All Challenges
									(Danger)</button></li>
						</ul>
					</div>
				</td>
			</tr>
			{% end %}
		</tbody>
	</table>
</div>
{% end %}