{% extends '../manage.html' %}
{% block head %}
<link rel="stylesheet" type="text/css" href="/oj/manage-pro.css">

<script type="text/javascript" id="contjs">
    function init() {
		var j_prolist = $('#prolist');

        j_prolist.find('button.rechal').on('click', function(e) {
            var j_control = $(this).parents('td.control');
            var pro_id = j_control.attr('proid');

            $.post('/oj/be/manage/pro', {
                'reqtype': 'rechal',
                'pro_id': pro_id
            }, function(res) {
                if (res[0] == 'E') {
					if (res == 'Ejudge') {
						$('div.print').print('All Judge Server Offline');
					} else {
                    	$('div.print').print('Unknown');
					}
                } else {
                    $('div.print').print('Processing...', true);
                }
            });
        });
    }
</script>
{% end %}
{% block content %}
<div class="col-lg-10 ms-lg-2 mt-lg-2">
    <table id="prolist" class="table table-hover table-sm table-responsive-sm col mx-lg-3">
	<thead>
	    <tr>
			<th scope="col">#</th>
			<th scope="col">Problem Name</th>
			<th scope="col">Status</th>
			<th scope="col">
				<a class="btn btn-primary" href="/oj/manage/pro/add/">&#x271a</a>
				<div class="print"></div>
			</th>
	    </tr>
	</thead>
	<tbody>
	{% for pro in prolist %}
	    <tr>
			<th scope="row">{{ pro['pro_id'] }}</th>
			<td><a {% if int(pro['pro_id']) in lock_list%}style="color:red;"{% end %} href="/oj/pro/{{ pro['pro_id'] }}/">{{ pro['name'] }}</a></td>
			{% if pro['status'] == 0 %}
			<td class="status-online">Online</td>
			{% elif pro['status'] == 1 %}
			<td class="status-hidden">Hidden</td>
			{% elif pro['status'] == 2 %}
			<td class="status-offline">Offline</td>
			{% end %}
			<td proid = {{ pro['pro_id'] }}>
				<a class="btn btn-secondary" href="/oj/manage/pro/update/?proid={{ pro['pro_id'] }}">&#x2699</a>
				<button class="btn btn-warning btn-sm rechal">Rechallenge</button>
			</td>
	    </tr>
	{% end %}
	</tbody>
    </table>
</div>
{% end %}
