{% extends '../manage.html' %}
{% block head %}
<link rel="stylesheet" type="text/css" href="/oj/manage-pro.css">


<script type="text/javascript" id="contjs">
    function init() {
	    var j_form = $('#form');

	    j_form.find('button.submit').on('click', function(e) {
	        var files = j_form.find('input.file')[0].files;

	        if (files.length == 0) {
				index.show_notify_dialog('No file selected', index.DIALOG_TYPE.warning);
	    	    return;
	        }

			pack.get_token().done(function(pack_token) {
				index.create_progress_bar('Uploading...');

				pack.send(pack_token, files[0]).done(function() {
					$.post('/oj/be/manage/pro/update', {
						'reqtype': 'reinitpro',
						'pro_id': {{ pro_id }},
						'pack_token': pack_token,
					}, (res) => {
						index.update_progress_bar_progress(100);
						index.remove_progress_bar();
                        var msg = 'Unknown'

                        if (res[0] == 'E') {
                            if (res == 'Enamemin') {
                                msg = 'Name length < min';
                            } else if (res == 'Enamemax') {
                                msg = 'Name length > max';
                            } else if (res == 'Eparam') {
                                msg = 'Parameter Error';
                            } else if (res == 'Econf') {
                                msg = 'Syntax error';
                            }

							index.show_notify_dialog(msg, index.DIALOG_TYPE.error);
							setTimeout(() => index.reload(), 1000);
                        } else {
                            index.go('/oj/manage/pro/');
                        }
					})
				}).progress((prog) => {
					index.update_progress_bar_progress(prog * 100);
				});
			});
		});
    }
</script>
{% end %}
{% block content %}
<div class="col-lg-10 ms-lg-2 mt-lg-2">
    <div id="form" class="blk-cont">
		<input type="file" class="file">
		<button class="btn btn-success submit">Upload</button>
		<button class="btn btn-secondary cancel">Cancel</button>
    </div>
</div>
{% end %}
