{% extends '../manage.html' %}
{% block head %}
<script src="/oj/third/prism.js"></script>
<link rel="stylesheet" type="text/css" href="/oj/manage-pro.css">
<link rel="stylesheet" href="/oj/third/prism.css">

<script type="text/javascript" id="contjs">
	function init() {
		let pro_id = "{{ pro_id }}";
        let re = /^(\d+(-\d+)?)(\s*,\s*\d+(-\d+)?)*$/;

        document.querySelectorAll('.edit-weight').forEach(el => {
			el.addEventListener('click', function (e) {
				let group = $(this).parents('.accordion-collapse').attr('group');
                let weight = $(this).siblings('#weight').val();

				if (isNaN(weight)) {
					alert('Weight must be a number');
					return;
				}

                $.post('/oj/be/manage/pro/updatetests', {
					'reqtype': 'updateweight',
					'pro_id': pro_id,
					'group': group,
					'weight': weight,
				}, function (res) {
                    let msg = '';
					let dialog_type = null;

                    res = JSON.parse(res);
                    if (res.status == 'S') {
						dialog_type = index.DIALOG_TYPE.success;
                        msg = `Update weight of task#${group} successfully.`;
                    } else {
                        msg = res.data;
                    }

					index.show_notify_dialog(msg, dialog_type);
                    index.reload();
				});
			});
		});

        $("button.add-group").on('click', function(e) {
            let weight = parseInt(prompt('New test group weight: '));
            $.post('/oj/be/manage/pro/updatetests', {
                'reqtype': 'addtaskgroup',
                'pro_id': pro_id,
                'weight': weight,
            }, function (res) {
                let msg = '';
                let dialog_type = null;

                res = JSON.parse(res);
                if (res.status == 'S') {
                    dialog_type = index.DIALOG_TYPE.success;
                    msg = `Add task group successfully.`;
                } else {
                    msg = res.data;
                }

                index.show_notify_dialog(msg, dialog_type);
                index.reload();
            });
        })

        document.querySelectorAll('button.delete-group').forEach(el => {
            el.addEventListener('click', function(e) {
                let group = $(this).parents('.accordion-collapse').attr('group');
				$.post('/oj/be/manage/pro/updatetests', {
					'reqtype': 'deletetaskgroup',
					'pro_id': pro_id,
                    'group': group
				}, function (res) {
                    let msg = '';
					let dialog_type = null;

                    res = JSON.parse(res);
                    if (res.status == 'S') {
						dialog_type = index.DIALOG_TYPE.success;
                        msg = `Delete task group #${group} successfully.`;
                    } else {
                        msg = res.data;
                    }

					index.show_notify_dialog(msg, dialog_type);
                    index.reload();
				});
            });
        });

        document.querySelectorAll('button.set-testdatas').forEach(el => {
            el.addEventListener('click', function(e) {
                let group = $(this).parents('.accordion-collapse').attr('group');
                let testdatas = $(this).siblings('#testdatas').val();
                if (!re.test(testdatas)) {
                    index.show_notify_dialog("Testdatas wrong. Please follow the instruction", index.DIALOG_TYPE.warning);
                    return;
                }

				$.post('/oj/be/manage/pro/updatetests', {
					'reqtype': 'settestdata',
					'pro_id': pro_id,
                    'group': group,
                    'testdatas': testdatas,
				}, function (res) {
                    let msg = '';
					let dialog_type = null;

                    res = JSON.parse(res);
                    if (res.status == 'S') {
						dialog_type = index.DIALOG_TYPE.success;
                        msg = `Task group #${group} set testdatas successfully.`;
                    } else {
                        msg = res.data;
                    }

					index.show_notify_dialog(msg, dialog_type);
                    index.reload();
				});
            });
        });
	}
</script>
{% end %}

{% block content %}
{% from utils.numeric import merge_list_to_str %}
<div class="col-lg-10 ms-lg-2 mt-lg-2">
	<button class="btn btn-primary add-group">Add Task Group</button>

	<div class="accordion" id="tests">
    {% for test_group_idx, test_conf in tests['test_group'].items() %}
		<div class="accordion-item">
			<h2 class="accordion-header">
				    <button
						class="accordion-button"
						type="button"
						data-bs-toggle="collapse"
						data-bs-target="#collapse{{ test_group_idx }}"
						aria-expanded="true"
						aria-controls="collapseOne"
					>
						Task Group {{ test_group_idx + 1 }} Weight: {{ test_conf['weight'] }}
					</button>
			</h2>
			<div id="collapse{{ test_group_idx }}" class="accordion-collapse collapse" data-bs-parent="#tests" group="{{ test_group_idx }}">
				<div class="accordion-body">
                    <button class="btn btn-danger delete-group">Delete Current Task Group</button>

                    <div class="input-group mb-3">
                        <input id="weight" class="form-control mb-1" type="number" value="{{ test_conf['weight'] }}" placeholder="Weight">
                        <button class="btn btn-primary edit-weight">Update weight</button>
                    </div>

                    <label for="testdatas" class="form-label">Testdata id. Starts from 0, for examples: <code>0</code>, <code>1-4</code>, <code>2,4,9-11,13-18</code></label>
                    <div class="input-group mb-3">
                        <input id="testdatas" class="form-control mb-1" type="text" value="{{ merge_list_to_str(test_conf['testdatas']) }}" placeholder="Testdata">
                        <button class="btn btn-primary set-testdatas">Update Testdatas</button>
                    </div>
				</div>
			</div>
		</div>
	{% end %}
	</div>
</div>
{% end %}
