{% extends '../manage.html' %}
{% block head %}
<script type="text/javascript" id="contjs" async>
    function init() {
		let pro_id = "{{ pro['pro_id'] }}"
		let j_form = $('#form');
		let j_form2 = $('#form2');

		j_form.find('button.unlock').on('click', function(e) {
		    let pwd = prompt('unlock password');
		    $.post('/oj/be/manage/pro/update', {
				'reqtype': 'pro-unlock',
				'pro_id': pro_id,
				'pwd': pwd,
		    }, function(res) {
				if (res[0] == 'E') {
					index.show_notify_dialog(res, index.DIALOG_TYPE.error);
				} else {
				    index.go('/oj/manage/pro/');
				}
		    });
		});

		j_form.find('button.lock').on('click', function(e) {
		    $.post('/oj/be/manage/pro', {
				'reqtype': 'pro-lock',
				'pro_id': pro_id,
		    }, function(res) {
				if (res[0] == 'E') {
					index.show_notify_dialog(res, index.DIALOG_TYPE.error);
				} else {
					index.go('/oj/manage/pro/');
				}
		    });
		});

        j_form.find('input.file').on('change', function(e) {
            let pack_type_select = j_form.find('select.packtype');
            let filename = $(this)[0].files[0].name;

            if (filename.endsWith(".tar.xz")) {
                pack_type_select.val('1');
            } else if (filename.endsWith(".html")) {
                pack_type_select.val('2');
            } else if (filename.endsWith(".pdf")) {
                pack_type_select.val('3');
            }
        });

		j_form.find('button.submit').on('click', function(e) {
		    let name = j_form.find('input.name').val();
		    let tags = j_form.find('input.tags').val();
		    let status = j_form.find('select.status').val();
 	       	let pack_type = j_form.find('select.packtype').val();
		    let files = j_form.find('input.file')[0].files;
		    let pack_token = '';

		    function _update() {
				$.post('/oj/be/manage/pro/update', {
				    'reqtype': 'updatepro',
				    'pro_id': pro_id,
				    'name': name,
				    'tags': tags,
				    'status': status,
 	 	          	'pack_type': pack_type,
				    'pack_token': pack_token,
				}, function(res) {
 	 	          	let msg = 'Unknown';

 	 	          	if (res[0] == 'E') {
 	 	          	    if (res == 'Enamemin') {
							msg = '	Name length < min';
 	 	          	    } else if (res == 'Enamemax') {
 	 	          	        msg = 'Name length > max';
 	 	          	    } else if (res == 'Eparam') {
 	 	          	        msg = 'Parameter Error';
 	 	          	    } else if (res == 'Econf') {
 	 	          	        msg = 'Syntax error';
 	 	          	    } else {
 	 	          	        msg = res;
 	 	          	    }

						index.show_notify_dialog(msg, index.DIALOG_TYPE.error);
 	 	          	} else {
						index.show_notify_dialog('Upload Successfully', index.DIALOG_TYPE.success);
 	 	          	}
				});
		    }

		    if (files.length == 0) {
				// NOTE: Update problem param
				_update();
		    } else {
				pack.get_token().done(function(token) {
					index.create_progress_bar('Uploading...');
					pack_token = token;
					pack.send(pack_token,files[0]).done(function() {
						index.update_progress_bar_progress(100);
						index.remove_progress_bar();
						_update();

					}).progress(function(prog) {
						index.update_progress_bar_progress(prog * 100);
					});
				});
		    }
		});

		j_form.find('button.cancel').on('click', () => index.go('/oj/manage/pro/'));

		j_form2.find('button.submit').on('click', function(e) {
		    let timelimit = j_form2.find('input.timelimit').val();
		    let memlimit = j_form2.find('input.memlimit').val();

			$.post('/oj/be/manage/pro/update', {
			    'reqtype': 'updatelimit',
			    'pro_id': pro_id,
			    'timelimit': timelimit,
			    'memlimit': memlimit,
			}, function(res) {
				let msg = 'Unknown';
				if (res[0] == 'E') {
					if (res == 'Etimelimitmin') {
						msg = 'Time limit is too short';
					} else if (res == 'Ememlimitmin') {
						msg = 'Mem limit is too small';
					} else {
						msg = res;
					}

					index.show_notify_dialog(msg, index.DIALOG_TYPE.error);
				} else {
					index.go('/oj/manage/pro/');
				}
			});
		});
    }
</script>
{% end %}
{% block content %}
<div class="col-lg-10 ms-lg-2 mt-lg-2">
    <form id="form" class="blk-cont">
		{% if lock != None %}
			<label class="form-label" style="color:red;">Lock!!</label>
		{% end %}
		<label for="" class="form-label">Problem Name</label>
		<input type="text" class="form-control name" placeholder="Problem Name" value="{{ pro['name'] }}">

		<label for="" class="form-label">Problem Tags</label>
		<input type="text" class="form-control tags" placeholder="Tags" value="{{ pro.get('tags', '') or '' }}">

		<label for="" class="form-label">Problem Status</label>
		<select class="form-select status">
			<option value="0" {% if pro['status'] == 0 %} selected {% end %}>Online</option>
			<option value="1" {% if pro['status'] == 1 %} selected {% end %}>Hidden</option>
			<option value="2" {% if pro['status'] == 2 %} selected {% end %}>Offline</option>
		</select>

		<label for="" class="form-label">文件</label>
			<select class="form-select packtype">
			<option value="1">full</option>
			<option value="2">cont.html</option>
			<option value="3">cont.pdf</option>
		</select>
		<input type="file" class="form-control file">

		<div class="mt-3">
			<button type="button" class="btn btn-primary submit">Update</button>
			<button type="button" class="btn btn-primary lock">Lock</button>
			<button type="button" class="btn btn-secondary unlock">UnLock</button>
			<button type="button" class="btn btn-secondary cancel">Cancel</button>
		</div>
    </form>
	<form id="form2" class="blk-cont" style="margin-top: 60px; border: 1px solid red; padding: 3px;">
		<label class="form-label" style="color: red;">Danger Zone</label>
		<br>
		<label class="form-label">Time limit (ms)</label>
		<input type="number" class="form-control timelimit" value="{{ testl[0]['timelimit'] }}">
		<label class="form-label">Mem limit (Kb)</label>
		<input type="number" class="form-control memlimit" value="{{ round(testl[0]['memlimit'] / 1024) }}">
		<button type="button" class="btn btn-danger submit">Update</button>
    </form>

	<a class="btn btn-primary" href="/oj/manage/pro/updatetests/?proid={{ pro['pro_id'] }}">Edit Testcases</a>
</div>
{% end %}
