{% extends '../manage.html' %}
{% block head %}
<script src="{{ url('/src/third/prism.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url('/src/manage-pro.css') }}">
<link rel="stylesheet" href="{{ url('/src/third/prism.css') }}">

<script type="text/javascript" id="contjs">
	function init() {
		let pro_id = "{{ pro_id }}";
        let re = /^(\d+(-\d+)?)(\s*,\s*\d+(-\d+)?)*$/;

        document.querySelectorAll('.edit-rate').forEach(el => {
			el.addEventListener('click', function (e) {
				let subtask = $(this).parents('.accordion-collapse').attr('subtask');
                let rate = $(this).siblings('#rate').val();

				if (isNaN(rate)) {
					alert('Rate must be a number');
					return;
				}

                $.post(`{{ url('/be/manage/pro/updatetests') }}`, {
					'reqtype': 'updaterate',
					'pro_id': pro_id,
					'subtask': subtask,
					'rate': rate,
				}, function (res) {
                    let msg = '';
					let dialog_type = null;

                    res = JSON.parse(res);
                    if (res.status == 'S') {
						dialog_type = index.DIALOG_TYPE.success;
                        msg = `Update rate of subtask#${subtask} successfully.`;
                    } else {
                        msg = res.data;
                    }

					index.show_notify_dialog(msg, dialog_type);
                    index.reload();
				});
			});
		});

        $("button.add-subtask").on('click', function(e) {
            let rate = parseInt(prompt('New subtask rate: '));
            $.post(`{{ url('/be/manage/pro/updatetests') }}`, {
                'reqtype': 'addsubtask',
                'pro_id': pro_id,
                'rate': rate,
            }, function (res) {
                let msg = '';
                let dialog_type = null;

                res = JSON.parse(res);
                if (res.status == 'S') {
                    dialog_type = index.DIALOG_TYPE.success;
                    msg = `Add subtask successfully.`;
                } else {
                    msg = res.data;
                }

                index.show_notify_dialog(msg, dialog_type);
                index.reload();
            });
        })

        document.querySelectorAll('button.delete-subtask').forEach(el => {
            el.addEventListener('click', function(e) {
                let subtask = $(this).parents('.accordion-collapse').attr('subtask');
				$.post(`{{ url('/be/manage/pro/updatetests') }}`, {
					'reqtype': 'deletesubtask',
					'pro_id': pro_id,
                    'subtask': subtask
				}, function (res) {
                    let msg = '';
					let dialog_type = null;

                    res = JSON.parse(res);
                    if (res.status == 'S') {
						dialog_type = index.DIALOG_TYPE.success;
                        msg = `Delete subtask #${subtask} successfully.`;
                    } else {
                        msg = res.data;
                    }

					index.show_notify_dialog(msg, dialog_type);
                    index.reload();
				});
            });
        });

        document.querySelectorAll('button.set-testdatas').forEach(el => {
            el.addEventListener('click', function(e) {
                let subtask = $(this).parents('.accordion-collapse').attr('subtask');
                let testdatas = $(this).siblings('#testdatas').val();
                if (!re.test(testdatas)) {
                    index.show_notify_dialog("Testdatas wrong. Please follow the instruction", index.DIALOG_TYPE.warning);
                    return;
                }

				$.post(`{{ url('/be/manage/pro/updatetests') }}`, {
					'reqtype': 'settestdata',
					'pro_id': pro_id,
                    'subtask': subtask,
                    'testdatas': testdatas,
				}, function (res) {
                    let msg = '';
					let dialog_type = null;

                    res = JSON.parse(res);
                    if (res.status == 'S') {
						dialog_type = index.DIALOG_TYPE.success;
                        msg = `Subtask #${subtask} set testdatas successfully.`;
                    } else {
                        msg = res.data;
                    }

					index.show_notify_dialog(msg, dialog_type);
                    index.reload();
				});
            });
        });

        document.querySelectorAll('button.set-depsubtasks').forEach(el => {
            el.addEventListener('click', function(e) {
                let subtask = $(this).parents('.accordion-collapse').attr('subtask');
                let dep_subtasks = $(this).siblings('#depsubtasks').val();
                if (!re.test(dep_subtasks)) {
                    index.show_notify_dialog("Dependency subtasks wrong. Please follow the instruction", index.DIALOG_TYPE.warning);
                    return;
                }

				$.post(`{{ url('/be/manage/pro/updatetests') }}`, {
					'reqtype': 'setdepsubtasks',
					'pro_id': pro_id,
                    'subtask': subtask,
                    'dep_subtasks': dep_subtasks,
				}, function (res) {
                    let msg = '';
					let dialog_type = null;

                    res = JSON.parse(res);
                    if (res.status == 'S') {
						dialog_type = index.DIALOG_TYPE.success;
                        msg = `Subtask #${subtask} set dependency subtasks successfully.`;
                    } else {
                        msg = res.data;
                    }

					index.show_notify_dialog(msg, dialog_type);
                    index.reload();
				});
            });
        });
	}
</script>
{% end %}

{% block content %}
{% from utils.numeric import merge_list_to_str %}
<div class="col-lg-10 ms-lg-2 mt-lg-2">
	<button class="btn btn-primary add-subtask">Add Subtask</button>

	<div class="accordion" id="subtasks">
    {% for subtask_id, subtask_config in config.subtask_configs.items() %}
		<div class="accordion-item">
			<h2 class="accordion-header">
				    <button
						class="accordion-button collapsed"
						type="button"
						data-bs-toggle="collapse"
						data-bs-target="#collapse{{ subtask_id }}"
						aria-expanded="true"
						aria-controls="collapseOne"
					>
						Subtask {{ subtask_id + 1 }} Rate: {{ subtask_config.rate }}
					</button>
			</h2>
			<div id="collapse{{ subtask_id }}" class="accordion-collapse collapse" data-bs-parent="#subtasks" subtask="{{ subtask_id }}">
				<div class="accordion-body">
                    <button class="btn btn-danger delete-subtask">Delete Current Subtask</button>

                    <div class="input-group mb-3">
                        <input id="weight" class="form-control mb-1" type="number" value="{{ subtask_config.rate }}" placeholder="Weight">
                        <button class="btn btn-primary edit-weight">Update Rate</button>
                    </div>

                    <label for="testdatas" class="form-label">Testdata id. Starts from 0, for examples: <code>0</code>, <code>1-4</code>, <code>2,4,9-11,13-18</code></label>
                    <div class="input-group mb-3">
                        <input id="testdatas" class="form-control mb-1" type="text" value="{{ merge_list_to_str([testdata.testdata_id for testdata in subtask_config.testdatas]) }}" placeholder="Testdata">
                        <button class="btn btn-primary set-testdatas">Update Testdatas</button>
                    </div>

                    <label for="depsubtasks" class="form-label">Subtask id. Starts from 1, for examples: <code>1</code>, <code>1-4</code>, <code>2,4,9-11,13-18</code></label>
                    <div class="input-group mb-3">
                        <input id="depsubtasks" class="form-control mb-1" type="text" value="{{ merge_list_to_str(list(map(lambda x: x+1, subtask_config.dependency_subtasks))) }}" placeholder="Dependency Subtasks">
                        <button class="btn btn-primary set-depsubtasks">Update Dependency Subtasks</button>
                    </div>
				</div>
			</div>
		</div>
	{% end %}
	</div>
</div>
{% end %}
