{% extends '../manage.html' %}
{% block head %}

<script type="text/javascript">
    function init() {
        let j_form = $("#form");
        let re = /[^0-9,\ ]/;

        j_form.find("#update").on('click', (event) => {
            let name = j_form.find("#name").val();
            let list = j_form.find("#list").val();

            if (re.test(list)) {
                index.show_notify_dialog("Problem List錯誤，請輸入數字、逗號與空白設定，範例：1, 2, 3", index.DIALOG_TYPE.warning);
                return;
            }

            $.post('/oj/be/manage/proclass/update', {
                reqtype: 'update',
                pubclass_id: "{{ pubclass_id }}",
                name: name,
                list: list,
            }, function(res) {
                if (res[0] == 'E') {

                } else {
                    index.go(`/oj/manage/proclass/update?pubclassid=${res}`)
                }
            });
        });

		j_form.find("#remove").on('click', (event) => {
			$.post('/oj/be/manage/proclass/update', {
				reqtype: 'remove',
				pubclass_id: "{{ pubclass_id }}"
			}, function(res) {
                if (res[0] == 'E') {

                } else {
                    index.go("/oj/manage/proclass/")
                }
			});
		});

        j_form.find("#cancel").on('click', (event) => {
            index.go("/oj/manage/proclass/")
        });
    }
</script>
{% end %}
{% block content %}
<div class="col-lg-10 ms-lg-2 mt-lg-2">
	<form id="form">
		<div class="mb-1">
            <label for="name" class="form-label">Name</label>
			<input class="form-control" id="name" type="text" value="{{ pubclass['name'] }}">
		</div>

        <div class="mb-1">
            <label>Problem List</label>
            {% set list = str(pubclass['list']) %}
            <input class="form-control" id="list" type="text" value="{{ list[1:-1] }}">
        </div>

		<div class="mt-2">
			<button type="button" class="btn btn-primary" id="update">Update</button>
			<button type="button" class="btn btn-secondary" id="cancel">Cancel</button>
			<button type="button" class="btn btn-danger" id="remove">Remove</button>
		</div>
	</form>
</div>
{% end %}
