{% import datetime %}

{% if acct.acct_id != user.acct_id and not user.is_kernel() %}
    You don't have permission.
{% else %}

<script id="contjs" type="text/javascript">
    function init() {
        let j_profile = $('#profile');
        let j_reset = $('#reset');
        let j_login = $('#login-list');
        let acct_id = "{{ acct.acct_id }}";

        j_profile.find('button.submit').on('click', function(e) {
            let name = j_profile.find('input.name').val();
            let photo = j_profile.find('input.photo').val();
            let cover = j_profile.find('input.cover').val();
            let motto = j_profile.find('input.motto').val();

            try {
                new URL(photo);
            } catch {
                if (photo != "") {
                    index.show_notify_dialog("Photo url is invalid", index.DIALOG_TYPE.error);
                    return;
                }
            }

            try {
                new URL(cover);
            } catch {
                if (cover != "") {
                    index.show_notify_dialog("Cover url is invalid", index.DIALOG_TYPE.error);
                    return;
                }
            }

            $.post(`{{ url('/be/acctedit') }}`, {
                'reqtype': 'profile',
                'acct_id': acct_id,
                'name': name,
                'photo': photo,
                'cover': cover,
                'motto': motto,
            }, function(res) {
                res = JSON.parse(res);
                if (res.status == 'S') {
                    index.show_notify_dialog('Update Successfully', index.DIALOG_TYPE.success);
                    index.reload();
                } else {
                    index.show_notify_dialog(res.data, index.DIALOG_TYPE.error);
                }
            });
        });

        j_reset.find('button.submit').on('click', function(e) {
            if (!confirm('Are you sure you want to change password?')) {
                return;
            }
            let old = j_reset.find('input.old').val();
            let pw = j_reset.find('input.pw').val();
            let repeat = j_reset.find('input.repeat').val();

            if (pw != repeat) {
                index.show_notify_dialog('Repeat incorrect', index.DIALOG_TYPE.error);
                return;
            }

            $.post(`{{ url('/be/acctedit') }}`, {
                'reqtype': 'reset',
                'acct_id': acct_id,
                'old': old,
                'pw': pw,
            }, function(res) {
                res = JSON.parse(res);
                if (res.status == 'S') {
                    index.show_notify_dialog('Update Password Successfully', index.DIALOG_TYPE.success);
                    j_reset.find('input').val('');
                } else {
                    index.show_notify_dialog(res.data, index.DIALOG_TYPE.error);
                }
            });
        });

        j_login.find('button.logout-all').on('click', function(e) {
            if (!confirm('Are you sure you want to log out all devices?')) {
                return;
            }
            $.post(`{{ url('/be/acctedit') }}`, {
                'reqtype': 'remote-logout-all',
                'acct_id': acct_id,
            }, function(e) {
                location.href = `{{ url('/sign/') }}`;
            });
        });

        j_login.find('button.logout').each(function(_, __) {
            let j_this = $(this);
            j_this.on('click', function(e) {
                let hashed_session_key = j_this.attr('hashed_session_key');
                $.post(`{{ url('/be/acctedit') }}`, {
                    'reqtype': 'remote-logout',
                    'acct_id': acct_id,
                    'hashed_session_key': hashed_session_key,
                }, function(e) {
                    index.show_notify_dialog('Log out Successfully', index.DIALOG_TYPE.success);
                    if (hashed_session_key === "{{ current_session_key }}") {
                        location.href = `{{ url('/sign/') }}`;
                    } else {
                        index.reload();
                    }
                });
            });
        });
    }
</script>

<div class="row">
    <div class="col-lg-6 col-sm-12">
        <span>
            <h1>Edit User <a href="{{ url(f'/acct/{ acct.acct_id }/') }}">{{ acct.name }}</a></h1>
        </span>

        {% if acct.acct_id == user.acct_id %}
        <form id="profile">
            <div class="mb-1">
                <label class="form-label">Name</label>
                <input class="name form-control" type="text" value="{{ acct.name }}" placeholder="name">
            </div>

            <div class="mb-1">
                <label class="form-label">Email(WIP)</label>
                <input class="email form-control" type="text" value="WIP (Email)" placeholder="email" disabled>
            </div>

            <div class="mb-1">
                <label class="form-label">Motto</label>
                <input class="motto form-control" type="text" value="{{ acct.motto }}" placeholder="motto">
            </div>

            <div class="mb-1">
                <label class="form-label">Photo</label>
                <input class="photo form-control" type="text" value="{{ acct.photo }}" placeholder="photo">
            </div>

            <div class="mb-1">
                <label class="form-label">Cover</label>
                <input class="cover form-control" type="text" value="{{ acct.cover }}" placeholder="cover">
            </div>

            <div class="mb-1">
                <label class="form-label">Theme (WIP)</label>
                <select class="form-select" disabled>
                    <option value="dark">Dark Theme</option>
                    <option value="light">Light Theme</option>
                    <option value="classic">TOJ Classic Theme</option>
                </select>
            </div>

            <button type="button" class="btn btn-primary submit">Update</button>
        </form>
        {% end %}

        {% if acct.acct_id == user.acct_id or user.is_kernel() %}
        <form id="reset">
            <h3>Update Password</h3>

            <div class="mb-1">
                <label class="form-label">Current Password</label>
                <input class="old form-control" type="password">
            </div>

            <div class="mb-1">
                <label class="form-label">New Password</label>
                <input class="pw form-control" type="password">
            </div>

            <div class="mb-1">
                <label class="form-label">New Password Confirmation</label>
                <input class="repeat form-control" type="password">
            </div>

            <button type="button" class="btn btn-warning submit">Update</button>
        </form>
        {% end %}


    </div>
    <div class="col-lg-6 col-sm-12">
        {% if acct.acct_id == user.acct_id %}
        <form id="login-list">
            <h3>Login Devices <button type="button" class="btn btn-danger logout-all">Log out all devices</button></h3>
            <table id="loginlist" class="table table-striped table-hover table-sm table-responsive-sm">
                <thead>
                    <tr>
                        <th>IP</th>
                        <th>Login Time</th>
                        <th>User Agent</th>
                        <th>Log out</th>
                    </tr>
                </thead>
                <tbody>
                    {% for hashed_session_key, v in session_keys.items() %}
                        <tr>
                            <td>
                                {{ v['ip'] }}
                                {% if current_session_key == hashed_session_key %}
                                    <span>(Current device)</span>
                                {% end %}
                            </td>
                            <td>{{ datetime.datetime.fromtimestamp(v['time']).strftime('%Y-%m-%d %H:%M:%S') }}</td>
                            <td>{{ v['user-agent'] }}</td>
                            <td><button type="button" class="btn btn-warning logout" hashed_session_key="{{ hashed_session_key }}">Log out</button></td>
                        </tr>
                    {% end %}
                </tbody>
            </table>
        </form>
        {% end %}
    </div>
</div>

{% end %}
