<div class="col-10 ms-lg-2 mt-lg-2">
	<table class="table">
		<thead>
			<tr>
				<td scope="col">#</td>
				<td scope="">Name</td>
                <td>Type</td>
				<td>
                    <a class="btn btn-primary" href="/oj/acct/proclass/{{ user.acct_id }}/?page=add">&#x271a</a>
				</td>
			</tr>
		</thead>

		<tbody>
		{% for proclass in proclass_list %}
            <tr>
                <th scope="row">{{ proclass['proclass_id'] }}</th>
				<td>{{ proclass['name'] }}</td>
                {% set t = "" %}
                {% if proclass['type'] == 2 %}
                    {% set t = "Public" %}
                {% elif proclass['type'] == 3 %}
                    {% set t = "Hidden" %}
                {% end %}
                <td>{{ t }}</td>
                <td>
                    <a class="btn btn-secondary" href="/oj/acct/proclass/{{ user.acct_id }}/?page=update&proclassid={{ proclass['proclass_id'] }}">&#x2699</a>
                </td>
            </tr>
		{% end %}
		</tbody>
	</table>
</div>
