{% extends '../manage.html' %}
{% block head %}

<script type="text/javascript">
    function init() {
        let content_textarea = document.getElementById('content');
        let desc_preview = document.getElementById('descPreviewDialog');
        let desc_preview_modal = new bootstrap.Modal(desc_preview);

        content_textarea.style.height = 'auto';
        content_textarea.style.height = content_textarea.scrollHeight + 'px';
        content_textarea.addEventListener('input', (event) => {
            content_textarea.style.height = 'auto';
            content_textarea.style.height = content_textarea.scrollHeight + 'px';
        });

        let j_form = $("#form");

        j_form.find('#preview').on('click', function(e) {
            let body = desc_preview.querySelector('.modal-body');
            body.innerHTML = DOMPurify.sanitize(marked.parse(content_textarea.value));
            MathJax.Hub.Queue(["Typeset", MathJax.Hub, body]);
            desc_preview_modal.show();
        });

        j_form.find("#add").on('click', (event) => {
            let pinned = j_form.find("#pinned").is(":checked");
            let title = j_form.find("#title").val();
            let color = j_form.find("#color").val();
            let content = content_textarea.value;

            $.post('/oj/be/manage/bulletin/add', {
                reqtype: 'add',
                pinned: pinned,
                title: title,
                color: color,
                content: content,
            }, function(res) {
                if (res[0] == 'E') {

                } else {
                    index.show_notify_dialog('Update Successfully', index.DIALOG_TYPE.success);
                    index.reload();
                }
            });
        });

        j_form.find("#cancel").on('click', (event) => {
            index.go("/oj/manage/bulletin/")
        });
    }
</script>
{% end %}
{% block content %}
<div class="modal fade" id="descPreviewDialog" tabindex="-1" aria-hidden="true">
<div class="modal-dialog modal-dialog-scrollable modal-xl">
    <div class="modal-content">
        <div class="modal-header">
            <h2>Preview Markdown Render</h2>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
    </div>
</div>
</div>

<div class="col-lg-10 ms-lg-2 mt-lg-2">
	<form id="form">
		<div class="mb-1">
            <label for="pinned" class="form-label">Pinned</label>
			<input class="form-check-input" id="pinned" type="checkbox">
		</div>

		<div class="mb-1">
            <label for="title" class="form-label">Title</label>
			<input class="form-control" id="title" type="text">
		</div>

		<div class="mb-1">
            <label for="color" class="form-label">Title Color (Use CSS)</label>
			<input class="form-control" id="color" type="text">
		</div>

		<div class="mb-1">
            <label for="content">Content</label>
			<textarea class="form-control" name="content" id="content"></textarea>
		</div>

		<div class="mt-2">
			<button type="button" class="btn btn-primary" id="add">Add</button>
			<button type="button" class="btn btn-secondary" id="preview">Preview</button>
			<button type="button" class="btn btn-secondary" id="cancel">Cancel</button>
		</div>
	</form>
</div>
{% end %}
