{% extends '../manage.html' %}
{% block head %}
{% from services.user import UserConst %}

<script type="text/javascript" id="contjs">
    function init() {
		var j_form = $('#form');

		j_form.find('button.submit').on('click', function(e) {
            var type = j_form.find('#type').val();

            $.post(`{{ url('/be/manage/acct/update') }}`, {
                'reqtype': 'update',
                'acct_id': {{ acct.acct_id }},
                'acct_type': type,
            }, function(res) {
                res = JSON.parse(res);
                if (res.status == 'S') {
                    index.show_notify_dialog('Update Successfully', index.DIALOG_TYPE.success);
                    index.reload();
                } else {
                    index.show_notify_dialog(res.data, index.DIALOG_TYPE.error);
                }
            });
		});

		j_form.find('button.cancel').on('click', function(e) {
		    index.go(`{{ url('/manage/acct/') }}`);
		});
    }
</script>
{% end %}
{% block content %}
<div class="col-lg-10 ms-lg-2 mt-lg-2">
    <form id="form" class="">
        <h3>{{ acct.acct_id }} / {{ acct.name }}</h3>

		<div class="mb-3">
			<label>Level</label>
			<select class="form-select" id="type">
                <option value="{{ UserConst.ACCTTYPE_KERNEL }}" {% if acct.is_kernel() %} selected {% end %}>Kernel</option>
				<option value="{{ UserConst.ACCTTYPE_USER }}" {% if not acct.is_kernel() %} selected {% end %}>User</option>
			</select>
		</div>

		<button type="button" class="btn btn-primary submit">Update</button>
		<button type="button" class="btn btn-secondary cancel">Cancel</button>
    </form>
</div>
{% end %}
