@import './color.scss';

#filter {
    & > tbody td > select {
        width: 100%;
        border-radius: 10px;
    }

    & > tbody td > input {
        border-radius: 10px;
    }
}

#prolist {
    & > div.head {
        margin-bottom: 16px;
        height: 48px;
        color: $gray;
        font-weight: bold;
        line-height: 48px;
        border-bottom: $gray 1px solid;
    }

    & > div.item {
        height: 32px;
        margin-top: 8px;

        & > div {
            height: 100%;
            line-height: 32px;
        }

        & > div.state {
            color: $gray;
        }

        & > div.outdate {
            color: $orange;
        }

        & .light{
            color: $gray;
        }
    }
}
