{% extends '../manage.html' %}
{% block head %}

<script type="text/javascript">
    function init() {
        let j_form = $("#form");
        let re = /[^0-9,\ ]/;
		let board_id = "{{ board_id }}";

        j_form.find("#update").on('click', (event) => {
            let name = j_form.find("#name").val();
            let status = j_form.find("#status").val();
            let start = j_form.find("#start").val();
            let end = j_form.find("#end").val();
            let pro_list = j_form.find("#pro_list").val();
            let acct_list = j_form.find("#acct_list").val();

            if (start != '' && start != '-1') {
                start = new Date(start + ' +0000').toISOString();
            } else if (start == '-1') {
                start = new Date('1970/01/01 00:00 +0000').toISOString();
            }

            if (end != '' && end != '-1') {
                end = new Date(end + ' +0000').toISOString();
            } else if (end == '-1') {
                end = new Date('2100/01/01 00:00 +0000').toISOString();
            }

            if (re.test(pro_list)) {
                alert("Problem List錯誤，請輸入數字、逗號與空白設定，範例：1, 2, 3");
                return;
            }

            if (re.test(acct_list)) {
                alert("Account List錯誤，請輸入數字、逗號與空白設定，範例：1, 2, 3");
                return;
            }

            $.post('/oj/be/manage/board/update', {
                reqtype: 'update',
				board_id: board_id,
                name: name,
                status: status,
                start: start,
                end: end,
                pro_list: pro_list,
                acct_list: acct_list,
            }, function(res) {
                if (res[0] == 'E') {

                } else {
                    index.go("/oj/manage/board/")
                }
            });
        });

		j_form.find("#remove").on('click', (event) => {
			$.post('/oj/be/manage/board/update', {
				reqtype: 'remove',
				board_id: board_id,
			}, function(res) {
                if (res[0] == 'E') {

                } else {
                    index.go("/oj/manage/board/")
                }
			});
		});

        j_form.find("#cancel").on('click', (event) => {
            index.go("/oj/manage/board/")
        });
    }
</script>
{% end %}
{% block content %}
<div class="col-lg-10 ms-lg-2 mt-lg-2">
	<form id="form">
		<div class="mb-1">
            <label for="name" class="form-label">Name</label>
			<input class="form-select" id="name" type="text" value="{{ board['name'] }}">
		</div>
        <div class="mb-1">
            <label for="#status" class="form-label">Status</label>
			<select class="form-control" id="status">
				<option value=0{% if board['status'] == 0 %} selected{% end %}>Online</option>
				<option value=1{% if board['status'] == 1 %} selected{% end %}>Hidden</option>
				<option value=2{% if board['status'] == 2 %} selected{% end %}>Offline</option>
			</select>
        </div>

        <div class="mb-1">
            <label for="#start" class="form-label">Start</label>
            <input type="text" class="form-control" value="{{ board['start'].strftime('%Y/%m/%d %H:%M') }}" id="start" placeholder="[Year / Month / Day Hour : Minute]">

            <label for="#end" class="form-label">End</label>
            <input type="text" class="form-control" value="{{ board['end'].strftime('%Y/%m/%d %H:%M') }}" id="end" placeholder="[Year / Month / Day Hour : Minute]">
        </div>

        <div class="mb-1">
            <label>Account List</label>
            <input class="form-control" id="acct_list" value="{{ str(board['acct_list'])[1:-1].replace(' ','') }}" type="text">
        </div>

        <div class="mb-1">
            <label>Problem List</label>
            <input class="form-control" id="pro_list" value="{{ str(board['pro_list'])[1:-1].replace(' ','') }}" type="text">
        </div>

		<div class="mt-2">
			<button type="button" class="btn btn-primary" id="update">Update</button>
			<button type="button" class="btn btn-secondary" id="cancel">Cancel</button>
			<button type="button" class="btn btn-danger" id="remove">Remove</button>
		</div>
	</form>
</div>
{% end %}
