{% block head %}{% end %}
<div class="row">
<div class="col-1">
	<nav class="nav">
		<a href="{{ url('/manage/dash/') }}" class="nav-link {% if page == 'dash' %} active{% end %}">Dashboard</a>
		<a href="{{ url('/manage/info/') }}" class="nav-link {% if page == 'info' %} active{% end %}">System Info</a>
		<a href="{{ url('/manage/acct/') }}" class="nav-link {% if page == 'acct' %} active{% end %}">Account</a>
		<a href="{{ url('/manage/pro/') }}" class="nav-link {% if page == 'pro' %} active{% end %}">Problem</a>
		<a href="{{ url('/manage/proclass/') }}" class="nav-link{% if page == 'proclass' %} active{% end %}">ProClass</a>
		<a href="{{ url('/manage/judge/') }}" class="nav-link{% if page == 'judge' %} active{% end %}">Judge</a>
		<a href="{{ url('/manage/holiday/') }}" class="nav-link{% if page == 'holiday' %} active{% end %}">Holiday</a>
		<a href="{{ url('/manage/class_group/') }}" class="nav-link{% if page == 'class_group' %} active{% end %}">Class Group</a>
	</nav>
</div>
{% block content %}{% end %}
</div>
