{% extends 'manage.html' %}

{% block head %}
<script type="text/javascript" id="contjs">
	function init() {
        let contest_id = "{{ contest_id }}";

		const post_func = (reqtype, acct_id, target_type) => {
			if (acct_id.length == 0) {
				index.show_notify_dialog('Input cannot empty.', index.DIALOG_TYPE.warning);
				return;
			}

			$.post('/oj/be/contests/{{ contest_id }}/manage/acct', {
				reqtype: reqtype,
				acct_id: acct_id,
				type: target_type,
			}, res => {
				let msg = '';
				if (res[0] == 'E') {
					if (res == 'Enoext') {
						msg = `Account(#${acct_id}) not found.`;
					} else if (res == 'Eexist') {
						msg = `Account(#${acct_id}) already added to ${target_type}-account list.`;
					}

					$("#acctIdNormal").val('');
					$("#acctListNormal").val('');
					$("#acctIdAdmin").val('');
					$("#acctListAdmin").val('');
					index.show_notify_dialog(msg, index.DIALOG_TYPE.error);
				} else {
					if (reqtype == "add" || reqtype == "multi_add") {
						msg = `Account(#${acct_id}) successfully add to ${target_type} list.`;						
					} else if (reqtype == "remove" || reqtype == "multi_remove") {
						msg = `Account(#${acct_id}) successfully remove from ${target_type} list.`;						
					}

					index.show_notify_dialog(msg, index.DIALOG_TYPE.success);	
					setTimeout(() => index.reload(), 1000);
				}
			});
		};
	
		document.querySelectorAll('button.remove').forEach(el => {
			el.addEventListener('click', () => post_func('remove', $(el).attr('acct_id'), 
				$(el).hasClass('normal') ? "normal" : "admin"
			));
		});

		$("#addAcctNormal").on('click', () => post_func('add', $("#acctIdNormal").val(), 'normal'));
		$("#removeAcctNormal").on('click', () => post_func('remove', $("#acctIdNormal").val(), 'normal'));
		$("#addAcctListNormal").on('click', () => post_func('multi_add', $("#acctListNormal").val(), 'normal'));
		$("#removeAcctListNormal").on('click', () => post_func('mulit_remove', $("#acctListNormal").val(), 'normal'));

		$("#addAcctAdmin").on('click', () => post_func('add', $("#acctIdAdmin").val(), 'admin'));
		$("#removeAcctAdmin").on('click', () => post_func('remove', $("#acctIdAdmin").val(), 'admin'));
		$("#addAcctListAdmin").on('click', () => post_func('multi_add', $("#acctListAdmin").val(), 'admin'));
		$("#removeAcctListAdmin").on('click', () => post_func('multi_remove', $("#acctListAdmin").val(), 'admin'));
    }
</script>
{% end %}

{% block content %}

<div class="col-lg-10 ms-lg-2 mt-lg-2">
	<div class="accordion">
		<div class="accordion-item">
			<h2 class="accordion-header" id="headingOne">
				<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
					Account List
				</button>
			</h2>

			<div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
				<div class="accordion-body">
					<form id="form">
						<label for="#name" class="form-label">Account ID (Single)</label>
						<div class="input-group mb-1">
							<input type="number" class="form-control" placeholder="account id" id="acctIdNormal">
							<button class="btn btn-primary" id="addAcctNormal" type="button">Add</button>
							<button class="btn btn-warning" id="removeAcctNormal" type="button">Remove</button>
						</div>

						<label for="#name" class="form-label">Account ID List (Multi)</label>
						<div class="input-group mb-1">
							<input type="text" class="form-control" placeholder="account id list" id="acctListNormal">
							<button class="btn btn-primary" id="addAcctListNormal" type="button">Add</button>
							<button class="btn btn-warning" id="removeAcctListNormal" type="button">Remove</button>
						</div>
					</form>

					<table class="table table-hover table-sm table-responsive-sm col mx-lg-3">
					<thead>
						<tr>
							<th scope="col">Account ID</th>
							<th scope="col">Account</th>
							<th scope="col">Operation</th>
						</tr>
					</thead>
					<tbody>
					{% for acct in acct_list %}
						<tr>
							<th scope="row"><a href="/oj/acct/{{ acct.acct_id }}/">{{ acct.acct_id }}</a></th>
							<td>{{ acct.name }}</td>
							<td>
								<button class="btn btn-primary me-2 remove normal" acct_id="{{ acct.acct_id }}">Remove</button>
							</td>
						</tr>
					{% end %}
					</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<div class="accordion">
		<div class="accordion-item">
			<h2 class="accordion-header" id="headingTwo">
				<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
					Admin Account List
				</button>
			</h2>

			<div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
				<div class="accordion-body">
					<form id="form">
						<label for="#name" class="form-label">Account ID (Single)</label>
						<div class="input-group mb-1">
							<input type="number" class="form-control" placeholder="account id" id="acctIdAdmin">
							<button class="btn btn-primary" id="addAcctAdmin" type="button">Add</button>
							<button class="btn btn-warning" id="removeAcctAdmin" type="button">Remove</button>
						</div>

						<label for="#name" class="form-label">Account ID List (Multi)</label>
						<div class="input-group mb-1">
							<input type="text" class="form-control" placeholder="account id list" id="acctListAdmin">
							<button class="btn btn-primary" id="addAcctListAdmin" type="button">Add</button>
							<button class="btn btn-warning" id="removeAcctListAdmin" type="button">Remove</button>
						</div>
					</form>

					<table class="table table-hover table-sm table-responsive-sm col mx-lg-3">
					<thead>
						<tr>
							<th scope="col">Account ID</th>
							<th scope="col">Account</th>
							<th scope="col">Operation</th>
						</tr>
					</thead>
					<tbody>
					{% for acct in admin_list %}
						<tr>
							<th scope="row"><a href="/oj/acct/{{ acct.acct_id }}/">{{ acct.acct_id }}</a></th>
							<td>{{ acct.name }}</td>
							<td>
								<button class="btn btn-primary me-2 remove admin" acct_id="{{ acct.acct_id }}">Remove</button>
							</td>
						</tr>
					{% end %}
					</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

{% end %}