{% extends 'manage.html' %}

{% block head %}
<script type="text/javascript" id="contjs">
	function init() {
        let contest_id = "{{ contest_id }}";

		document.querySelectorAll('button.approval').forEach(el => {
            el.addEventListener('click', function (e) {
                let acct_id = $(this).attr('acct_id');
                $.post(`{{ url(f'/be/contests/{ contest_id }/manage/reg') }}`, {
                    'reqtype': 'approval',
                    'acct_id': acct_id,
                }, res => {
                    res = JSON.parse(res);
                    if (res.status == 'S') {
                        index.show_notify_dialog('Update Successfully', index.DIALOG_TYPE.success);
                        setTimeout(() => index.reload(), 1000);
                    } else {
                        index.show_notify_dialog(res.data, index.DIALOG_TYPE.error);
                    }
                });
            });
        });

		document.querySelectorAll('button.reject').forEach(el => {
            el.addEventListener('click', function (e) {
                let acct_id = $(this).attr('acct_id');
                $.post(`{{ url(f'/be/contests/{ contest_id }/manage/reg') }}`, {
                    'reqtype': 'reject',
                    'acct_id': acct_id,
                }, res => {
                    res = JSON.parse(res);
                    if (res.status == 'S') {
                        index.show_notify_dialog('Update Successfully', index.DIALOG_TYPE.success);
                        setTimeout(() => index.reload(), 1000);
                    } else {
                        index.show_notify_dialog(res.data, index.DIALOG_TYPE.error);
                    }
                });
            });
        });
    }
</script>
{% end %}

{% block content %}
{% from services.contests import RegMode %}
<div class="col-lg-10 ms-lg-2 mt-lg-2">
    {% if contest.reg_mode == RegMode.INVITED %}
    <p>
        Invited Mode
        Just add account at <a href="{{ url(f'/contests/{ contest_id }/manage/acct/') }}">Account Page</a>
    </p>
    {% elif contest.reg_mode == RegMode.FREE_REG %}

    <p>
    Free Registration Mode
    We don't need to approval any request.
    </p>

    {% else %}
    <table class="table table-hover table-sm table-responsive-sm col mx-lg-3">
        <thead>
            <tr>
                <th scope="col">Account ID</th>
                <th scope="col">Account</th>
                <th scope="col">Operation</th>
            </tr>
        </thead>
        <tbody>
        {% for acct in reg_list %}
            <tr>
                <th scope="row"><a href="{{ url(f'/acct/{ acct.acct_id }/') }}">{{ acct.acct_id }}</a></th>
                <td>{{ acct.name }}</td>
                <td>
                    <div class="btn-toolbar">
                        <button class="btn btn-primary me-2 approval" acct_id="{{ acct.acct_id }}">Approval</button>
                        <button class="btn btn-warning me-2 reject" acct_id="{{ acct.acct_id }}">Reject</button>
                    </div>
                </td>
            </tr>
        {% end %}
        </tbody>
    </table>
    {% end %}
</div>

{% end %}
